    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>[SUBJECT]</title>
      <style type="text/css">
      body {
       padding-top: 0 !important;
       padding-bottom: 0 !important;
       padding-top: 0 !important;
       padding-bottom: 0 !important;
       margin:0 !important;
       width: 100% !important;
       -webkit-text-size-adjust: 100% !important;
       -ms-text-size-adjust: 100% !important;
       -webkit-font-smoothing: antialiased !important;
     }
     .tableContent img {
       border: 0 !important;
       display: block !important;
       outline: none !important;
     }
td{
padding:10px;
}
     a{
      color:#382F2E;
    }

    p, h1{
      margin:0;
    }

    div,p,ul,h1{
      margin:0;
    }

    .bigger{
      font-size: 24px;
    }
    .bgBody{
      background: #333333;
    }
    .bgItem{
      background: #ffffff;
    }
    h2{
      color:#444444;
      font-size:16px;
      font-weight:normal;
      margin:0;
    }
    p{
      color:#AAAAAA;
      font-size:13px;
      line-height:19px;
      font-weight:normal;
    }
    a.link2{
      padding:10px 20px;
      border-radius:3px;
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
      color:#ffffff;
      font-size:13px;
      background:#C3CAA9;
      text-decoration:none;
    }

    a.link1{
      font-weight:bold;
      color:#7E8564;
      font-size:13px;
    }

    </style>
<script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"333333",
    "link":"7E8564",
    "color":"AAAAAA",
    "bgItem":"ffffff",
    "title":"444444"
  }
</script>
  </head>
  <body paddingwidth="0" paddingheight="0"  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">

<br>

                   
Hi {{user}},
<br>
<br>
Please find below Preventive Maintenance(PM) tasks due for today:
<br>
<br>

<table class="table table-striped bg-gray">
                  <tr style="font-weight:bold">
                    <td>Due Date</td>
                    <td>Site</td>
                    <td>Equipment</td>

                  </tr>

{%for pm in today%}
                  <tr class="bg-gray">
                    <td>{{pm.due_date}}</td>
                    <td>{{pm.pmschedule.site}}</td>
                    <td>{{pm.pmschedule.equipment}}</td>
		    <td><a href="{{SITE_URL}}/pm/update_pm/{{pm.id}}/">Update</a></td>


                  </tr>
{%empty%}
<tr>
<td colspan="9">
Sorry, No PM Scheduled
</td>
</tr>

                  {%endfor%}
{%for pm in due%}
                  <tr class="bg-gray">
                    <td>{{pm.due_date}}</td>
                    <td>{{pm.pmschedule.site}}</td>
                    <td>{{pm.pmschedule.equipment}}</td>
		    <td><a href="{{SITE_URL}}/pm/update_pm/{{pm.id}}/">Update</a></td>


                  </tr>

                  {%endfor%}
 

</table>
<br>

<br><br>
Thanks
                  <p style='color:#A8B0B6; font-size:13px;line-height: 16px;'>Sent by AkshyaPower Portal. Confidential data, please be careful before sending this email to anyone.
                  </p>

  

      </body>
      </html>
