    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>[SUBJECT]</title>
      <style type="text/css">
      body {
       padding-top: 0 !important;
       padding-bottom: 0 !important;
       padding-top: 0 !important;
       padding-bottom: 0 !important;
       margin:0 !important;
       width: 100% !important;
       -webkit-text-size-adjust: 100% !important;
       -ms-text-size-adjust: 100% !important;
       -webkit-font-smoothing: antialiased !important;
     }
     .tableContent img {
       border: 0 !important;
       display: block !important;
       outline: none !important;
     }
     a{
      color:#382F2E;
    }

    p, h1{
      margin:0;
    }

    div,p,ul,h1{
      margin:0;
    }

    .bigger{
      font-size: 24px;
    }
    .bgBody{
    }
    .bgItem{
      background: #ffffff;
    }
    h2{
      color:#444444;
      font-size:16px;
      font-weight:normal;
      margin:0;
    }
    p{
      color:#AAAAAA;
      font-size:13px;
      line-height:19px;
      font-weight:normal;
    }
    a.link2{
      padding:10px 20px;
      border-radius:3px;
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
      color:#ffffff;
      font-size:13px;
      background:#C3CAA9;
      text-decoration:none;
    }

    a.link1{
      font-weight:bold;
      color:#7E8564;
      font-size:13px;
    }

    </style>
<script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"333333",
    "link":"7E8564",
    "color":"AAAAAA",
    "bgItem":"ffffff",
    "title":"444444"
  }
</script>
  </head>
  <body paddingwidth="0" paddingheight="0"  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" style='font-family:Helvetica, Arial,serif;'>

      <tr>
        <td >
          <table class='bgBody' width="600" border="0" cellspacing="0" cellpadding="0" >
<!-- =============================== Header ====================================== -->           

<!-- =============================== Body ====================================== -->
          <tr>
            <td valign='top' class='movableContentContainer'>
              
            <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0"  >
                <tr>
            <td bgcolor='#E4A552'>
              <table width="600" border="0" cellspacing="0" cellpadding="0" >
                <tr><td height='28' colspan='4'></td></tr>
                <tr>
                  <td width='28'></td>

                  <td align='left' valign='middle' >
                     <div class="contentEditableContainer contentTextEditable" style='display:inline-block;'>
                      <div class="contentEditable" >
                        <p style='color:#ffffff;font-size:13px;text-decoration:none;'> AkshyaPower Portal </p>
                      </div>
                    </div>
                  </td>

                 

                  <td width='28'></td>
                </tr>
                <tr><td height='28' colspan='4'></td></tr>
              </table>
            </td>
          </tr>
              </table>
            </div>
              
              


              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0">
                  <tr><td height='10'></td></tr>
                  
                  <tr>
                    <td valign='top' class='bgItem'>
                      <table border="0" cellspacing="0" cellpadding="0" >
                        <tr><td height='25' colspan='3'></td></tr>
                        <tr>
                          <td width='25'></td>
                          <td valign='top'>
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
      


                              <div style="width:700px" class="contentEditable" >

<br>

                   
Hi {{user}},
<br>
<br>
Please find below Preventive Maintenance(PM) updated yesterday:
<br>
<br>

<table style="border:1px solid black" class="table table-striped bg-gray">
                  <tr style="font-weight:bold; border:1px solid black; background:#ccc">
                    <td>Due Date</td>
                    <td>Completed Date</td>
                    <td>Equipment</td>
                    <td>Remarks</td>
                    <td>Observations</td>
                    <td>Corrective Action</td>
                    <td>More Details</td>

                  </tr>

{%for pm in today%}
                  <tr class="bg-gray" style="border:1px solid black">
                    <td>{{pm.due_date}}</td>
                    <td>{{pm.completed_date}}</td>
                    <td>{%if pm.pmschedule.block%} {{pm.pmschedule.block}} {%endif%} {{pm.equipment}}</td>
                    <td>{%if pm.remarks%} {{pm.remarks}} {%else%} - {%endif%}</td>
                    <td>{%if pm.observations%} {{pm.observations}} {%else%} - {%endif%}</td>
                    <td>{%if pm.corrective_action%} {{pm.corrective_action}} {%else%} - {%endif%}</td>

		    <td><a href="{{SITE_URL}}/pm/alert/{{pm.id}}/">View</a></td>

                  </tr>
{%empty%}
<tr>
<td colspan="9">
</td>
</tr>

                  {%endfor%}
</table>
<br>

<br><br>
Thanks
                  <p style='color:#A8B0B6; font-size:13px;line-height: 16px;'>Sent by AkshyaPower Portal. Confidential data, please be careful before sending this email to anyone.
                  </p>

                                   </div>
                                  </div>
                                </td>

                              </tr>
                              <tr><td height='35px'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
					    <a target='_blank' href='{{alert.get_absolute_url}}' class='link1' >More Details</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width='120'></td>
                          <td >
                            <div class="contentEditableContainer contentImageEditable">
                            </div>
                          </td>
                          <td width='25'></td>
                        </tr>
                        <tr><td height='35' colspan='3'></td></tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>

              <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0" >
                  <tr><td height='50'></td></tr>

          <tr><td  style='border-bottom:1px solid #999999;'></td></tr>

          <tr><td height='25'></td></tr>

          <tr>
            <td valign='top' align='center'>
              <div class="contentEditableContainer contentTextEditable">
                <div class="contentEditable" >
                  <p style='color:#A8B0B6; font-size:13px;line-height: 16px;'>Sent by AkshyaPowe Portal. Confidential data, please be careful before sending this email to anyone.
                  </p>
                </div>
              </div>
            </td>
          </tr>
              </table>
            </div>

            
            </td>
          </tr>
<!-- =============================== footer ====================================== -->
        

        </table>
      </td>
    </tr>

    <tr><td height='55'></td></tr>


    </table>

  

      </body>
      </html>
