{%load staticfiles%}
{%load bootstrap3%}
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Login | AkshyaPower O&M Portal</title>
		<meta name="description" content="">
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Styles -->
		<link rel="stylesheet" href="{%static "css/sangoma-green.css"%}">

		<!-- JS Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{%static "js/libs/jquery.js"%}"><\/script>')</script>

		<!-- IE8 support of media queries and CSS 2/3 selectors -->
		<!--[if lt IE 9]>
			<script src="js/libs/respond.min.js"></script>
			<script src="js/libs/selectivizr.js"></script>
		<![endif]-->
		
	</head>
	<body class="login" style="padding-top:80px">
		
		<!-- Main page container -->
		<section class="container" role="main">

			<!-- Login header -->
			<div class="login-logo">
			</div>
			<!-- /Login header -->
			<center><h3>		AkshyaPower</h3></center>
			{%block content%}
			<!-- Login form -->
		

			<form method="post" action="">{%csrf_token%}
				<!-- Alert -->
				{%for message in messages%}
				<div class="alert alert-warning alert-dismissable fade in">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true" title="Close alert">&times;</button>
					<strong>Hey!</strong> {{message}}
				</div>
				{%endfor%}
				<!-- /Alert -->


			{%bootstrap_form form%}
				<button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
			</form>
			{%endblock%}
			<!-- /Login form -->
			
		</section>
		<!-- /Main page container -->

		<!-- Bootstrap scripts -->
		<script src="{%static "js/bootstrap/bootstrap.min.js"%}"></script>
		
	</body>
</html>
