{%extends 'account/login.html'%}
{%block content%}
<form action="" method="post" >
{%csrf_token%}
<div class="panel-body bg-light p30">
<div class="row">
<div class="col-sm-7 pr30">
Do you really want to logout?
<input type="hidden" name="next" value="{{ next }}" />

</div>
</div>
</div>
<div class="panel-footer clearfix p10 ph15">
<a href="/" class="btn btn-info mr10 pull-right">No!</a>
<button type="submit" class="btn btn-danger mr10 pull-right">Yes!</button>
</div>
</form>
{%endblock%}
