{%load staticfiles%}

{%include 'main/partials/header2.html'%}
{%block content%}
<section id="content" class="table-layout">
 
<div style="height: 795px;" class="tray tray-center">
 
<div class="admin-panels">
    <div class="page-heading">
        <div class="media clearfix">
            <div class="media-left pr30"><a href="#"><img class="media-object mw150" alt="..." style="width:200px" src="{%static "theme/panel.jpg"%}"></a></div>
            <div class="media-body va-m">
                <h2 class="media-heading">GISFL BAP<small> - 5 MWp Capacity</small></h2>
                <p class="lead">Bap, Phalodi - Rajasthan</p>
                <div class="media-links">
                    <ul class="list-inline list-unstyled">
                        <li><h3>17 December 2016</h3></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
<div class="col-lg-12 admin-grid">
 
 
<div class="col-lg-8 admin-grid">
 
<div class="p15 bg-green panel pl40 pr40 pt30">
<div class="row">
<div class="element-groups-custom"><a href="#" data-ecommerce_chart1="1" class="btn btn-sm btn-rounded btn-white active">CUF (%)</a><a href="#" data-ecommerce_chart1="2" class="btn btn-sm btn-rounded btn-white">PR (%)</a><a href="#" data-ecommerce_chart1="3" class="btn btn-sm btn-rounded btn-white">Generation (MWh)</a></div>
 
<div data-highcharts-chart="1" id="ecommerce_chart1" style="height: 326px;" class="mt30"><div style="position: relative; overflow: hidden; width: 775px; height: 326px; text-align: left; line-height: normal; z-index: 0; left: 0px; top: 0.5px;" id="highcharts-2" class="highcharts-container"><svg height="326" width="775" xmlns="http://www.w3.org/2000/svg" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;" version="1.1"><desc>Created with Highcharts 4.0.4</desc><defs><clipPath id="highcharts-3"><rect height="283" width="728" y="0" x="0"></rect></clipPath></defs><rect class=" highcharts-background" fill="transparent" strokeWidth="0" height="326" width="775" y="0" x="0"></rect><g zIndex="1" class="highcharts-grid"></g><g zIndex="1" class="highcharts-grid"><path opacity="1" zIndex="1" stroke-width="1" stroke="#fff" d="M 37 9.5 L 765 9.5" fill="none"></path><path opacity="1" zIndex="1" stroke-width="1" stroke="#fff" d="M 37 50.5 L 765 50.5" fill="none"></path><path opacity="1" zIndex="1" stroke-width="1" stroke="#fff" d="M 37 91.5 L 765 91.5" fill="none"></path><path opacity="1" zIndex="1" stroke-width="1" stroke="#fff" d="M 37 131.5 L 765 131.5" fill="none"></path><path opacity="1" zIndex="1" stroke-width="1" stroke="#fff" d="M 37 172.5 L 765 172.5" fill="none"></path><path opacity="1" zIndex="1" stroke-width="1" stroke="#fff" d="M 37 212.5 L 765 212.5" fill="none"></path><path opacity="1" zIndex="1" stroke-width="1" stroke="#fff" d="M 37 253.5 L 765 253.5" fill="none"></path><path opacity="1" zIndex="1" stroke-width="1" stroke="#fff" d="M 37 293.5 L 765 293.5" fill="none"></path></g><g zIndex="2" class="highcharts-axis"><path opacity="1" stroke-width="1" stroke="#fff" d="M 157.5 293 L 157.5 303" fill="none"></path><path opacity="1" stroke-width="1" stroke="#fff" d="M 218.5 293 L 218.5 303" fill="none"></path><path opacity="1" stroke-width="1" stroke="#fff" d="M 279.5 293 L 279.5 303" fill="none"></path><path opacity="1" stroke-width="1" stroke="#fff" d="M 339.5 293 L 339.5 303" fill="none"></path><path opacity="1" stroke-width="1" stroke="#fff" d="M 400.5 293 L 400.5 303" fill="none"></path><path opacity="1" stroke-width="1" stroke="#fff" d="M 461.5 293 L 461.5 303" fill="none"></path><path opacity="1" stroke-width="1" stroke="#fff" d="M 521.5 293 L 521.5 303" fill="none"></path><path opacity="1" stroke-width="1" stroke="#fff" d="M 582.5 293 L 582.5 303" fill="none"></path><path opacity="1" stroke-width="1" stroke="#fff" d="M 643.5 293 L 643.5 303" fill="none"></path><path opacity="1" stroke-width="1" stroke="#fff" d="M 703.5 293 L 703.5 303" fill="none"></path><path opacity="1" stroke-width="1" stroke="#fff" d="M 765.5 293 L 765.5 303" fill="none"></path><path opacity="1" stroke-width="1" stroke="#fff" d="M 97.5 293 L 97.5 303" fill="none"></path><path opacity="1" stroke-width="1" stroke="#fff" d="M 36.5 293 L 36.5 303" fill="none"></path><path visibility="visible" zIndex="7" stroke-width="1" stroke="#fff" d="M 37 293.5 L 765 293.5" fill="none"></path></g><g zIndex="2" class="highcharts-axis"></g><g zIndex="3" class="highcharts-series-group"><g clip-path="url(#highcharts-3)" transform="translate(37,10) scale(1 1)" zIndex="0.1" visibility="visible" class="highcharts-series"><path transform="translate(1, 10)" stroke-opacity="0.015" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="19" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 242.57142857142856 L 91 210.22857142857143 L 151.66666666666666 145.54285714285714 L 212.33333333333334 105.11428571428573 L 273 129.37142857142857 L 333.66666666666663 190.01428571428573 L 394.3333333333333 240.95428571428573 L 454.99999999999994 206.18571428571428 L 515.6666666666666 191.63142857142856 L 576.3333333333334 159.28857142857143 L 637 122.09428571428572 L 697.6666666666666 84.09142857142857" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.03" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="17" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 242.57142857142856 L 91 210.22857142857143 L 151.66666666666666 145.54285714285714 L 212.33333333333334 105.11428571428573 L 273 129.37142857142857 L 333.66666666666663 190.01428571428573 L 394.3333333333333 240.95428571428573 L 454.99999999999994 206.18571428571428 L 515.6666666666666 191.63142857142856 L 576.3333333333334 159.28857142857143 L 637 122.09428571428572 L 697.6666666666666 84.09142857142857" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.045" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="15" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 242.57142857142856 L 91 210.22857142857143 L 151.66666666666666 145.54285714285714 L 212.33333333333334 105.11428571428573 L 273 129.37142857142857 L 333.66666666666663 190.01428571428573 L 394.3333333333333 240.95428571428573 L 454.99999999999994 206.18571428571428 L 515.6666666666666 191.63142857142856 L 576.3333333333334 159.28857142857143 L 637 122.09428571428572 L 697.6666666666666 84.09142857142857" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.06" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="13" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 242.57142857142856 L 91 210.22857142857143 L 151.66666666666666 145.54285714285714 L 212.33333333333334 105.11428571428573 L 273 129.37142857142857 L 333.66666666666663 190.01428571428573 L 394.3333333333333 240.95428571428573 L 454.99999999999994 206.18571428571428 L 515.6666666666666 191.63142857142856 L 576.3333333333334 159.28857142857143 L 637 122.09428571428572 L 697.6666666666666 84.09142857142857" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.075" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="11" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 242.57142857142856 L 91 210.22857142857143 L 151.66666666666666 145.54285714285714 L 212.33333333333334 105.11428571428573 L 273 129.37142857142857 L 333.66666666666663 190.01428571428573 L 394.3333333333333 240.95428571428573 L 454.99999999999994 206.18571428571428 L 515.6666666666666 191.63142857142856 L 576.3333333333334 159.28857142857143 L 637 122.09428571428572 L 697.6666666666666 84.09142857142857" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.09" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="9" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 242.57142857142856 L 91 210.22857142857143 L 151.66666666666666 145.54285714285714 L 212.33333333333334 105.11428571428573 L 273 129.37142857142857 L 333.66666666666663 190.01428571428573 L 394.3333333333333 240.95428571428573 L 454.99999999999994 206.18571428571428 L 515.6666666666666 191.63142857142856 L 576.3333333333334 159.28857142857143 L 637 122.09428571428572 L 697.6666666666666 84.09142857142857" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.105" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="7" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 242.57142857142856 L 91 210.22857142857143 L 151.66666666666666 145.54285714285714 L 212.33333333333334 105.11428571428573 L 273 129.37142857142857 L 333.66666666666663 190.01428571428573 L 394.3333333333333 240.95428571428573 L 454.99999999999994 206.18571428571428 L 515.6666666666666 191.63142857142856 L 576.3333333333334 159.28857142857143 L 637 122.09428571428572 L 697.6666666666666 84.09142857142857" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.12" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="5" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 242.57142857142856 L 91 210.22857142857143 L 151.66666666666666 145.54285714285714 L 212.33333333333334 105.11428571428573 L 273 129.37142857142857 L 333.66666666666663 190.01428571428573 L 394.3333333333333 240.95428571428573 L 454.99999999999994 206.18571428571428 L 515.6666666666666 191.63142857142856 L 576.3333333333334 159.28857142857143 L 637 122.09428571428572 L 697.6666666666666 84.09142857142857" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.135" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="3" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 242.57142857142856 L 91 210.22857142857143 L 151.66666666666666 145.54285714285714 L 212.33333333333334 105.11428571428573 L 273 129.37142857142857 L 333.66666666666663 190.01428571428573 L 394.3333333333333 240.95428571428573 L 454.99999999999994 206.18571428571428 L 515.6666666666666 191.63142857142856 L 576.3333333333334 159.28857142857143 L 637 122.09428571428572 L 697.6666666666666 84.09142857142857" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.15" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="1" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 242.57142857142856 L 91 210.22857142857143 L 151.66666666666666 145.54285714285714 L 212.33333333333334 105.11428571428573 L 273 129.37142857142857 L 333.66666666666663 190.01428571428573 L 394.3333333333333 240.95428571428573 L 454.99999999999994 206.18571428571428 L 515.6666666666666 191.63142857142856 L 576.3333333333334 159.28857142857143 L 637 122.09428571428572 L 697.6666666666666 84.09142857142857" fill="none"></path><path stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="2" stroke="#ff4081" d="M 30.333333333333332 242.57142857142856 L 91 210.22857142857143 L 151.66666666666666 145.54285714285714 L 212.33333333333334 105.11428571428573 L 273 129.37142857142857 L 333.66666666666663 190.01428571428573 L 394.3333333333333 240.95428571428573 L 454.99999999999994 206.18571428571428 L 515.6666666666666 191.63142857142856 L 576.3333333333334 159.28857142857143 L 637 122.09428571428572 L 697.6666666666666 84.09142857142857" fill="none"></path><path style="" class=" highcharts-tracker" zIndex="2" stroke-width="22" stroke="rgba(192,192,192,0.0001)" visibility="visible" stroke-linejoin="round" d="M 20.333333333333332 242.57142857142856 L 30.333333333333332 242.57142857142856 L 91 210.22857142857143 L 151.66666666666666 145.54285714285714 L 212.33333333333334 105.11428571428573 L 273 129.37142857142857 L 333.66666666666663 190.01428571428573 L 394.3333333333333 240.95428571428573 L 454.99999999999994 206.18571428571428 L 515.6666666666666 191.63142857142856 L 576.3333333333334 159.28857142857143 L 637 122.09428571428572 L 697.6666666666666 84.09142857142857 L 707.6666666666666 84.09142857142857" fill="none"></path></g><g style="" clip-path="none" transform="translate(37,10) scale(1 1)" zIndex="0.1" visibility="visible" class="highcharts-markers highcharts-tracker"></g><g clip-path="url(#highcharts-3)" transform="translate(37,10) scale(1 1)" zIndex="0.1" visibility="visible" class="highcharts-series"><path transform="translate(1, 10)" stroke-opacity="0.015" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="19" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 259.5514285714286 L 91 257.1257142857143 L 151.66666666666666 244.99714285714285 L 212.33333333333334 238.52857142857144 L 273 211.03714285714284 L 333.66666666666663 184.3542857142857 L 394.3333333333333 145.54285714285714 L 454.99999999999994 148.77714285714285 L 515.6666666666666 168.18285714285716 L 576.3333333333334 199.71714285714285 L 637 229.6342857142857 L 697.6666666666666 244.18857142857144" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.03" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="17" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 259.5514285714286 L 91 257.1257142857143 L 151.66666666666666 244.99714285714285 L 212.33333333333334 238.52857142857144 L 273 211.03714285714284 L 333.66666666666663 184.3542857142857 L 394.3333333333333 145.54285714285714 L 454.99999999999994 148.77714285714285 L 515.6666666666666 168.18285714285716 L 576.3333333333334 199.71714285714285 L 637 229.6342857142857 L 697.6666666666666 244.18857142857144" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.045" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="15" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 259.5514285714286 L 91 257.1257142857143 L 151.66666666666666 244.99714285714285 L 212.33333333333334 238.52857142857144 L 273 211.03714285714284 L 333.66666666666663 184.3542857142857 L 394.3333333333333 145.54285714285714 L 454.99999999999994 148.77714285714285 L 515.6666666666666 168.18285714285716 L 576.3333333333334 199.71714285714285 L 637 229.6342857142857 L 697.6666666666666 244.18857142857144" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.06" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="13" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 259.5514285714286 L 91 257.1257142857143 L 151.66666666666666 244.99714285714285 L 212.33333333333334 238.52857142857144 L 273 211.03714285714284 L 333.66666666666663 184.3542857142857 L 394.3333333333333 145.54285714285714 L 454.99999999999994 148.77714285714285 L 515.6666666666666 168.18285714285716 L 576.3333333333334 199.71714285714285 L 637 229.6342857142857 L 697.6666666666666 244.18857142857144" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.075" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="11" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 259.5514285714286 L 91 257.1257142857143 L 151.66666666666666 244.99714285714285 L 212.33333333333334 238.52857142857144 L 273 211.03714285714284 L 333.66666666666663 184.3542857142857 L 394.3333333333333 145.54285714285714 L 454.99999999999994 148.77714285714285 L 515.6666666666666 168.18285714285716 L 576.3333333333334 199.71714285714285 L 637 229.6342857142857 L 697.6666666666666 244.18857142857144" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.09" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="9" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 259.5514285714286 L 91 257.1257142857143 L 151.66666666666666 244.99714285714285 L 212.33333333333334 238.52857142857144 L 273 211.03714285714284 L 333.66666666666663 184.3542857142857 L 394.3333333333333 145.54285714285714 L 454.99999999999994 148.77714285714285 L 515.6666666666666 168.18285714285716 L 576.3333333333334 199.71714285714285 L 637 229.6342857142857 L 697.6666666666666 244.18857142857144" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.105" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="7" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 259.5514285714286 L 91 257.1257142857143 L 151.66666666666666 244.99714285714285 L 212.33333333333334 238.52857142857144 L 273 211.03714285714284 L 333.66666666666663 184.3542857142857 L 394.3333333333333 145.54285714285714 L 454.99999999999994 148.77714285714285 L 515.6666666666666 168.18285714285716 L 576.3333333333334 199.71714285714285 L 637 229.6342857142857 L 697.6666666666666 244.18857142857144" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.12" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="5" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 259.5514285714286 L 91 257.1257142857143 L 151.66666666666666 244.99714285714285 L 212.33333333333334 238.52857142857144 L 273 211.03714285714284 L 333.66666666666663 184.3542857142857 L 394.3333333333333 145.54285714285714 L 454.99999999999994 148.77714285714285 L 515.6666666666666 168.18285714285716 L 576.3333333333334 199.71714285714285 L 637 229.6342857142857 L 697.6666666666666 244.18857142857144" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.135" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="3" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 259.5514285714286 L 91 257.1257142857143 L 151.66666666666666 244.99714285714285 L 212.33333333333334 238.52857142857144 L 273 211.03714285714284 L 333.66666666666663 184.3542857142857 L 394.3333333333333 145.54285714285714 L 454.99999999999994 148.77714285714285 L 515.6666666666666 168.18285714285716 L 576.3333333333334 199.71714285714285 L 637 229.6342857142857 L 697.6666666666666 244.18857142857144" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.15" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="1" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 259.5514285714286 L 91 257.1257142857143 L 151.66666666666666 244.99714285714285 L 212.33333333333334 238.52857142857144 L 273 211.03714285714284 L 333.66666666666663 184.3542857142857 L 394.3333333333333 145.54285714285714 L 454.99999999999994 148.77714285714285 L 515.6666666666666 168.18285714285716 L 576.3333333333334 199.71714285714285 L 637 229.6342857142857 L 697.6666666666666 244.18857142857144" fill="none"></path><path stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="2" stroke="#8666d2" d="M 30.333333333333332 259.5514285714286 L 91 257.1257142857143 L 151.66666666666666 244.99714285714285 L 212.33333333333334 238.52857142857144 L 273 211.03714285714284 L 333.66666666666663 184.3542857142857 L 394.3333333333333 145.54285714285714 L 454.99999999999994 148.77714285714285 L 515.6666666666666 168.18285714285716 L 576.3333333333334 199.71714285714285 L 637 229.6342857142857 L 697.6666666666666 244.18857142857144" fill="none"></path><path style="" class=" highcharts-tracker" zIndex="2" stroke-width="22" stroke="rgba(192,192,192,0.0001)" visibility="visible" stroke-linejoin="round" d="M 20.333333333333332 259.5514285714286 L 30.333333333333332 259.5514285714286 L 91 257.1257142857143 L 151.66666666666666 244.99714285714285 L 212.33333333333334 238.52857142857144 L 273 211.03714285714284 L 333.66666666666663 184.3542857142857 L 394.3333333333333 145.54285714285714 L 454.99999999999994 148.77714285714285 L 515.6666666666666 168.18285714285716 L 576.3333333333334 199.71714285714285 L 637 229.6342857142857 L 697.6666666666666 244.18857142857144 L 707.6666666666666 244.18857142857144" fill="none"></path></g><g style="" clip-path="none" transform="translate(37,10) scale(1 1)" zIndex="0.1" visibility="visible" class="highcharts-markers highcharts-tracker"></g><g clip-path="url(#highcharts-3)" transform="translate(37,10) scale(1 1)" zIndex="0.1" visibility="visible" class="highcharts-series"><path transform="translate(1, 10)" stroke-opacity="0.015" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="19" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 161.71428571428572 L 91 129.37142857142857 L 151.66666666666666 99.45428571428573 L 212.33333333333334 46.08857142857144 L 273 105.11428571428573 L 333.66666666666663 145.54285714285714 L 394.3333333333333 90.56 L 454.99999999999994 128.56285714285713 L 515.6666666666666 104.30571428571429 L 576.3333333333334 168.99142857142857 L 637 189.2057142857143 L 697.6666666666666 222.35714285714286" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.03" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="17" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 161.71428571428572 L 91 129.37142857142857 L 151.66666666666666 99.45428571428573 L 212.33333333333334 46.08857142857144 L 273 105.11428571428573 L 333.66666666666663 145.54285714285714 L 394.3333333333333 90.56 L 454.99999999999994 128.56285714285713 L 515.6666666666666 104.30571428571429 L 576.3333333333334 168.99142857142857 L 637 189.2057142857143 L 697.6666666666666 222.35714285714286" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.045" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="15" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 161.71428571428572 L 91 129.37142857142857 L 151.66666666666666 99.45428571428573 L 212.33333333333334 46.08857142857144 L 273 105.11428571428573 L 333.66666666666663 145.54285714285714 L 394.3333333333333 90.56 L 454.99999999999994 128.56285714285713 L 515.6666666666666 104.30571428571429 L 576.3333333333334 168.99142857142857 L 637 189.2057142857143 L 697.6666666666666 222.35714285714286" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.06" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="13" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 161.71428571428572 L 91 129.37142857142857 L 151.66666666666666 99.45428571428573 L 212.33333333333334 46.08857142857144 L 273 105.11428571428573 L 333.66666666666663 145.54285714285714 L 394.3333333333333 90.56 L 454.99999999999994 128.56285714285713 L 515.6666666666666 104.30571428571429 L 576.3333333333334 168.99142857142857 L 637 189.2057142857143 L 697.6666666666666 222.35714285714286" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.075" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="11" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 161.71428571428572 L 91 129.37142857142857 L 151.66666666666666 99.45428571428573 L 212.33333333333334 46.08857142857144 L 273 105.11428571428573 L 333.66666666666663 145.54285714285714 L 394.3333333333333 90.56 L 454.99999999999994 128.56285714285713 L 515.6666666666666 104.30571428571429 L 576.3333333333334 168.99142857142857 L 637 189.2057142857143 L 697.6666666666666 222.35714285714286" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.09" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="9" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 161.71428571428572 L 91 129.37142857142857 L 151.66666666666666 99.45428571428573 L 212.33333333333334 46.08857142857144 L 273 105.11428571428573 L 333.66666666666663 145.54285714285714 L 394.3333333333333 90.56 L 454.99999999999994 128.56285714285713 L 515.6666666666666 104.30571428571429 L 576.3333333333334 168.99142857142857 L 637 189.2057142857143 L 697.6666666666666 222.35714285714286" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.105" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="7" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 161.71428571428572 L 91 129.37142857142857 L 151.66666666666666 99.45428571428573 L 212.33333333333334 46.08857142857144 L 273 105.11428571428573 L 333.66666666666663 145.54285714285714 L 394.3333333333333 90.56 L 454.99999999999994 128.56285714285713 L 515.6666666666666 104.30571428571429 L 576.3333333333334 168.99142857142857 L 637 189.2057142857143 L 697.6666666666666 222.35714285714286" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.12" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="5" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 161.71428571428572 L 91 129.37142857142857 L 151.66666666666666 99.45428571428573 L 212.33333333333334 46.08857142857144 L 273 105.11428571428573 L 333.66666666666663 145.54285714285714 L 394.3333333333333 90.56 L 454.99999999999994 128.56285714285713 L 515.6666666666666 104.30571428571429 L 576.3333333333334 168.99142857142857 L 637 189.2057142857143 L 697.6666666666666 222.35714285714286" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.135" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="3" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 161.71428571428572 L 91 129.37142857142857 L 151.66666666666666 99.45428571428573 L 212.33333333333334 46.08857142857144 L 273 105.11428571428573 L 333.66666666666663 145.54285714285714 L 394.3333333333333 90.56 L 454.99999999999994 128.56285714285713 L 515.6666666666666 104.30571428571429 L 576.3333333333334 168.99142857142857 L 637 189.2057142857143 L 697.6666666666666 222.35714285714286" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.15" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="1" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 161.71428571428572 L 91 129.37142857142857 L 151.66666666666666 99.45428571428573 L 212.33333333333334 46.08857142857144 L 273 105.11428571428573 L 333.66666666666663 145.54285714285714 L 394.3333333333333 90.56 L 454.99999999999994 128.56285714285713 L 515.6666666666666 104.30571428571429 L 576.3333333333334 168.99142857142857 L 637 189.2057142857143 L 697.6666666666666 222.35714285714286" fill="none"></path><path stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="2" stroke="#f57f17" d="M 30.333333333333332 161.71428571428572 L 91 129.37142857142857 L 151.66666666666666 99.45428571428573 L 212.33333333333334 46.08857142857144 L 273 105.11428571428573 L 333.66666666666663 145.54285714285714 L 394.3333333333333 90.56 L 454.99999999999994 128.56285714285713 L 515.6666666666666 104.30571428571429 L 576.3333333333334 168.99142857142857 L 637 189.2057142857143 L 697.6666666666666 222.35714285714286" fill="none"></path><path style="" class=" highcharts-tracker" zIndex="2" stroke-width="22" stroke="rgba(192,192,192,0.0001)" visibility="visible" stroke-linejoin="round" d="M 20.333333333333332 161.71428571428572 L 30.333333333333332 161.71428571428572 L 91 129.37142857142857 L 151.66666666666666 99.45428571428573 L 212.33333333333334 46.08857142857144 L 273 105.11428571428573 L 333.66666666666663 145.54285714285714 L 394.3333333333333 90.56 L 454.99999999999994 128.56285714285713 L 515.6666666666666 104.30571428571429 L 576.3333333333334 168.99142857142857 L 637 189.2057142857143 L 697.6666666666666 222.35714285714286 L 707.6666666666666 222.35714285714286" fill="none"></path></g><g style="" clip-path="none" transform="translate(37,10) scale(1 1)" zIndex="0.1" visibility="visible" class="highcharts-markers highcharts-tracker"></g><g clip-path="url(#highcharts-3)" transform="translate(37,10) scale(1 1)" zIndex="0.1" visibility="visible" class="highcharts-series"><path transform="translate(1, 10)" stroke-opacity="0.015" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="19" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 194.05714285714288 L 91 234.4857142857143 L 151.66666666666666 242.57142857142856 L 212.33333333333334 161.71428571428572 L 273 145.54285714285714 L 333.66666666666663 105.11428571428573 L 394.3333333333333 33.96000000000001 L 454.99999999999994 88.13428571428571 L 515.6666666666666 168.99142857142857 L 576.3333333333334 193.24857142857144 L 637 205.37714285714287 L 697.6666666666666 230.44285714285715" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.03" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="17" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 194.05714285714288 L 91 234.4857142857143 L 151.66666666666666 242.57142857142856 L 212.33333333333334 161.71428571428572 L 273 145.54285714285714 L 333.66666666666663 105.11428571428573 L 394.3333333333333 33.96000000000001 L 454.99999999999994 88.13428571428571 L 515.6666666666666 168.99142857142857 L 576.3333333333334 193.24857142857144 L 637 205.37714285714287 L 697.6666666666666 230.44285714285715" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.045" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="15" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 194.05714285714288 L 91 234.4857142857143 L 151.66666666666666 242.57142857142856 L 212.33333333333334 161.71428571428572 L 273 145.54285714285714 L 333.66666666666663 105.11428571428573 L 394.3333333333333 33.96000000000001 L 454.99999999999994 88.13428571428571 L 515.6666666666666 168.99142857142857 L 576.3333333333334 193.24857142857144 L 637 205.37714285714287 L 697.6666666666666 230.44285714285715" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.06" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="13" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 194.05714285714288 L 91 234.4857142857143 L 151.66666666666666 242.57142857142856 L 212.33333333333334 161.71428571428572 L 273 145.54285714285714 L 333.66666666666663 105.11428571428573 L 394.3333333333333 33.96000000000001 L 454.99999999999994 88.13428571428571 L 515.6666666666666 168.99142857142857 L 576.3333333333334 193.24857142857144 L 637 205.37714285714287 L 697.6666666666666 230.44285714285715" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.075" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="11" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 194.05714285714288 L 91 234.4857142857143 L 151.66666666666666 242.57142857142856 L 212.33333333333334 161.71428571428572 L 273 145.54285714285714 L 333.66666666666663 105.11428571428573 L 394.3333333333333 33.96000000000001 L 454.99999999999994 88.13428571428571 L 515.6666666666666 168.99142857142857 L 576.3333333333334 193.24857142857144 L 637 205.37714285714287 L 697.6666666666666 230.44285714285715" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.09" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="9" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 194.05714285714288 L 91 234.4857142857143 L 151.66666666666666 242.57142857142856 L 212.33333333333334 161.71428571428572 L 273 145.54285714285714 L 333.66666666666663 105.11428571428573 L 394.3333333333333 33.96000000000001 L 454.99999999999994 88.13428571428571 L 515.6666666666666 168.99142857142857 L 576.3333333333334 193.24857142857144 L 637 205.37714285714287 L 697.6666666666666 230.44285714285715" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.105" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="7" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 194.05714285714288 L 91 234.4857142857143 L 151.66666666666666 242.57142857142856 L 212.33333333333334 161.71428571428572 L 273 145.54285714285714 L 333.66666666666663 105.11428571428573 L 394.3333333333333 33.96000000000001 L 454.99999999999994 88.13428571428571 L 515.6666666666666 168.99142857142857 L 576.3333333333334 193.24857142857144 L 637 205.37714285714287 L 697.6666666666666 230.44285714285715" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.12" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="5" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 194.05714285714288 L 91 234.4857142857143 L 151.66666666666666 242.57142857142856 L 212.33333333333334 161.71428571428572 L 273 145.54285714285714 L 333.66666666666663 105.11428571428573 L 394.3333333333333 33.96000000000001 L 454.99999999999994 88.13428571428571 L 515.6666666666666 168.99142857142857 L 576.3333333333334 193.24857142857144 L 637 205.37714285714287 L 697.6666666666666 230.44285714285715" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.135" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="3" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 194.05714285714288 L 91 234.4857142857143 L 151.66666666666666 242.57142857142856 L 212.33333333333334 161.71428571428572 L 273 145.54285714285714 L 333.66666666666663 105.11428571428573 L 394.3333333333333 33.96000000000001 L 454.99999999999994 88.13428571428571 L 515.6666666666666 168.99142857142857 L 576.3333333333334 193.24857142857144 L 637 205.37714285714287 L 697.6666666666666 230.44285714285715" fill="none"></path><path transform="translate(1, 10)" stroke-opacity="0.15" isShadow="true" stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="1" stroke="rgba(117, 117, 117, 0.3)" d="M 30.333333333333332 194.05714285714288 L 91 234.4857142857143 L 151.66666666666666 242.57142857142856 L 212.33333333333334 161.71428571428572 L 273 145.54285714285714 L 333.66666666666663 105.11428571428573 L 394.3333333333333 33.96000000000001 L 454.99999999999994 88.13428571428571 L 515.6666666666666 168.99142857142857 L 576.3333333333334 193.24857142857144 L 637 205.37714285714287 L 697.6666666666666 230.44285714285715" fill="none"></path><path stroke-linecap="round" stroke-linejoin="round" zIndex="1" stroke-width="2" stroke="#26c6da" d="M 30.333333333333332 194.05714285714288 L 91 234.4857142857143 L 151.66666666666666 242.57142857142856 L 212.33333333333334 161.71428571428572 L 273 145.54285714285714 L 333.66666666666663 105.11428571428573 L 394.3333333333333 33.96000000000001 L 454.99999999999994 88.13428571428571 L 515.6666666666666 168.99142857142857 L 576.3333333333334 193.24857142857144 L 637 205.37714285714287 L 697.6666666666666 230.44285714285715" fill="none"></path><path style="" class=" highcharts-tracker" zIndex="2" stroke-width="22" stroke="rgba(192,192,192,0.0001)" visibility="visible" stroke-linejoin="round" d="M 20.333333333333332 194.05714285714288 L 30.333333333333332 194.05714285714288 L 91 234.4857142857143 L 151.66666666666666 242.57142857142856 L 212.33333333333334 161.71428571428572 L 273 145.54285714285714 L 333.66666666666663 105.11428571428573 L 394.3333333333333 33.96000000000001 L 454.99999999999994 88.13428571428571 L 515.6666666666666 168.99142857142857 L 576.3333333333334 193.24857142857144 L 637 205.37714285714287 L 697.6666666666666 230.44285714285715 L 707.6666666666666 230.44285714285715" fill="none"></path></g><g style="" clip-path="none" transform="translate(37,10) scale(1 1)" zIndex="0.1" visibility="visible" class="highcharts-markers highcharts-tracker"></g></g><g zIndex="7" class="highcharts-axis-labels highcharts-xaxis-labels"><text opacity="1" y="313" style="width:41px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" x="67.33333333333333">Jan</text><text opacity="1" y="313" style="width:41px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" x="127.99999999999999">Feb</text><text opacity="1" y="313" style="width:41px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" x="188.66666666666666">Mar</text><text opacity="1" y="313" style="width:41px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" x="249.3333333333333">Apr</text><text opacity="1" y="313" style="width:41px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" x="310">May</text><text opacity="1" y="313" style="width:41px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" x="370.66666666666663">Jun</text><text opacity="1" y="313" style="width:41px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" x="431.3333333333333">Jul</text><text opacity="1" y="313" style="width:41px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" x="491.99999999999994">Aug</text><text opacity="1" y="313" style="width:41px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" x="552.6666666666666">Sep</text><text opacity="1" y="313" style="width:41px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" x="613.3333333333333">Oct</text><text opacity="1" y="313" style="width:41px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" x="674">Nov</text><text opacity="1" y="313" style="width:41px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" x="734.6666666666666">Dec</text></g><g zIndex="7" class="highcharts-axis-labels highcharts-yaxis-labels"><text opacity="1" y="300" style="width:236px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="end" x="22">0</text><text opacity="1" y="259.57142857142856" style="width:236px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="end" x="22">5</text><text opacity="1" y="219.14285714285714" style="width:236px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="end" x="22">10</text><text opacity="1" y="178.71428571428572" style="width:236px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="end" x="22">15</text><text opacity="1" y="138.28571428571428" style="width:236px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="end" x="22">20</text><text opacity="1" y="97.85714285714286" style="width:236px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="end" x="22">25</text><text opacity="1" y="57.428571428571445" style="width:236px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="end" x="22">30</text><text opacity="1" y="17" style="width:236px;color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="end" x="22">35</text></g><g transform="translate(0,-9999)" style="cursor:default;padding:0;white-space:nowrap;" zIndex="8" class="highcharts-tooltip"><path transform="translate(1, 1)" stroke-width="5" stroke-opacity="0.049999999999999996" stroke="black" isShadow="true" d="M 3 0 L 13 0 C 16 0 16 0 16 3 L 16 13 C 16 16 16 16 13 16 L 3 16 C 0 16 0 16 0 13 L 0 3 C 0 0 0 0 3 0" fill="none"></path><path transform="translate(1, 1)" stroke-width="3" stroke-opacity="0.09999999999999999" stroke="black" isShadow="true" d="M 3 0 L 13 0 C 16 0 16 0 16 3 L 16 13 C 16 16 16 16 13 16 L 3 16 C 0 16 0 16 0 13 L 0 3 C 0 0 0 0 3 0" fill="none"></path><path transform="translate(1, 1)" stroke-width="1" stroke-opacity="0.15" stroke="black" isShadow="true" d="M 3 0 L 13 0 C 16 0 16 0 16 3 L 16 13 C 16 16 16 16 13 16 L 3 16 C 0 16 0 16 0 13 L 0 3 C 0 0 0 0 3 0" fill="none"></path><path d="M 3 0 L 13 0 C 16 0 16 0 16 3 L 16 13 C 16 16 16 16 13 16 L 3 16 C 0 16 0 16 0 13 L 0 3 C 0 0 0 0 3 0" fill="rgba(249, 249, 249, .85)"></path><text y="21" style="font-size:12px;color:#333333;fill:#333333;" zIndex="1" x="8"></text></g></svg></div></div>
</div>
</div>
</div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-xs-12 col-sm-6 col-lg-12">
<div class="panel center-column">
<div class="panel-body pn">
<div class="p10 pt14 pb14 reveal-table-cell w100p text-left">
<div class="br-l-gr-scooter pr20 pl20 pb5 posr">
<div class="text-primary fs30 text-bold">1,426</div>
<p class="fs12 text-uppercase mbn">SOLAR ACCOUNT</p>
</div>
</div>
<div class="br-l reveal-table-cell pr25 pl25 pt5 va-m">
<div class="text-primary fa fa-arrow-up fs18"></div>
<p class="fs14 mt10 mbn">3%</p>
</div>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-lg-12">
<div class="panel center-column">
<div class="panel-body pn">
<div class="p10 pt14 pb14 reveal-table-cell w100p text-left">
<div class="br-l-gr-heliotrope pr20 pl20 pb5 posr">
<div class="text-alert-light fs30 text-bold">63,262</div>
<p class="fs12 text-uppercase mbn">ENVIORNMENTAL SAVINGS</p>
</div>
</div>
<div class="br-l reveal-table-cell pr25 pl25 pt5 va-m">
<div class="text-primary fa fa-arrow-up fs18"></div>
<p class="fs14 mt10 mbn">2%</p>
</div>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-lg-12">
<div class="panel center-column">
<div class="panel-body pn">
<div class="p10 pt14 pb14 reveal-table-cell w100p text-left">
<div class="br-lgr-bright-sun pr20 pl20 pb5 posr">
<div class="text-danger-light fs30 text-bold">248</div>
<p class="fs12 text-uppercase mbn">17 December 2016</p>
</div>
</div>
<div class="br-l reveal-table-cell pr25 pl25 pt5 va-m">
<div class="text-primary fa fa-arrow-up fs18"></div>
<p class="fs14 mt10 mbn">1%</p>
</div>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-lg-12">
<div class="panel center-column">
<div class="panel-body pn">
<div class="p10 pt14 pb14 reveal-table-cell w100p text-left">
<div class="br-l-gr-pastel-magenta pr20 pl20 pb5 posr">
<div class="text-violet-red fs30 text-bold">6,718</div>
<p class="fs12 text-uppercase mbn">December 2016</p>
</div>
</div>
<div class="br-l reveal-table-cell pr25 pl25 pt5 va-m">
<div class="text-violet-red fa fa-arrow-down fs18"></div>
<p class="fs14 mt10 mbn">6%</p>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{%endblock%} 

{%include 'main/partials/footer.html'%}

{%block script%}

{%endblock%}
