{%load staticfiles%}
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Calendar | Sangoma Bootstrap Admin Template</title>
		<meta name="description" content="">
		<meta name="author" content="Walking Pixels | www.walkingpixels.com">
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- jQuery FullCalendar Styles -->
		<link rel='stylesheet' type='text/css' href='{%static "css/plugins/fullcalendar/fullcalendar.css"%}'>

		<!-- Styles -->
		<link rel="stylesheet" href="{%static "css/sangoma-red.css"%}">

		<!-- JS Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="{%static "js/libs/jquery.js"%}"></script>
		<script src="{%static "js/libs/modernizr.js"%}"></script>

		<!-- IE8 support of media queries and CSS 2/3 selectors -->
		<!--[if lt IE 9]>
			<script src="js/libs/respond.min.js"></script>
			<script src="js/libs/selectivizr.js"></script>
		<![endif]-->
		
		<script>
			$(document).ready(function(){
				
				// Tooltips
				$('[title]').tooltip();

				// Tabs
				$('.demoTabs a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
					$('.fullcalendar, .full-calendar-gcal').fullCalendar('render'); // Refresh jQuery FullCalendar for hidden tabs
				})
				
			});
		</script>
		
	</head>
	<body>
		
		<!-- Full height wrapper -->
		<div id="wrapper">

			<!-- Main page header -->
			<header id="header" class="container">

				<h1>
					<!-- Main page logo -->
					<a href="login.html">O&M Portal</a>
					
					<!-- Main page headline -->
					<span>Solar Operations Management </span>
				</h1>
				
				<!-- User profile -->
				<div class="user-profile">
					<figure>

						<!-- User profile avatar -->
						<img alt="John Pixel avatar" src="http://placekitten.com/60/60">

						<!-- User profile info -->
						<figcaption>
							<strong><a href="user-profile.html">John Pixel</a></strong>
							<ul>
								<li><a href="#" title="Message inbox">inbox</a></li>
								<li><a href="#" title="Account settings">settings</a></li>
								<li><a href="login.html" title="Logout">logout</a></li>
							</ul>
						</figcaption>
						<!-- /User profile info -->

					</figure>
				</div>
				<!-- /User profile -->

				<!-- Main navigation -->
				<nav class="main-navigation navbar navbar-default" role="navigation">

					<!-- Collapse navigation for mobile -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navigation-collapse">
							<span class="elusive icon-calendar"></span> Calendar
						</button>
					</div>
					<!-- /Collapse navigation for mobile -->

					<!-- Navigation -->
					<div class="main-navigation-collapse collapse navbar-collapse">

						<!-- Navigation items -->
						<ul class="nav navbar-nav">

							<li>
								<a href="index.html"><span class="elusive icon-home"></span> Dashboard</a>
							</li>

							<!-- Dropdown navigation items -->
							<li class="dropdown active">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="elusive icon-asl"></span> Components <b class="caret"></b></a>
								<span class="badge">23</span>
								<ul class="dropdown-menu">
									<li><a href="tables.html"><span class="elusive icon-th-list"></span> Tables</a></li>
									<li><a href="forms.html"><span class="elusive icon-align-left"></span> Forms</a></li>
									<li class="active"><a href="calendar.html"><span class="elusive icon-calendar"></span> Calendar</a></li>
									<li><a href="charts.html"><span class="elusive icon-graph"></span> Charts</a></li>
									<li><a href="gallery.html"><span class="elusive icon-picture"></span> Gallery</a></li>
									<li><a href="file-explorer.html"><span class="elusive icon-inbox"></span> File explorer</a></li>
									<li class="divider"></li>
									<li><a href="ui-buttons.html"><span class="elusive icon-cogs"></span> UI &amp; Buttons</a></li>
									<li><a href="typo.html"><span class="elusive icon-font"></span> Typography</a><span class="badge">7</span></li>
									<li><a href="grid.html"><span class="elusive icon-th"></span> Grid</a></li>
									<li><a href="goodies.html"><span class="elusive icon-heart"></span> Goodies</a></li>
								</ul>
							</li>
							<!-- /Dropdown navigation items -->

							<!-- Dropdown navigation with multi-level dropdown -->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="elusive icon-file"></span> Extra <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="eshop.html"><span class="elusive icon-file"></span> Online store</a></li>
									<li><a href="add-item.html"><span class="elusive icon-file"></span> Add item / product</a></li>
									<li><a href="invoice.html"><span class="elusive icon-file"></span> Invoice</a></li>
									<li><a href="user-profile.html"><span class="elusive icon-file"></span> User profile</a></li>
									<li class="divider"></li>

									<!-- 2nd level dropdown -->
									<li class="dropdown-submenu">
										<a href="#">Login Pages</a>
										<ul class="dropdown-menu">
											<li role="presentation" class="dropdown-header">Login Pages</li>
											<li><a href="login.html"><span class="elusive icon-file"></span> Login page</a></li>
											<li><a href="lost-password.html"><span class="elusive icon-file"></span> Lost password</a></li>
										</ul>
									</li>
									<!-- /2nd level dropdown -->

									<li class="dropdown-submenu">
										<a href="#">Error Pages</a>
										<ul class="dropdown-menu">
											<li role="presentation" class="dropdown-header">Error Pages</li>
											<li><a href="401.html"><span class="elusive icon-file"></span> Error 401</a></li>
											<li><a href="403.html"><span class="elusive icon-file"></span> Error 403</a></li>
											<li><a href="404.html"><span class="elusive icon-file"></span> Error 404</a></li>
											<li><a href="500.html"><span class="elusive icon-file"></span> Error 500</a></li>
											<li><a href="503.html"><span class="elusive icon-file"></span> Error 503</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<!-- /Dropdown navigation with multi-level dropdown -->

							<li>
								<a href="docs/index.html"><span class="elusive icon-info-sign"></span> Docs</a>
							</li>
						</ul>
						<!-- /Navigation items -->

						<!-- Navigation form -->
						<form class="navbar-form navbar-right" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Type here to search&hellip;">
							</div>
							<button type="submit" class="btn btn-default"><span class="elusive icon-search"></span></button>
						</form>
						<!-- /Navigation form -->

					</div>
					<!-- /Navigation -->

				</nav>
				<!-- /Main navigation -->

			</header>
			<!-- /Main page header -->

			<!-- Main page container -->
			<section class="container" role="main">

				<!-- Grid row -->
				<div class="row">
					{%block content%}	
				{%endblock%}	
				</div>
				<!-- /Grid row -->

			</section>
			<!-- /Main page container -->
			
		</div>
		<!-- /Full height wrapper -->

		<!-- Main page footer -->
		<footer id="footer">
			<div class="container">

				<!-- Footer info -->
				<p>Built with love on <a href="http://getbootstrap.com/">Twitter Bootstrap</a> by <a href="http://www.walkingpixels.com">Walking Pixels</a></p>

				<!-- Footer nav -->
				<ul>
					<li><a href="http://support.walkingpixels.com/">Support</a></li>
					<li><a href="http://getbootstrap.com/getting-started/">Documentation</a></li>
					<li><a href="http://parallaq.com/">API</a></li>
				</ul>
				<!-- /Footer nav -->

				<!-- Footer back to top -->
				<a href="#top" class="btn btn-back-to-top" title="Back to top"><span class="elusive icon-arrow-up"></span></a>

			</div>
		</footer>
		<!-- /Main page footer -->

		<!-- Bootstrap scripts -->
		<script src="{%static "js/bootstrap/bootstrap.min.js"%}"></script>

		<!-- jQuery FullCalendar -->
		<script src="{%static "js/plugins/fullcalendar/fullcalendar.min.js"%}"></script>
		{%block scripts%}
		{%endblock%}
	</body>
</html>
