{%load staticfiles%}

{%include 'main/partials/header.html'%}
<section id="content" class="table-layout">
 
<div style="height: 795px;" class="tray tray-center">
 
{%block content%}    
{%endblock%}
</div>

</div>


</section>

 

{%include 'main/partials/footer.html'%}

{%block scripts%}

{%endblock%}

{%block extracss%}
{%endblock%}
