{%load staticfiles%}
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{%block title%}O&M Portal | AkshyaPower{%endblock%}</title>
		<meta name="description" content="">
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- FullCalendar Styles -->
		<link rel='stylesheet' type='text/css' href='{%static "css/plugins/fullcalendar/fullcalendar.css"%}'>

		<!-- PrettyCheckable Styles -->
		<link rel='stylesheet' type='text/css' href='{%static "css/plugins/prettycheckable/prettyCheckable.css"%}'>

		<!-- Styles -->
		<link rel="stylesheet" href="{%static "css/bootstrap.css"%}">
		<link rel="stylesheet" href="{%static "css/sangoma-green.css"%}">
		<link rel="stylesheet" href="{%static "css/style.css"%}">
		<link rel="stylesheet" href="{%static "select2/select2.css"%}">
		<link rel="stylesheet" href="{%static "bootstrap-datetimepicker.css"%}">
		<!-- JS Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="{%static "js/bootstrap/bootstrap.min.js"%}"></script>
		<script src="{%static "js/libs/modernizr.js"%}"></script>
		<script src="{%static "moment.min.js"%}"></script>
		<script src="{%static "bootstrap-datetimepicker.js"%}"></script>
		<link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
		<link rel="stylesheet" type="text/css" href="{%static "datatables/datatables.css"%}"/>
 
	<script type="text/javascript" src="{%static "datatables/datatables.min.js"%}"></script>

		{%block extracss%}
		{%endblock%}

		<!-- IE8 support of media queries and CSS 2/3 selectors -->
		<!--[if lt IE 9]>
			<script src="js/libs/respond.min.js"></script>
			<script src="js/libs/selectivizr.js"></script>
		<![endif]-->
		
		<script>
			$(document).ready(function(){
				
				// Tooltips
				$('[title]').tooltip();
			});
		</script>
		
	</head>
	<body>
		
		<!-- Full height wrapper -->
		<div id="wrapper">

			<!-- Main page header -->
			<header id="header" class="container">
				<div class="col-md-12" id="header-inner">
				<h1 style="float:left;">
					<!-- Main page logo -->
					<img src="{%static "img/aks.png"%}" style="height:50px"/>	
					<!-- Main page headline -->
				</h1>
				
				<!-- User profile -->
				<div class="user-profile">
					Logged in as:<strong>	{{user.username}}</strong>
					<figure>


						<!-- User profile info -->
						<figcaption style="color:#fff">
							<strong><a href="/accounts/logout/" title="Logout"><i class="icon-key elusive"></i> &nbsp;logout</a></strong>
						</figcaption>
						<!-- /User profile info -->

					</figure>
				</div>
				</div>
				<!-- /User profile -->

				<!-- Main navigation -->
				<nav class="main-navigation navbar navbar-default" role="navigation">

					<!-- Collapse navigation for mobile -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navigation-collapse">
							<span class="elusive icon-home"></span>  Dashboard
						</button>
					</div>
					<!-- /Collapse navigation for mobile -->

					<!-- Navigation -->
					<div class="main-navigation-collapse collapse navbar-collapse">

						<!-- Navigation items -->
						<ul class="nav navbar-nav">

							<!-- Active navigation items -->
							<li class="active">
								<a href="/"><span class="elusive icon-home"></span> Dashboard</a>
							</li>
							<!-- /Active navigation items -->
							{%if not user.usercompany.is_client%}
							<!-- Dropdown navigation items -->
							<!-- Dropdown navigation with multi-level dropdown -->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="elusive icon-wrench-alt"></span> Maintenance <b class="caret"></b></a>
								<ul class="dropdown-menu">
								<li data-item="energy-generation"><a href="/pm/alerts/"><span class="fa fa-flash"></span>Alerts</a></li>
<li data-item="power"><a href="/pm/schedules/"><span class="fa fa-calendar"></span>Calendar</a></li>
<li data-item="report"><a href="/pm/reports/?type=pm"><span class="fa fa-bar-chart"></span>Reports</a></li>
<li data-item="checklists"><a href="/pm/checklists/"><span class="fa fa-plus"></span>Checklists</a></li>
<li data-item="insolation"><a href="/pm/create/"><span class="fa fa-plus"></span>New Schedule</a></li>




								</ul>
							</li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="elusive icon-file-new-alt"></span>Issues<b class="caret"></b></a>
								<span class="badge">{{open_issues}}</span>
								<ul class="dropdown-menu">
{%if request.user.usercompany.role == "manager"%}

<li data-item="inbox"><a href="/inbox/"><span class="fa fa-inbox"></span>Inbox</a></li>
{%else%}
<li data-item="inbox"><a href="/inbox/"><span class="fa fa-inbox"></span>Inbox</a></li>
{%endif%}
<li data-item="genloss"><a href="/complaints/search/"><span class="fa fa-bar-chart"></span>Search</a></li>
<li data-item="genloss"><a href="/complaints/reports/"><span class="fa fa-bar-chart"></span>Reports</a></li>
<li data-item="create-issue"><a href="/complaints/create_issue/"><span class="fa fa-plus-circle"></span>New Issue</a></li>

								</ul>
							</li>
							<!-- /Dropdown navigation items -->




							<!-- Dropdown navigation with multi-level dropdown -->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="elusive icon-folder-open"></span> Stock <b class="caret"></b></a>
								<ul class="dropdown-menu">
<li data-item="stock-closing"><a href="/stock/closing/"><span class="fa fa-bars"></span>Summary</a></li>
<li data-item="stock-po"><a href="/stock/po/"><span class="fa fa-file"></span>New PR </a></li>
<li data-item="stock-new"><a href="/stock/new/"><span class="fa fa-copy"></span>New Item</a></li>
<li data-item="stock-issued"><a href="/stock/issued/"><span class="fa fa-arrow-right"></span>New Outward</a></li>
<li data-item="stock-rec"><a href="/stock/received/"><span class="fa fa-arrow-left"></span>New Inward</a></li>




								</ul>
							</li>



							{%endif%}

						</ul>

						<span style="padding-top:8px;padding-right:6px;" class="pull-right"><b>Role:</b> {{request.user.usercompany.role|upper}}
						</span>
					</div>
					<!-- /Navigation -->

				</nav>
				<!-- /Main navigation -->

			</header>
			<!-- /Main page header -->

			<!-- Main page container -->
			<section class="container" role="main">

				{%block content%}
									{%endblock%}
			</section>
			<!-- /Main page container -->
			
		</div>
		<!-- /Full height wrapper -->

		<!-- Main page footer -->
		<footer id="footer">
			<div class="container">

				<!-- Footer info -->
				<p>&copy; Copyright 2024 <a href="http://akshyapower.com/">AkshyaPower</a> by <a href="http://geekybuddha.org">Geekybuddha Technologies Pvt. Ltd.</a></p>

				<!-- Footer nav -->
				<ul>
					<li><a href="http://akshyapower.com/support/">Support</a></li>
					<li><a href="http://akshyapower.com/contact/">Contact</a></li>
				</ul>
				<!-- /Footer nav -->

				<!-- Footer back to top -->
				<a href="#top" class="btn btn-back-to-top" title="Back to top"><span class="elusive icon-arrow-up"></span></a>

			</div>
		</footer>
		<!-- /Main page footer -->

		<!-- Bootstrap scripts -->

		<!-- jQuery FullCalendar -->
		<script src="{%static "js/plugins/fullcalendar/fullcalendar.min.js"%}"></script>
		

		<!-- PrettyCheckable checkbox and radio -->
		<script src="{%static "js/plugins/prettyCheckable/prettyCheckable.js"%}"></script>

		<!-- jQuery Flot Charts -->
		<!--[if lte IE 8]>
			<script language="javascript" type="text/javascript" src="js/plugins/flot/excanvas.min.js"></script>
		<![endif]-->
		<script src="{%static "js/plugins/flot/jquery.flot.min.js"%}"></script>
		<script src="{%static "js/plugins/flot/jquery.flot.resize.min.js"%}"></script>
 
<script src="{%static "jquery.form.js"%}"></script>
<script src="{%static "js.cookie.js"%}"></script>
<script src="{%static "jquery.table2excel.js"%}"></script>
<script src="{%static "skycons.js"%}"></script>
<script src="{%static "FileSaver.min.js"%}"></script>
<script src="{%static "percircle.js"%}"></script>
<script src="{%static "leaflet.js"%}"></script>
<script src="{%static "tableexport.min.js"%}"></script>
<script src="{%static "jquery.timeago.js"%}"></script>
<script src="{%static "jquery.session.js"%}"></script>
<script src="{%static "smart-selects/admin/js/chainedfk.js"%}"></script>
<script src="{%static "smart-selects/admin/js/chainedm2m.js"%}"></script>
<script src="{%static "smart-selects/admin/js/bindfields.js"%}"></script>
<script src="{%static "excellentexport.js"%}"></script>
<script src="{%static "bootstrap-typeahead.js"%}"></script>
<script src="{%static "bootstrap-typeahead.js"%}"></script>
<script type="text/javascript" src="{%static "highcharts.js"%}"></script>
<script src="{%static "select2/select2.js"%}"></script>
<script src="{%static "exporting.js"%}"></script>
<script src="{%static "export-csv.js"%}"></script>
<script src="{%static "notify.js"%}"></script>
<script src="{%static "sparkline2.js"%}"></script>


<script src="{%static "scripts.js"%}"></script>

		{%block scripts%}
		{%endblock%}
	</body>
</html>
