{%load staticfiles%}

{% load timestamp_to_time %}          
{%include 'main/partials/header.html'%}
<section id="content" class="table-layout">
 
<div style="height: 795px;" class="tray tray-center">
 
<div class="admin-panels">
    <div class="page-heading col-md-12">
        <div class="media clearfix col-md-12">
            <div class="media-left pr30 col-md-3"><a href="#"><img class="media-object mw150" alt="..." style="width:200px" src="{%static "theme/panel.jpg"%}"></a></div>
            <div class="media-body va-m col-md-5">
                <h2 class="media-heading">{{site.name}}<small> - {{site.capacity}} MWp Capacity</small></h2>
                <p class="lead">{{site.city}}</p>
                <div class="media-links">
                    <ul class="list-inline list-unstyled">
                        <li><h3>
<a href="#">
<span title="Click to change date" id="dashboard_date">{{date}}<i class="fa  fa-chevron-down"></i></span>
</a></h3></li>
                    </ul>
                </div>

            </div>

<div class="pull-right">
<canvas class="pull-right" id="site-{{site.id}}" style="height:72px">Weather</canvas> 
<div class="temperature pull-right">
<span><h3>{{weather.summary}}</h3></span>
<span>{{weather.temperature}} DegC</span>
</div>
		   </div>



        </div>



    </div>
    
    <div class="row">
<div class="col-lg-12 admin-grid">
 
 
<div class="col-lg-7 admin-grid">
 
<div class="p15 green panel pl40 pr40 pt30">
<div class="row">
<div id="graph-container">
</div>
<div>
<hr>
<h3>Inverters Generation</h3>
<hr>
{%for inverter in inv_reports%}
<div class="panel panel-tile text-success br-b bw5 br-success-light">
<div class="panel-body pl20 p5"><i class="fa fa-list icon-sm"></i>
<h2 class="mt15 lh15"><b>{{inverter.reports.0.value}} {{inverter.unit}}</b></h2>
<h5 class="text-muted">{{inverter.device}} </h5>
</div>
</div>
{%endfor%}
</div>


</div>
</div>
</div>
<div class="col-lg-5 text-center">
<div class="row">
<div class="col-xs-12 col-sm-6 col-lg-12">
<div class="panel center-column">
<div class="panel-body pn">
<div class="p10 pt14 pb14 reveal-table-cell w100p text-left">
<div class="br-l-gr-scooter pr20 pl20 pb5 posr">
<div class="text-primary fs30 text-bold">{{revenue}}</div>
<p class="fs12 text-uppercase mbn">Revenue - 
{{date|date:"M Y"}}
<br><small>based on tarrif: INR {{site.ppa}}</small> 
</p>
</div>
</div>
<div class="br-l reveal-table-cell pr25 pl25 pt5 va-m">
<p class="fs14 mt10 mbn">INR</p>
</div>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-lg-12">
<div class="panel center-column">
<div class="panel-body pn">
<div class="p10 pt14 pb14 reveal-table-cell w100p text-left">
<div class="br-l-gr-heliotrope pr20 pl20 pb5 posr">
<div class="text-alert-light fs30 text-bold">{{savings}}</div>
<p class="fs12 text-uppercase mbn">ENVIORNMENTAL SAVINGS - 
<br>{{date|date:"M Y"}}
</p>
</div>
</div>
<div class="br-l reveal-table-cell pr25 pl25 pt5 va-m">
<p class="fs14 mt10 mbn">kg CO2</p>
</div>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-lg-12">
<div class="panel center-column">
<div class="panel-body pn">
<div class="p10 pt14 pb14 reveal-table-cell w100p text-left">
<div class="br-lgr-bright-sun pr20 pl20 pb5 posr">
<div class="text-danger-light fs30 text-bold">{{total_gen}}</div>
<p class="fs12 text-uppercase mbn">{{date}}</p>
</div>
</div>
<div class="br-l reveal-table-cell pr25 pl25 pt5 va-m">
<p class="fs14 mt10 mbn">MWh</p>
</div>
</div>


</div>
</div>
<div class="col-xs-12 col-sm-6 col-lg-12">
<div class="panel center-column">
<div class="panel-body pn">
<div class="p10 pt14 pb14 reveal-table-cell w100p text-left">
<div class="br-l-gr-pastel-magenta pr20 pl20 pb5 posr">
<div class="text-violet-red fs30 text-bold">{{month_gen}}</div>
<p class="fs12 text-uppercase mbn">{{date|date:"M Y"}}</p>
</div>
</div>
<div class="br-l reveal-table-cell pr25 pl25 pt5 va-m">
<p class="fs14 mt10 mbn">MWh</p>
</div>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-lg-12">
<div class="panel center-column">
<div class="panel-body pn">
<div class="p10 pt14 pb14 reveal-table-cell w100p text-left">
<div class="br-l-gr-pastel-magenta pr20 pl20 pb5 posr">
<div class="text-violet-red fs30 text-bold">{{total_radiation}}</div>
<p class="fs12 text-uppercase mbn">Insolation: {{date}}</p>
</div>
</div>
<div class="br-l reveal-table-cell pr25 pl25 pt5 va-m">
<p class="fs14 mt10 mbn"> kWh/m²/day</p>
</div>
</div>
</div>
</div>


<!--- graphs -->
<div class="col-xs-12 col-sm-6 col-lg-12">
<div class="panel center-column">
<div class="panel-body pn">
<div id="graph-1" class="col-xs-12 p10 pt14 pb14 reveal-table-cell w100p text-left">
</div>
</div>

</div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-lg-12">
<div class="panel center-column">
<div class="panel-body pn">
<div id="graph-2" class="col-xs-12 p10 pt14 pb14 reveal-table-cell w100p text-left">
</div>
</div>

</div>
</div>
</div>



</div>
</div>
</section>
 

{%include 'main/partials/footer.html'%}

{%block scripts%}

<script>
$(function () {


  var skycons = new Skycons({"color": "grey"});
  skycons.add("site-{{site.id}}", "{{weather.icon}}");
  skycons.play();

       Highcharts.chart('graph-container', {
 	chart: {
            zoomType: 'xy'       
 },
         title: {

            text: "Today's Generation Trend",
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
	xAxis: {
            type: 'datetime',
            title: {
                text: 'Time'
            }
        },
	yAxis:[
	{
	   opposite:true,
	   title: {
                text: 'Wh/m2'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],

        tooltip: {
            valueSuffix: '{{unit}}'
        }
	},
	{
	   title: {
                text: 'MWh'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#7cb5ec'
            }],

        tooltip: {
            valueSuffix: '{{unit}}'
        },
       legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },

	}
	],
         series: [
{%with  results.1 as report%}
{

	yAxis:1,
	   {%if parameter2 == "pr"%}
            type: 'column',
	    {%else%}
	    type: 'spline',
	   {%endif%}
            name:'Generation',
            data: 
[{%for data in report.reports%}
[{{data.time}},{{data.value}}],
{%endfor%}]        
},
{%endwith%}
{%with  results.0 as report%}
{
	   {%if parameter2 == "pr"%}
            type: 'column',
	    {%else%}
	    type: 'spline',
	   {%endif%}
            name:'Insolaiton',
            data: 
[{%for data in report.reports%}
[{{data.time}},{{data.value}}],
{%endfor%}]        
},
{%endwith%}


	]
    });
});



</script>
<script>
$(function(){
 $('#dashboard_date').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true
    }, 
    function(start, end, label) {
 var date = start.format('MM/DD/YYYY');
  window.location = "/dashboard/{{site.id}}/?date="+date; 
});
});

{%include "main/graphs/dashboard-graphs.html"%}
{%include "main/graphs/dashboard-irr-graph.html"%}
</script>


{%endblock%}
