{%load staticfiles%}

{% load timestamp_to_time %}          
{%include 'main/partials/header.html'%}
<section id="content" class="table-layout">
 
<div style="height: 795px;" class="tray tray-center">

<div class="panel">
 
<div class="panel-menu br-n messages-panel">
<div class="row">
<div class=" col-md-3">
<h3>Alert</h3>
</div>
<div class="col-xs-12 col-md-9 text-right">
<a href="/messages/" class="btn btn-default light hidden-xs mr10"><i class="fa fa-reply"></i></a>
</div>
</div>
</div>
 
<div class="message-view">
 
<div class="message-meta">
<h3 class="subject alert alert-danger"> {{alert.alert}}</h3>
<hr class="mt20 mb15">
</div>
 
<div class="message-header">
<h4 class="mt15 mb5">Device: {{alert.device}}</h4>
</div>
<hr class="mb15 mt15">
 
<div class="message-body">
<table class="table table-bordered" style="font-size:20px">

<tr>
<td><b>Start Time: </b></td>
<td class="">{{alert.start_time|timestamp_to_time:"date"}}</td>
</tr>

<tr>
<td>
<b>End Time:</b></td>
<td class="">{{alert.end_time|timestamp_to_time:"date"}}</td>
</tr>
<tr>

<td>

<b>Category:</b></td><td> {{alert.category}}
</td>

</tr>
<tr>

<td>
<b>Sub Category:</b>
</td><td> {{alert.sub_category}}
</td>

</tr>
<tr>

<td>
<b>Status:</b>
</td>
<td> 
<span class="{%if alert.status == "open"%}badge-danger badge {%else%} badge badge-info {%endif%}">
{{alert.status}}
</span>
</td>

</tr>
<tr>
<td>
<b>Assigned To:</b>
</td><td> {{alert.assigned_to}}
</td>

</tr>
<tr>
<td>

<b>Cause:</b></td>
<td> {{alert.cause}}
</td>
</tr>
<tr>

<td>
<b>Action Taken:</b> 
</td>
<td>
{{alert.action_taken}}
</td>
</tr>
</table>
<br>
<a class="btn btn-default" href="/messages/update/{{alert.id}}">Update</a>




</div>
<hr class="mb15 mt15">
 
<div class="message-footer">
</div>
</div>
 
<div class="message-reply">
</div>
</div> 


{%include 'main/partials/footer.html'%}
