{%load staticfiles%}

{%load bootstrap3%}
{% load timestamp_to_time %}          
{%include 'main/partials/header.html'%}
<section id="content" class="table-layout">
 
<div style="height: 795px;" class="tray tray-center">
 
<h3>Alerts: Monitor</h3>

<div class="pagination pull-right">
    <span class="step-links">
        {% if alerts.has_previous %}
            <a class="btn btn-sm btn-default"  href="?page={{ alerts.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ alerts.number }} of {{ alerts.paginator.num_pages }}.
        </span>

        {% if alerts.has_next %}
            <a class="btn btn-sm btn-default" href="?page={{ alerts.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>

<form method="post" action="">{%csrf_token%}
    {% bootstrap_form form %}

<button type="submit" class="button btn-primary btn mr10 pull-right">Search</button>
</form>



<table id="message-table" class="table tc-checkbox-1 admin-form theme-warning br-t">
<thead class="bg bg-info">
<tr>
<th class="text-center">Device</th>
<th class="text-center">Alert</th>
<th class="text-center">Start Time</th>
<th class="text-center">Status</th>
<th></th>
</tr>
</thead>
<tbody>

{%for alert in alerts%}
<tr class="message-unread">
<td>{{alert.device}}</td>
<td class="text-center" style="max-width:30%">
<a href="/messages?alert_id={{alert.id}}">{{alert.alerttype.alert_title}} <br> {{alert.alert}}</a></td>
<td class="text-center fw600">{{alert.start_time|timestamp_to_time:"date"}}</td>
<td class="text-center fw600">
<span class="{%if alert.status == "open"%}badge-danger badge {%else%} badge-info badge {%endif%}">

{{alert.status}}
</span>
</td>
<td class="text-center">
<div class="btn-group">
<a class="btn btn-sm btn-link" href="/messages?alert_id={{alert.id}}">View</a>
<a class="btn btn-sm btn-link" href="/messages/update/{{alert.id}}">Update</a>
</div>
</td>
</tr>

{%endfor%}
</tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if alerts.has_previous %}
            <a class="btn btn-sm btn-default"  href="?page={{ alerts.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ alerts.number }} of {{ alerts.paginator.num_pages }}.
        </span>

        {% if alerts.has_next %}
            <a class="btn btn-sm btn-default" href="?page={{ alerts.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>



{%include 'main/partials/footer.html'%}
