{% load timestamp_to_time %}          
{% load pretty_name %}          

{%if results%}

  <div class="panel">
                    <div class="panel-heading">
                        <ul class="nav panel-tabs-border panel-tabs">
                            <li class="active"><a aria-expanded="true" href="#tab1_1" data-toggle="tab">Interactive</a></li>
                            <li class=""><a aria-expanded="false" href="#tab1_2" data-toggle="tab">Table</a></li>
                            <li class=""><a aria-expanded="false" href="#tab1_3" data-toggle="tab">CSV File</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content pn br-n">
                            <div id="tab1_1" class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-12">
                                   
<div id="something" class="something"></div>


{%if parameter == "ENERGY_TOTAL_KWH"%}

<table class="table">
<thead>
<tr class="primary">

<th>Inverter</th>
<th>Sum ({{unit}})</th>
</tr>
</thead>
<tbody>
{%for data in final_sum%}
<tr>
<td>
{{data.device}}
</td>
<td>
{{data.value}} {{unit}}
</td>
<td>
</td>
</tr>

{%endfor%}

<tr>
<td>
<b>Total:</b>
</td>
<td>
<b>{{total_gen}} {{unit}}</b>
</td>
</tr>
</tbody>
</table>

{%elif parameter == "kWh-forward" or parameter == "IRR_POA"%}
{%if display%}
<table class="table">
<thead>
<tr class="primary">
<th>
</th>
<th>Daily Values</th>
<th>Unit</th>
<th>Maximum Value</th>
<th>Unit</th>
</tr>
</thead>
<tbody>
<tr>
<td>Sum of global radiation
</td>
<td>
{{total_radiation}}
</td>
<td>
 kWh/m² 
</td>
<td>
{{max_radiation}}
</td>
<td>
W/m² 
</td>
</tr>

<tr>
<td>Energy</td>
<td>{{total_gen}}</td>
<td>kWh</td>
<td>{{max_power}}</td>
<td>kW</td>
</tr>
</tbody>

</table>
{%endif%}
{%elif parameter == "variance"%}


{%elif parameter == "temperature"%}
<table class="table">
<thead>
<tr class="primary">

<th>Paramter</th>
<th>Maximum Value</th>
<th>Minimum Value</th>
</tr>
</thead>
<tbody>
<tr>
<td>
Power
</td>
<td>
{{max_power}} kW
</td>
<td>
{{min_power}} kW
</td>


</tr>
<tr>
<td>
Temperature
</td>
<td>
{{max_temp}} °C
</td>
<td>
{{min_temp}} °C
</td>


</tr>


</tbody>
</table>


{%else%}

{%if equipment == "power_analyser" or equipment == "diagram_creator"%}

{%elif equipment == "pr"%}

{%elif equipment == "input_output"%}
{%else%}
<table class="table">
<thead>
<tr class="primary">

{%if parameter == "kWh-forward"%}

{%else%}
<th>Inverter</th>
<th>Maximum Value</th>
{%endif%}
</tr>
</thead>
<tbody>
{%for data in extras%}
<tr>
<td>
{{data.device}}
</td>
<td>
{{data.value}} {{data.unit}}
</td>
</tr>

{%endfor%}
</tbody>
</table>
{%endif%}
{%endif%}

 



                                    </div>
                                </div>
                            </div>
                            <div id="tab1_2" class="tab-pane">
                                <div class="row">
                                    <div class="col-md-12">




<table class="table" id="datatable">
<thead>
<tr class="primary">

<td>Time</td>
{%for result in results%}
<td>{{result.parameter|pretty_name}}-<br>{{result.device}}<br>({{result.unit}})</td>
{%endfor%}
</tr>
</thead>
<tbody>

{%for time in timeframes%}
<tr>
<td>
{%if range_type == "year"%}
{{time|timestamp_to_time:"year"}}
{%elif range_type == "month"%}
{{time|timestamp_to_time:"month"}}
{%elif range_type == "date"%}
{{time|timestamp_to_time:"date"}}
{%endif%}

</td>
{%for device in results%}
<td id="{{device.device}}-{{time}}">
<span style="color:#139ED9">waiting</span>
</td>
{%endfor%}

</tr>


{%endfor%}
</tbody>
</table>


                                   </div>
                                </div>
                            </div>
                            <div id="tab1_3" class="tab-pane">
                                <div class="row">
                                    <div class="col-md-12">
<a href="#" class="excel-download btn btn-success">Download CSV</a>                                    
</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



</div>
<script>

$(function(){

{%if results%}


var json = JSON.parse('{{json|safe}}');
var i = 0;   

 for(i=0;i<json.length;i++){
	var td_class = json[i]['class'];
      $(td_class).html("").html(json[i]['value']);
  }
                      
    // This must be a hyperlink
    $(".excel-download").on('click', function (event) {
        // CSV
        var args = [$('#datatable'), 'export.csv'];
 function exportTableToCSV($table, filename) {

        var $rows = $table.find('tr:has(td)'),

            // Temporary delimiter characters unlikely to be typed by keyboard
            // This is to avoid accidentally splitting the actual contents
            tmpColDelim = String.fromCharCode(11), // vertical tab character
            tmpRowDelim = String.fromCharCode(0), // null character

            // actual delimiter characters for CSV format
            colDelim = '","',
            rowDelim = '"\r\n"',

            // Grab text from table into CSV formatted string
            csv = '"' + $rows.map(function (i, row) {
                var $row = $(row),
                    $cols = $row.find('td');

                return $cols.map(function (j, col) {
                    var $col = $(col),
                        text = $col.text();

                    return text.replace(/"/g, '""'); // escape double quotes

                }).get().join(tmpColDelim);

            }).get().join(tmpRowDelim)
                .split(tmpRowDelim).join(rowDelim)
                .split(tmpColDelim).join(colDelim) + '"';

				// Deliberate 'false', see comment below
        if (false && window.navigator.msSaveBlob) {

						var blob = new Blob([decodeURIComponent(csv)], {
	              type: 'text/csv;charset=utf8'
            });
            
            // Crashes in IE 10, IE 11 and Microsoft Edge
            // See MS Edge Issue #10396033: https://goo.gl/AEiSjJ
            // Hence, the deliberate 'false'
            // This is here just for completeness
            // Remove the 'false' at your own risk
            window.navigator.msSaveBlob(blob, filename);
            
        } else if (window.Blob && window.URL) {
						// HTML5 Blob        
            var blob = new Blob([csv], { type: 'text/csv;charset=utf8' });
            var csvUrl = URL.createObjectURL(blob);

            $(this)
            		.attr({
                		'download': filename,
                		'href': csvUrl
		            });
				} else {
            // Data URI
            var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

						$(this)
                .attr({
               		  'download': filename,
                    'href': csvData,
                    'target': '_blank'
            		});
        }
    }

       

        exportTableToCSV.apply(this, args);
        
        // If CSV, don't do event.preventDefault() or return false
        // We actually need this to be a typical hyperlink
    });


});


{%if equipment == "pr"%}

{%include "main/graphs/pr-graph.html"%}

{%endif%}




{%if parameter == "kWh-forward"%}

{%include "main/graphs/generation-graph.html"%}

{%elif parameter == "input_output"%}

{%include "main/graphs/io-graph.html"%}

{%elif parameter == "temperature"%}


{%include "main/graphs/temperature-graph.html"%}

{%elif parameter == "variance"%}

{%include "main/graphs/variance-graph.html"%}

{%else%}
{%if equipment != "pr"%}

{%include "main/graphs/general-graph.html"%}


{%endif%}
{%endif%}
{%endif%}

</script>
{%endif%}
