{%extends 'main/base.html'%}
{%load staticfiles%}

{%block content%}
<section id="content" style="margin-top:8px" >

<section id="content" >
<div class="row">
<div class="col-md-12">
<!--<div class="content-header">
<h3>Select  a <b class="text-primary">Solar Plant</b> to Monitor
</h3>
<p class="lead">Choose from one of the plants below</p>
</div>-->
</div>
</div>   <!-- row1 closed-->

<div class = "row">
<div class="col-md-12">

	<div class="panel">
		   <div class="panel-heading"style= "padding:8px 15px !important"><!--<span class="glyphicon glyphicon-map-marker"></span>--><h4 class= "text-primary" style="margin-bottom:10px">Select a solar plant to monitor</h4> <!--{{data.site.name}} - {{data.site.city}}</span>--></div>
	
	<div class="panel-body">
		<div id="map" style="height:550px"></div>

		<div class="panel panel-tile bg-success light">
			<div class="panel-body pn pl20 p5"><i class="fa fa-bookmark-o icon-bg"></i>
			<h2 class="mt15 lh15"><b class="text-white">{{data.site.capacity}}</b></h2>
			<h5 class="text-muted">MWp</h5>
			</div>
		</div>

               <!-- <a href="/dashboard/{{data.site.id}}/" class="btn btn-info">Go to Dashboard</a>
		<a href="http://akshyapower.com/live/dashboard/db/nsm-39-suryalabh" class="btn btn-danger">Monitor</a>
		
		<div class="pull-right">
		<canvas class="pull-right" id="site-{{data.site.id}}" style="height:72px">Weather</canvas> 
			<div class="temperature pull-right">
			<span><h3>{{data.weather.summary}}</h3></span>
			<span>{{data.weather.temperature}} DegC</span>
			</div>
		</div>-->

	</div>
 	</div>
</div> <!--col-12 ends-->

</div> <!--row2 ends-->

        


<!--</section>-->
{%endblock%}

{%block script%}
<script>
$(function(){

var mymap = L.map('map').setView([20.5937,78.9629], 5);
var akpIcon = L.icon({
    iconUrl: '{%static "theme/akshya.png"%}',
    

    iconSize:     [35, 35], // size of the icon
    
    iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
    
    popupAnchor:  [15, 0] // point from which the popup should open relative to the iconAnchor
});
{%for data in reports%}


L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1Ijoic2tib2hyYSIsImEiOiJjaXd2a2V2NnYwMHd3MnpxcmR5eHp1bnVjIn0.kcWchYcTzqBS2i-zfY1b4Q'
}).addTo(mymap)

var marker = L.marker([{{data.site.location}}],{icon: akpIcon}).addTo(mymap);
  //var skycons = new Skycons({"color": "grey"});
  //skycons.add("site-{{data.site.id}}", "{{data.weather.icon}}");
  //skycons.play();
marker.bindPopup('<h5>Site-{{data.site.name}}</h5><div>{{data.weather.summary}} {{data.weather.temperature}} DegC<h4><i class="fa fa-bookmark-o icon-sm"></i><b> {{data.site.capacity}}</b> MWp</h4></div><a href="/dashboard/{{data.site.id}}/" class="btn btn-xs btn-success" style="width:80px;">Dashboard</a>');



//<canvas class="pull-right" id="site-{{data.site.id}}" style="height:72px">Weather</canvas>

//var popup = L.popup();

//function onMapClick(e) {
  //  popup
    //    .setLatLng(e.latlng)
      //  .setContent("Site" + e.latlng)
        //.openOn(mymap);
//}

//mymap.on('click', onMapClick);

{%endfor%}
});
</script>
{%endblock%}
