{%load staticfiles%}
{%load bootstrap3%}
{%include 'main/partials/header3.html'%}
<section id="content" class="table-layout">
 
<div style="height: 795px;" class="tray tray-center">
 
<div class="col-lg-12 admin-grid">
<form id="contact" method="post" action="">{%csrf_token%}
<div class="panel-body bg-light p30">
<div class="row">
<div class="col-sm-7 pr30">
<h3> Save Server Settings </h3>
{% if messages %}
<ul class="messages">
    {% for message in messages %}

<div class="alert alert-micro alert-border-left alert-{{message.tags}} alert-dismissable">
<button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button><i class="fa fa-check pr15"></i> {{message}}.
</div>


    {% endfor %}
</ul>
{% endif %}

<form method="post" action="">{%csrf_token%}
    {% bootstrap_form form %}

<button type="submit" class="button btn-primary btn mr10 pull-right">Save</button>
</form>

 
</div>
</div>
</section>
 

{%include 'main/partials/footer.html'%}

{%block scripts%}

{%endblock%}
