{%load staticfiles%}
{% load pretty_name %}          

{%include 'main/partials/header.html'%}
<section id="content" class="table-layout">

    <div class="row">
        <div class="col-md-12">

            <div class="panel">
                <div class="panel-heading"><span class="panel-title">
{%if parameter2%}
{{parameter2|pretty_name}}
{%else%}
{{parameter|pretty_name}}
{%endif%}
</span></div>
                <div class="panel-body">
<div class="pull-right">
<div class="btn-group" role="group" aria-label="...">

<a class="btn active btn-info range-buttons day-button" href="#">Day</a>
<a href="#" class="btn btn-default range-buttons month-button">Month</a>
<a href="#" class="btn btn-default range-buttons year-button">Year</a>
</div>
</div>
                    <form class="query-form form-horizontal col-md-4" role="form" action="" method="post">{%csrf_token%}


<input type="hidden" name="parameter" value="energy">
<input type="hidden" name="range_type" value="date">
                        <div class="form-group choose-date">
                            <label class="col-md-12" for="datetimepicker2">Choose Date</label>


<input type="text" name="date" id="reportrange" class="col-md-12" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
    </input>                        
</div>

                        <div class="form-group hidden choose-month">
                            <label class="col-md-12" for="datetimepicker2">Month</label>

<select name="month">
<option value="1">
1
</option>
<option value="2">
2
</option>
<option value="3">
3
</option>
<option value="4">
4
</option>
<option value="5">
5
</option>
<option value="6">
6
</option>
<option value="7">
7
</option>
<option value="8">
8
</option>
<option value="9">
9
</option>
<option value="10">
10
</option>
<option value="11">
11
</option>
<option value="12">
12
</option>

</select>
</div>
                     <div class="form-group hidden choose-year">
                            <label class="col-md-12" for="datetimepicker2">Year</label>

<select name="year">
<option value="2009">
2009
</option>
<option value="2010">
2010
</option>
<option value="2011">
2011
</option>
<option value="2012">
2012
</option>
<option value="2013">
2013
</option>
<option value="2014">
2014
</option>
<option value="2015">
2015
</option>
<option value="2016">
2016
</option>
<option value="2017">
2017
</option>

<option value="2018">
2018
</option>

<option value="2019">
2019
</option>



</select>
</div>



{%if equipment == "diagram_creator"%}

<div class="form-group">
<label class="col-md-12" for="inverters">Selection 1</label>
<select name="diagram-option" class="diagram-option">
<option value="APPARENT_POWER_A_KVAR">
APPARENT-POWER-A-KVAR
</option>
<option value="APPARENT_POWER_B_KVAR">
APPARENT-POWER-B-KVAR
</option>
<option value="APPARENT_POWER_C_KVAR">
APPARENT-POWER-C-KVAR
</option>
<option value="CURRENT_DC_A">
Current DC-A
</option>
<option value="CURRENT_PHASE_A_A">
CURRENT-PHASE-A-A
</option>
<option value="CURRENT_PHASE_B_A">
CURRENT-PHASE-B-A
</option>
<option value="CURRENT_PHASE_C_A">
CURRENT-PHASE-C-A
</option>
<option value="POWER_ACTIVE_A_KW">
POWER-ACTIVE-A
</option>
<option value="POWER_ACTIVE_B_KW">
POWER-ACTIVE-B
</option>
<option value="POWER_ACTIVE_C_KW">
POWER-ACTIVE-C
</option>








</select>
</div>

<div class="form-group">
<label class="col-md-12" for="inverters">Selection 2</label>
<select name="diagram-option" class="diagram-option">
<option value="APPARENT_POWER_B_KVAR">
APPARENT-POWER-B-KVAR
</option>


<option value="APPARENT_POWER_A_KVAR">
APPARENT-POWER-A-KVAR
</option>
<option value="APPARENT_POWER_C_KVAR">
APPARENT-POWER-C-KVAR
</option>
<option value="CURRENT_DC_A">
Current DC-A
</option>
<option value="CURRENT_PHASE_A_A">
CURRENT-PHASE-A-A
</option>
<option value="CURRENT_PHASE_B_A">
CURRENT-PHASE-B-A
</option>
<option value="CURRENT_PHASE_C_A">
CURRENT-PHASE-C-A
</option>
<option value="POWER_ACTIVE_A_KW">
POWER-ACTIVE-A
</option>
<option value="POWER_ACTIVE_B_KW">
POWER-ACTIVE-B
</option>
<option value="POWER_ACTIVE_C_KW">
POWER-ACTIVE-C
</option>



</select>
</div>


<div class="form-group">
<label class="col-md-12" for="inverters">Selection 3</label>
<select name="diagram-option" class="diagram-option">
<option value="APPARENT_POWER_C_KVAR">
APPARENT-POWER-C-KVAR
</option>


<option value="APPARENT_POWER_A_KVAR">
APPARENT-POWER-A-KVAR
</option>
<option value="APPARENT_POWER_B_KVAR">
APPARENT-POWER-B-KVAR
</option>
<option value="CURRENT_DC_A">
Current DC-A
</option>
<option value="CURRENT_PHASE_A_A">
CURRENT-PHASE-A-A
</option>
<option value="CURRENT_PHASE_B_A">
CURRENT-PHASE-B-A
</option>
<option value="CURRENT_PHASE_C_A">
CURRENT-PHASE-C-A
</option>
<option value="POWER_ACTIVE_A_KW">
POWER-ACTIVE-A
</option>
<option value="POWER_ACTIVE_B_KW">
POWER-ACTIVE-B
</option>
<option value="POWER_ACTIVE_C_KW">
POWER-ACTIVE-C
</option>


</select>
</div>


<div class="form-group">
<label class="col-md-12" for="inverters">Selection 4</label>
<select name="diagram-option" class="diagram-option">
<option value="APPARENT_POWER">
APPARENT-POWER
</option>

<option value="APPARENT_POWER_A_KVAR">
APPARENT-POWER-A-KVAR
</option>
<option value="APPARENT_POWER_B_KVAR">
APPARENT-POWER-B-KVAR
</option>
<option value="APPARENT-POWER_C_KVAR">
APPARENT-POWER-C-KVAR
</option>
<option value="CURRENT_DC_A">
Current DC-A
</option>
<option value="CURRENT_PHASE_A_A">
CURRENT-PHASE-A-A
</option>
<option value="CURRENT_PHASE_B_A">
CURRENT-PHASE-B-A
</option>
<option value="CURRENT_PHASE_C_A">
CURRENT-PHASE-C-A
</option>
<option value="POWER_ACTIVE_A_KW">
POWER-ACTIVE-A
</option>
<option value="POWER_ACTIVE_B_KW">
POWER-ACTIVE-B
</option>
<option value="POWER_ACTIVE_C_KW">
POWER-ACTIVE-C
</option>


</select>
</div>

<div class="form-group">
<a href="#" class="next hidden btn btn-primary btn-xs">Next >> </a>
</div>
<div class="devices-list well well-sm">

<p>Select Device</p>
<div class="form-group" style="padding:10px">
{%for inverter in inverters%}
<input type="checkbox" value="{{inverter.id}}" name="select-inverter">
{{inverter.id}}
{%endfor%}
</div>

</div>






{%elif equipment == "power_analyser"%}

<div class="form-group">
<label class="col-md-12" for="inverters">Selection 1</label>
<select name="diagram-option" class="diagram-option">
<option value="A-1">
A-1
</option>
<option value="A-2">
A-2
</option>
<option value="A-3">
A-3
</option>
<option value="A-average">
A-average
</option>
<option value="V-LL-average">
V-LL-average
</option>
<option value="V-LN-average">
V-LN-average
</option>




<option value="V-12">
V-12
</option>
<option value="V-23">
V-23
</option>
<option value="V-31">
V-31
</option>
<option value="V-1N">
V-1N
</option>
<option value="V-2N">
V-2N
</option>

<option value="V-3N">
V-3N
</option>

<option value="pF-1">
pF-1
</option>
<option value="pF-2">
pF-2
</option>
<option value="pF-3">
pF-3
</option>




</select>
</div>


<div class="form-group">
<label class="col-md-12" for="inverters">Selection 2</label>
<select name="diagram-option" class="diagram-option">
<option value="A-2">
A-2
</option>


<option value="A-1">
A-1
</option>
<option value="A-3">
A-3
</option>
<option value="A-average">
A-average
</option>
<option value="V-LL-average">
V-LL-average
</option>
<option value="V-LN-average">
V-LN-average
</option>





<option value="V-12">
V-12
</option>
<option value="V-23">
V-23
</option>
<option value="V-31">
V-31
</option>
<option value="V-1N">
V-1N
</option>
<option value="V-2N">
V-2N
</option>

<option value="V-3N">
V-3N
</option>

<option value="pF-1">
pF-1
</option>
<option value="pF-2">
pF-2
</option>
<option value="pF-3">
pF-3
</option>



</select>
</div>


<div class="form-group">
<label class="col-md-12" for="inverters">Selection 3</label>
<select name="diagram-option" class="diagram-option">

<option value="A-3">
A-3
</option>

<option value="A-1">
A-1
</option>
<option value="A-2">
A-2
</option>
<option value="A-average">
A-average
</option>
<option value="V-LL-average">
V-LL-average
</option>
<option value="V-LN-average">
V-LN-average
</option>




<option value="V-12">
V-12
</option>
<option value="V-23">
V-23
</option>
<option value="V-31">
V-31
</option>
<option value="V-1N">
V-1N
</option>
<option value="V-2N">
V-2N
</option>

<option value="V-3N">
V-3N
</option>

<option value="pF-1">
pF-1
</option>
<option value="pF-2">
pF-2
</option>
<option value="pF-3">
pF-3
</option>


</select>
</div>


<div class="form-group">
<label class="col-md-12" for="inverters">Selection 4</label>
<select name="diagram-option" class="diagram-option">
<option value="A-average">
A-average
</option>

<option value="A-1">
A-1
</option>
<option value="A-2">
A-2
</option>
<option value="A-3">
A-3
</option>
<option value="V-LL-average">
V-LL-average
</option>
<option value="V-LN-average">
V-LN-average
</option>




<option value="V-12">
V-12
</option>
<option value="V-23">
V-23
</option>
<option value="V-31">
V-31
</option>
<option value="V-1N">
V-1N
</option>
<option value="V-2N">
V-2N
</option>

<option value="V-3N">
V-3N
</option>

<option value="pF-1">
pF-1
</option>
<option value="pF-2">
pF-2
</option>
<option value="pF-3">
pF-3
</option>








</select>
</div>





{%endif%}


{%if equipment == "inverter" or equipment == "combiner" and parameter2 != "pr"%}
<div class="form-group">
<label class="col-md-12" for="inverters">Selection</label>
<select name="selection" class="selection">
<option value="1">
1 device each
</option>
<option value="5">
5 device each
</option>
<option value="10">
10 device each
</option>
<option value="all">All 
</option>

</select>
</div>

<div class="form-group">
<a href="#" class="next hidden btn btn-primary btn-xs">Next >> </a>
</div>
<div class="devices-list well well-sm">

<p>Select Device</p>
<div class="form-group" style="padding:10px">
{%for inverter in inverters%}
{%if equipment == "combiner"%}
<input type="checkbox" value="{{inverter}}" name="select-inverter">
{{inverter}}


{%else%}
<input type="checkbox" value="{{inverter.id}}" name="select-inverter">
{{inverter.id}}

{%endif%}
{%endfor%}
</div>

</div>

{%endif%}

<button type="submit" class="btn btn-default ph25" id="refresh">Refresh</button>
</form>

                </div>


<div id="query-result">


        </div>
        </div>


</section>
{%include 'main/partials/footer.html'%} 


{%block script%}
<script>

// prepare the form when the DOM is ready 
$(document).ready(function() { 
    var options = { 
        beforeSubmit:  showRequest,  // pre-submit callback 
        success:       showResponse  // post-submit callback 
 
        // other available options: 
        //url:       url         // override for form's 'action' attribute 
        //type:      type        // 'get' or 'post', override for form's 'method' attribute 
        //dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
        //clearForm: true        // clear all form fields after successful submit 
        //resetForm: true        // reset the form after successful submit 
 
        // $.ajax options can be used here too, for example: 
        //timeout:   3000 
    }; 
 
    // bind form using 'ajaxForm' 
    $('.query-form').ajaxForm(options); 
}); 
 
// pre-submit callback 
function showRequest(formData, jqForm, options) { 
    // formData is an array; here we use $.param to convert it to a string to display it 
    // but the form plugin does this for you automatically when it submits the data 
    var queryString = $.param(formData); 
 
    // jqForm is a jQuery object encapsulating the form element.  To access the 
    // DOM element for the form do this: 
    // var formElement = jqForm[0]; 
 
    $("#refresh").text("Refreshing.."); 
    // here we could return false to prevent the form from being submitted; 
    // returning anything other than false will allow the form submit to continue 
    return true; 
} 
 
// post-submit callback 
function showResponse(responseText, statusText, xhr, $form)  { 
    // for normal html responses, the first argument to the success callback 
    // is the XMLHttpRequest object's responseText property 
 
    // if the ajaxForm method was passed an Options Object with the dataType 
    // property set to 'xml' then the first argument to the success callback 
    // is the XMLHttpRequest object's responseXML property 
 
    // if the ajaxForm method was passed an Options Object with the dataType 
    // property set to 'json' then the first argument to the success callback 
    // is the json data object returned by the server 
 
    	$("#refresh").text("Refresh"); 
	$("#query-result").html("").html(responseText);
} 


$(function(){

{%if parameter == "variance" or parameter2 == "pr"%}
$(".choose-date").addClass("hidden");
$(".choose-month").removeClass("hidden");
$(".choose-year").removeClass("hidden");
$(".day-button").hide();

$("input[name='range_type']").val("month");
$(".month-button").addClass("btn-info");

{%endif%}



$("select[name='year']").val("{{current_date.year}}");
$("select[name='month']").val("{{current_date.month}}");
$(".day-button").click(function(){
$(".range-buttons").removeClass("btn-info").addClass("btn-default");
$(this).addClass("btn-info");
$(".choose-date").removeClass("hidden");
$(".choose-month").addClass("hidden");
$(".choose-year").addClass("hidden");
$("input[name='range_type']").val("date");
$('.query-form').submit();
});

$(".month-button").click(function(){
$(".range-buttons").removeClass("btn-info").addClass("btn-default");
$(this).addClass("btn-info");
$(".choose-date").addClass("hidden");
$(".choose-month").removeClass("hidden");
$(".choose-year").removeClass("hidden");

$("input[name='range_type']").val("month");
$('.query-form').submit();
});

$(".year-button").click(function(){
$(".range-buttons").removeClass("btn-info").addClass("btn-default");
$(this).addClass("btn-info");
$(".choose-date").addClass("hidden");
$(".choose-month").addClass("hidden");
$(".choose-year").removeClass("hidden");
$("input[name='range_type']").val("year");

$('.query-form').submit();
});

  var value = $(".selection").val();
  $(".used").removeClass("used");
  $("input[name='select-inverter']").prop("checked",false);
  if(value=="all"){
  	$(".devices-list").hide();
  	$("input[name='select-inverter']").prop("checked",true);
	$(".next").addClass("hidden");
  }
  if(value == "1" || value == "5" || value == "10"){
  	$(".devices-list").show();
	$(".next").removeClass("hidden").click();
    
	 $("input[name='select-inverter']:first").prop("checked",true);
  }
  



$(".selection").change(function(){
  var value = $(this).val();
  $(".used").removeClass("used");
  $("input[name='select-inverter']").prop("checked",false);
  if(value=="all"){
  $(".devices-list").hide();
  $("input[name='select-inverter']").prop("checked",true);
  $(".query-form").submit();
$(".next").addClass("hidden");
  }
  if(value == "1" || value == "5" || value == "10"){
  $(".devices-list").show();
    $(".next").removeClass("hidden").click();
    
  }
  
});



$(".next").click(function(){
var qty = $(".selection").val();
var new_items = $("input[name='select-inverter']:not(:checked)").not(".used");
if(new_items.length !=0){
	new_items = $(new_items).slice(0,qty);
} else{
	$(".used").removeClass("used");
new_items = $("input[name='select-inverter']:not(:checked)").not(".used").slice(0,qty);
}

var old_items = $("input[name='select-inverter']:checked")
$(new_items).each(function(){
  $(this).prop("checked",true).addClass("used");
});
$(old_items).each(function(){
  $(this).prop("checked",false);
});
  
$(".query-form").submit();
return false;
});

$('#reportrange').on('apply.daterangepicker', function(ev, picker) {
  var month = picker.startDate.format('MM');
  var year = picker.endDate.format('YYYY');
$("select[name='year']").val(year);
$("select[name='month']").val(month);
});


$(".query-form").submit();
});

</script>
{%endblock%}
