{%load staticfiles%}
{% load pretty_name %}
{%load bootstrap3%}
{%include 'main/partials/header3.html'%}
<section id="content" class="table-layout">
 
<div style="height: 795px;" class="tray tray-center">
 


<div class="col-lg-12 admin-grid" style="margin-top:36px">

<div class="col-md-12">
                    <form class="query-form form-horizontal col-md-5" role="form" action="" method="post">{%csrf_token%}
 
    {% bootstrap_form form %}
<button type="submit" class="btn btn-default ph25" id="refresh">Refresh</button>
</form>
</div>
<div class="col-md-12">
<h3>Statistics: </h3>
<br>
<br>
<table class="table">
<tr>
<td>Actual Data Points:</td><td> {{total}}</td></tr>
<tr><td>Expected Data Points: </td><td> {{points}}</td></tr>
<tr><th>Percent:</th><td> <span style="color:green; font-size:18px">{{per}} %</span></td>
</tr>
</table>
</div>
</div>
</section>
 

{%include 'main/partials/footer.html'%}

{%block scripts%}

<script>          
/*
$(function () {
	Highcharts.wrap(Highcharts.Series.prototype, 'getSegments', function (proceed) {
    	var closestPointRange = this.xAxis.closestPointRange;
        this.xAxis.closestPointRange = 1;
        proceed.call(this);
        this.xAxis.closestPointRange = closestPointRange;
    });

Highcharts.setOptions({
    lang: {
        decimalPoint: '.',
        thousandsSep: ','
    },

    tooltip: {
        yDecimals: 2 // If you want to add 2 decimals
    }
});
       Highcharts.chart('graph', {
 	chart: {
            type: 'column',
	    zoomType: 'xy',
        },
plotOptions: {
    series: {
        fillOpacity: 0.1,
        lineWidth: 1
   
 },
},



         title: {
	  {%if parameter == "diagram_analysis"%}
            text: 'Analysis',
	  {%else%}

            text: 'Actual vs Target Data',
	  {%endif%}
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
	xAxis: {
            type: 'datetime',
            title: {
                text: 'Date'
            }
        },
      yAxis: [{
            title: {
                text: '%'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
        min: 0

        },
	{
	  tooltip: {
            valueSuffix: '%'
        },
	 opposite: true,
	   title: {
                text: '%'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
        }


],
              legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [

{%for report in metrics%}
{

            name:'%',
	    type: 'spline',
            data: 
[{%for data in report.reports%}
[{{data.time}},{{data.percentage}}],
{%endfor%}]        
},
{%endfor%}




	]
    });
});


*/
</script>


{%endblock%}
