{%load staticfiles%}
{%load bootstrap3%}
{% load pretty_name %}          
{%include 'main/partials/header.html'%}
<section id="content" class="table-layout">
 
<div style="height: 795px;" class="tray tray-center">

<div class="col-lg-12 admin-grid">

<div class="col-md-12">
<div class="col-md-2 col-md-push-4">
<form action="/combiner/" method="post" class="string-form form col-md-12 col-md-push-2">
{%csrf_token%}
    {% bootstrap_form form %}
</form>
</span>
<img src="{%static "solar-inv.png"%}" style="width:200px" alt="inverter">
</div>
</div>

{%for data in final%}
<div class="col-md-1" style="margin-bottom:40px;min-height:700px">
<span class="device-name">
{{data.device|pretty_name}}:
</span>
<img src="{%static "smb.png"%}" style="height:100px" alt="smb">
<br>
<span class="smb-current">{{data.current}} A</span>
<br>
{%for report in data.data%}
<br>
<div class="pulse {%if report.reports.0.value == "0" %} pulse-red {%endif%}"></div>
<a href="#" class="string-name" data-toggle="popover" data-trigger="focus" title="{{data.device|pretty_name}} - {{report.parameter|pretty_name|upper}}" data-content=" Current: {{report.reports.0.value}}">{{report.parameter|pretty_name|upper}}- {{report.reports.0.value}} A
</a>
<br>
{%endfor%}


</div>

{%endfor%}






</section>
 

{%include 'main/partials/footer.html'%}

{%block scripts%}
<script>



function doPoll(){
	$(".string-form").submit();
        setTimeout(doPoll,10000);
    
}



$(function(){
setTimeout(doPoll,10000);
$('#id_inverter').on('change', function() {
$(".string-form").submit();
});

$('a.string-name').on('click', function(e) {e.preventDefault(); return true;});

});
</script>
{%endblock%}
