{%load staticfiles%}
{%load bootstrap3%}
{%include 'main/partials/header3.html'%}
<section id="content" class="table-layout">
 
<div style="height: 795px;" class="tray tray-center">

<a href="/site/new/" class="btn btn-info pull-right">New User</a> 
<div class="col-lg-12 admin-grid">
{% if messages %}
<ul class="messages">
    {% for message in messages %}

<div class="alert alert-micro alert-border-left alert-{{message.tags}} alert-dismissable">
<button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button><i class="fa fa-check pr15"></i> {{message}}.
</div>


    {% endfor %}
</ul>
{% endif %}
<table class="table">
<thead>
<tr>
<th>
User Name
</th>
<th>
Mobile No.
</th>

</tr>
</thead>
<tbody>
{%for user in users%}
<tr>
<td>
{{user.user.username}}
</td>
<td>
{{user.user.profile.mobile}}
</td>









</tr>

{%endfor%}
</tbody>


</table>
</div>
</div>
</section>
 

{%include 'main/partials/footer.html'%}

{%block scripts%}

{%endblock%}
