
{% load pretty_name %}          
{% load timestamp_to_time %}          


<div class="btn-group col-md-6" role="group" aria-label="..." style="padding:20px">
  <button type="button" class="btn  {%if range_type == "day"%}btn-danger {%else%}btn-info {%endif%} dc-button dc-1d">1D</button>
  <button type="button" class="btn  {%if range_type == "week"%}btn-danger {%else%}btn-info {%endif%}  dc-button dc-1w">1W</button>
  <button type="button" class="disabled btn btn-info dc-1m">1M</button>
  <button type="button" class="disabled btn btn-info dc-6m">6M</button>
  <button type="button" class="disabled btn btn-info dc-1y">1Y</button>
</div>

<div class="col-md-6">
<p>Choose Range</p>
<input type="text" value="{{start}} - {{end}}" name="date" id="dc-reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
    </input>                        
</div>





<script>
$(function () {


var container = $("#dc-graph");
$('input[id="dc-reportrange"]').daterangepicker(
{
drops: 'up',
    locale: {
      format: 'MM/DD/YYYY'
    },
}, 
function(start, end, label) {
    var start =  start.format('MM/DD/YYYY') ;
    var end =  end.format('MM/DD/YYYY');

displayLoader(container);
$.get("/dc_graph/?date="+start+"&site={{site.id}}&range_type=custom&end="+end,function(response){

$(".dc-graph-cnt").html(response);
});




});





$(".dc-1d").click(function(){


displayLoader(container);
$.get("/dc_graph/?date={{date.month}}/{{date.day}}/{{date.year}}&site={{site.id}}&range_type=day",function(response){

$(".dc-graph-cnt").html(response);
});



});

$(".dc-1w").click(function(){

displayLoader(container);
$.get("/dc_graph/?date={{date.month}}/{{date.day}}/{{date.year}}&site={{site.id}}&range_type=week",function(response){

$(".dc-graph-cnt").html(response);
});
});





Highcharts.setOptions({
    lang: {
        decimalPoint: '.',
        thousandsSep: ','
    },

    tooltip: {
        yDecimals: 2 // If you want to add 2 decimals
    }
});
       Highcharts.chart('dc-graph', {
 	chart: {
            zoomType: 'xy'       
 },
         title: {
	  {%if parameter == "diagram_analysis"%}
            text: 'Analysis',
	  {%else%}

            text: '{{parameter|pretty_name}}',
	  {%endif%}
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
	xAxis: {
            type: 'datetime',
	{%if range_type == "month"%}
            labels: {
            format: '{value: %B/%Y}',
            align: 'right',
            rotation: -30
        },


            title: {
                text: 'Month'
            },
{%elif range_type == "year"%}
    labels: {
            format: '{value: %Y}',
            align: 'right',
            rotation: -30
        },


            title: {
                text: 'Year'
            },

{%else%}
    labels: {
            align: 'right',
            rotation: -30
        },


            title: {
                text: 'Time'
            },

{%endif%}
},
     yAxis: [{
            title: {
                text: 'V '
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
	   opposite:true
        },
	{
	   title: {
                text: 'A'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
        }

	],
        tooltip: {
            valueSuffix: '{{unit}}'
        },
        series: [

{%for report in  other_reports%}
{
	    {%if report.unit  == "A" %}
	    yAxis: 1,
	    {%endif%}
            type: 'spline',
            name:'{{report.parameter|pretty_name}}-{{report.device}}',
            data: 
[{%for data in report.reports%}
[{{data.time}},{{data.value}}],
{%endfor%}]        
},
{%endfor%}
	]
    });
});


