{% load pretty_name %}          
{% load timestamp_to_time %}          
 
<div class="btn-group col-md-6" role="group" aria-label="..." style="padding:20px">
  <button type="button" class="btn {%if range_type == "day" %} btn-danger {%else%} btn-info {%endif%}  1d-irr">1D</button>
  <button type="button" class="btn {%if range_type == "week" %} btn-danger {%else%} btn-info {%endif%}  1w-irr">1W</button>
  <button type="button" class="btn disabled {%if range_type == "month" %} btn-danger {%else%} btn-info {%endif%}  1m-irr">1M</button>
  <button type="button" class="btn disabled {%if range_type == "6months" %} btn-danger {%else%} btn-info {%endif%}  6m-irr">6M</button>
  <button type="button" class="btn disabled {%if range_type == "year" %} btn-danger {%else%} btn-info {%endif%}  1y-irr">1Y</button>
</div>

<div class="col-md-6">
<p>Choose Range</p>
<input type="text" value="{{start}} - {{end}}" name="date" id="irr-reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
    </input>                        
</div>






<script>
$(function () {

var container = $("#graph-2");
$('input[id="irr-reportrange"]').daterangepicker(
{
drops: 'up',
    locale: {
      format: 'MM/DD/YYYY'
    },
}, 
function(start, end, label) {
    var start =  start.format('MM/DD/YYYY') ;
    var end =  end.format('MM/DD/YYYY');

displayLoader(container);
$.get("/irradiance_graph/?date="+start+"&site={{site.id}}&range_type=custom&end="+end,function(response){
$(".irr-graph-cnt").html(response);
});

});




$(".1d-irr").click(function(){
displayLoader(container);
$.get("/irradiance_graph/?date={{date.month}}/{{date.day}}/{{date.year}}&site={{site.id}}&range_type=day",function(response){
$(".irr-graph-cnt").html(response);
});



});

$(".1w-irr").click(function(){

displayLoader(container);
$.get("/irradiance_graph/?date={{date.month}}/{{date.day}}/{{date.year}}&site={{site.id}}&range_type=week",function(response){

$(".irr-graph-cnt").html(response);
});



});
$(".1m-irr").click(function(){

displayLoader(container);
$.get("/irradiance_graph/?date={{date.month}}/{{date.day}}/{{date.year}}&site={{site.id}}&range_type=month",function(response){

$(".irr-graph-cnt").html(response);
});



});
$(".6m-irr").click(function(){

displayLoader(container);
$.get("/irradiance_graph/?date={{date.month}}/{{date.day}}/{{date.year}}&site={{site.id}}&range_type=6months",function(response){

$(".irr-graph-cnt").html(response);
});



});
$(".1y-irr").click(function(){

displayLoader(container);
$.get("/irradiance_graph/?date={{date.month}}/{{date.day}}/{{date.year}}&site={{site.id}}&range_type=year",function(response){

$(".irr-graph-cnt").html(response);
});



});





	Highcharts.wrap(Highcharts.Series.prototype, 'getSegments', function (proceed) {
    	var closestPointRange = this.xAxis.closestPointRange;
        this.xAxis.closestPointRange = 1;
        proceed.call(this);
        this.xAxis.closestPointRange = closestPointRange;
    });


Highcharts.setOptions({
    lang: {
        decimalPoint: '.',
        thousandsSep: ','
    },

    tooltip: {
        yDecimals: 2 // If you want to add 2 decimals
    }
});


       Highcharts.chart('graph-2', {
 	chart: {
            type: 'spline',
            marginBottom: 160,
	    zoomType: 'xy'
        },


        legend: {
        labelFormatter: function() {
      var total = 0;
	
      for(var i=this.yData.length; i--;) { total += this.yData[i]; };
      return this.name + '- Total: ' + total/60;
   }   
        },
  

         title: {
	  {%if equipment == "diagram_creator" or equipment == "power_analyser"%}
            text: 'Analysis',
	  {%else%}

            text: 'Irradiance',
	  {%endif%}
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
	xAxis: {
            type: 'datetime',
	{%if range_type == "month"%}
            labels: {
            format: '{value: %B/%Y}',
            align: 'right',
            rotation: -30
        },


            title: {
                text: 'Month'
            },
{%elif range_type == "year"%}
    labels: {
            format: '{value: %Y}',
            align: 'right',
            rotation: -30
        },


            title: {
                text: 'Year'
            },

{%else%}
    labels: {
            align: 'right',
            rotation: -30
        },


            title: {
                text: 'Time'
            },

{%endif%}
},
     yAxis: {
            title: {

               text: 'W/m2'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
	{%if parameter == "inverter_reading"%}
        min: 0
	{%endif%}
        },
        tooltip: {
              valueSuffix: 'W/m2'
        },
        series: [

{%for report in reports%}
{
            name:'{{report.parameter|pretty_name}}-{{report.device}}',
            data: 
[{%for data in report.reports%}
[{{data.time}},{{data.value}}],
{%endfor%}]        
},
{%endfor%}
	]
    });
});
</script>
