{% load pretty_name %}          
{% load timestamp_to_time %}          
 
<div class="btn-group col-md-6" role="group" aria-label="..." style="padding:20px">
  <button type="button" class="btn {%if range_type == "day" %} btn-danger {%else%} btn-info {%endif%}  1d-pro">1D</button>
  <button type="button" class="btn {%if range_type == "week" %} btn-danger {%else%} btn-info {%endif%}  1w-pro">1W</button>
  <button type="button" class="btn {%if range_type == "month" %} btn-danger {%else%} btn-info {%endif%}  1m-pro">1M</button>
  <button type="button" class="btn {%if range_type == "6months" %} btn-danger {%else%} btn-info {%endif%}  6m-pro">6M</button>
  <button type="button" class="btn {%if range_type == "year" %} btn-danger {%else%} btn-info {%endif%}  1y-pro">1Y</button>
</div>

<div class="col-md-6">
<p>Choose Range</p>
<input type="text" value="{{start}} - {{end}}" name="date" id="pro-reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
    </input>                        
</div>



<script>
$(function () {


var container = $("#graph-container");
$('input[id="pro-reportrange"]').daterangepicker(
{
drops: 'up',
    locale: {
      format: 'MM/DD/YYYY'
    },
}, 
function(start, end, label) {
  
displayLoader(container);
  var start =  start.format('MM/DD/YYYY') ;
    var end =  end.format('MM/DD/YYYY');
$.get("/production_graph/?date="+start+"&site={{site.id}}&range_type=custom&end="+end,function(response){

$(".production-graph-cnt").html(response);
});



});


$(".1d-pro").click(function(){

displayLoader(container);
$.get("/production_graph/?date={{date.month}}/{{date.day}}/{{date.year}}&site={{site.id}}&range_type=day",function(response){

$(".production-graph-cnt").html(response);
});



});

$(".1w-pro").click(function(){

displayLoader(container);
$.get("/production_graph/?date={{date.month}}/{{date.day}}/{{date.year}}&site={{site.id}}&range_type=week",function(response){

$(".production-graph-cnt").html(response);
});



});
$(".1m-pro").click(function(){

displayLoader(container);
$.get("/production_graph/?date={{date.month}}/{{date.day}}/{{date.year}}&site={{site.id}}&range_type=month",function(response){

$(".production-graph-cnt").html(response);
});



});
$(".6m-pro").click(function(){

displayLoader(container);
$.get("/production_graph/?date={{date.month}}/{{date.day}}/{{date.year}}&site={{site.id}}&range_type=6months",function(response){

$(".production-graph-cnt").html(response);
});



});
$(".1y-pro").click(function(){

displayLoader(container);
$.get("/production_graph/?date={{date.month}}/{{date.day}}/{{date.year}}&site={{site.id}}&range_type=year",function(response){

$(".production-graph-cnt").html(response);
});



});


	Highcharts.wrap(Highcharts.Series.prototype, 'getSegments', function (proceed) {
    	var closestPointRange = this.xAxis.closestPointRange;
        this.xAxis.closestPointRange = 1;
        proceed.call(this);
        this.xAxis.closestPointRange = closestPointRange;
    });


Highcharts.setOptions({
    lang: {
        decimalPoint: '.',
        thousandsSep: ','
    },

    tooltip: {
        yDecimals: 2 // If you want to add 2 decimals
    }
});


       Highcharts.chart('graph-container', {
 	chart: {

            type: 'column',
            marginBottom: 160,
	    zoomType: 'xy'
        },
plotOptions: {
        column: {
        }
    },

        legend: {
            align: 'bottom',
            verticalAlign: 'bottom',
            layout: 'vertical',
        labelFormatter: function() {
      var total = 0;
	
      for(var i=this.yData.length; i--;) { total += this.yData[i]; };
      return this.name + '- Total: ' + total/1000;
   }   
        },
         title: {
	  {%if equipment == "diagram_creator" or equipment == "power_analyser"%}
            text: 'Analysis',
	  {%else%}

            text: 'Energy Production',
	  {%endif%}
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
	xAxis: {
            type: 'datetime',
	{%if range_type == "month"%}
            labels: {
            format: '{value: %d %B %Y}',
            align: 'right',
            rotation: -30
        },


            title: {
                text: 'Month'
            },
{%elif range_type == "year"%}
    labels: {
            format: '{value:%B/ %Y}',
            align: 'right',
            rotation: -30
        },


            title: {
                text: 'Month'
            },

{%else%}
    labels: {
            align: 'right',
            rotation: -30
        },


            title: {
                text: 'Time'
            },

{%endif%}
        },
          yAxis: [{
            title: {
                text: 'Wh/Msq '
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
	   opposite:true
        },
	{
	   title: {
                text: 'KWh'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
        }

	],
tooltip: {
        formatter: function() {
            var s = [];
            $.each(this.points, function(i, point) {
                s.push(''+ point.series.name +' : '+
                    point.y +'');
            });

            return s.join(' <br> ');
        },
        shared: true
    },
        series: [

{%with  other_reports.1 as report%}
{
            yAxis: 1,
            pointWidth: 28,
            type: 'column',
            name:'{{report.parameter|pretty_name}}',
            data: 
[{%for data in report.reports%}
[{{data.time}},{{data.value}}],
{%endfor%}]        
},
{%endwith%}


{%with  other_reports.0 as report%}
{
	   type: 'spline',

            name:'{{report.parameter|pretty_name}}',
            data: 
[{%for data in report.reports%}
[{{data.time}},{{data.value}}],
{%endfor%}]        
},
{%endwith%}
	]
    });
});
</script>
