
{% load pretty_name %}          
{% load timestamp_to_time %}          


<div class="btn-group col-md-6" role="group" aria-label="..." style="padding:20px">
  <button type="button" class="btn {%if range_type == "day" %} btn-danger {%else%} btn-info {%endif%}  1d-temp">1D</button>
  <button type="button" class="btn {%if range_type == "week" %} btn-danger {%else%} btn-info {%endif%}  1w-temp">1W</button>
  <button type="button" class="disabled btn btn-info 1m">1M</button>
  <button type="button" class="disabled btn btn-info 6m">6M</button>
  <button type="button" class="disabled btn btn-info 1y">1Y</button>
</div>
<div class="col-md-6">
<p>Choose Range</p>
<input type="text" value="{{start}} - {{end}}" name="date" id="temp-reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
    </input>                        
</div>





<script>
function calculateStatistics() {
      this.series.slice(0, 6).forEach(series => { // take only two first series, the last is for the navigator
        const data = series.data.filter(point => point.isInside).map(point => point.y); // grab only points within the visible range

        // calculate statistics for visible points
        const statistics = [
          data[data.length - 1],
          Math.max.apply(null, data),
          Math.min.apply(null, data),
          (data.reduce((a, b) => a + b, 0) / data.length).toFixed(1)
        ];

        const legendItem = series.legendItem;
        let i = -1;
        // construct the legend string
        const text = legendItem.textStr.replace(/-?\d+\.\d/g, () => statistics[++i]);

        // set the constructed text for the legend
        legendItem.attr({
          text: text
        });
      });
    }


$(function () {


var container = $("#temperature-graph-container");
$('input[id="temp-reportrange"]').daterangepicker(
{
drops: 'up',
    locale: {
      format: 'MM/DD/YYYY'
    },
}, 
function(start, end, label) {
    var start =  start.format('MM/DD/YYYY') ;
    var end =  end.format('MM/DD/YYYY');


displayLoader(container);
$.get("/temperature_graph/?date="+start+"&site={{site.id}}&range_type=custom&end="+end,function(response){

$(".temperature-graph-cnt").html(response);
});




});




$(".1d-temp").click(function(){

displayLoader(container);
$.get("/temperature_graph/?date={{date.month}}/{{date.day}}/{{date.year}}&site={{site.id}}&range_type=day",function(response){

$(".temperature-graph-cnt").html(response);
});



});

$(".1w-temp").click(function(){

displayLoader(container);
$.get("/temperature_graph/?date={{date.month}}/{{date.day}}/{{date.year}}&site={{site.id}}&range_type=week",function(response){

$(".temperature-graph-cnt").html(response);
});
});





	Highcharts.wrap(Highcharts.Series.prototype, 'getSegments', function (proceed) {
    	var closestPointRange = this.xAxis.closestPointRange;
        this.xAxis.closestPointRange = 1;
        proceed.call(this);
        this.xAxis.closestPointRange = closestPointRange;
    });



Highcharts.setOptions({
    lang: {
        decimalPoint: '.',
        thousandsSep: ','
    },

    tooltip: {
        yDecimals: 2 // If you want to add 2 decimals
    }
});
       Highcharts.chart('temperature-graph-container', {
 	chart: {
            type: 'spline',
events: {
      load: calculateStatistics,
    }

        },

 legend: {
        enabled: true,
        labelFormatter: function() {
            return this.name + '<br>' + 'Now: ' + '0.0' + ' ' + '<br>Max: ' + '0.0' + '<br>Min: ' + '0.0' + '<br>Avg: ' + '0.0';
            }
    },
    
         title: {
	  {%if equipment == "diagram_creator" or equipment == "power_analyser"%}
            text: 'Analysis',
	  {%else%}

            text: '{{parameter|pretty_name}}',
	  {%endif%}
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
	xAxis: {
            type: 'datetime',
	{%if range_type == "month"%}
            labels: {
            format: '{value: %d %B/%Y}',
            align: 'right',
            rotation: -30
        },


            title: {
                text: 'Month'
            },
{%elif range_type == "year"%}
    labels: {
            format: '{value: %B/%Y}',
            align: 'right',
            rotation: -30
        },


            title: {
                text: 'Year'
            },

{%else%}
    labels: {
            align: 'right',
            rotation: -30
        },


            title: {
                text: 'Time'
            },

{%endif%}
},
    yAxis: {
            title: {
                text: 'C'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
	{%if parameter == "inverter_reading"%}
        min: 0
	{%endif%}
        },
        tooltip: {
            valueSuffix: '{{unit}}'
        },
        series: [

{%for report in other_reports%}
{
            name:'{{report.parameter|pretty_name}}-{{report.device}}',
            data: 
[{%for data in report.reports%}
[{{data.time}},{{data.value}}],
{%endfor%}]        
},
{%endfor%}
	]
    });
});
</script>
