                          <table class="table bg-gray">
                  <tr class="bg-red">
                    <td>Status</td>
                    <td>Issue No.</td>
                    <td>Site</td>
                    <td>Date of Issue</td>
                    <td>Outage Start</td>
                    <td>Time To Detect</td>
                    <td>Outage Type</td>
                    <td>Description</td>
                    <td>Sub Description</td>

                  </tr>

{%for pm in today%}
                  <tr class="bg-gray">
	
			  <td>{%if pm.status.title == "open"%}<a href="/complaints/issue/{{pm.id}}/">{{pm.status}}</a>{%else%}<a href="/complaints/issue/{{pm.id}}/">{{pm.status}}</a>{%endif%}</td>
                    <td>{{pm.id}}</td>
                    <td>{{pm.site}}</td>
                    <td>{{pm.date_of_complaint}}</td>
                    <td>{{pm.outage_start}}</td>
                    <td>{{pm.time_to_detect}} days</td>
                    <td>{{pm.outage_type}} </td>
                    <td>{{pm.description}} </td>
                    <td>{{pm.sub_description}} </td>
                  </tr>

		  
{%empty%}
<tr>
<td colspan="14">
No issues found!
</td>
</tr>

                  {%endfor%}
<tr class="bg-red">
	<td>
	
		Total:</td>
	<td>{{totals.count}}
	</td>
	<td>
		Generation Loss:</td><td colspan="6"> {{totals.genloss}} KWh
	</td>

</tr>


	     		   </table>
                  
