{%if parameter%}
<div class="col-md-12 ">
              <div class="box box-solid">
                <div class="box-header with-border accent-color">
<h3 class="box-title">
{{parameter|upper}} ANALYSIS 
</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  
<div>
<div class="col-md-12 bg-navy">
<center>
{%if duration == "daywise"%}
<p>From: {{from_date}}</p>
<p>To: {{to_date}}</p>
{%endif%}
{%if duration == "yearly"%}
<p>From: {{from_year}}</p>
<p>To: {{to_year}}</p>
{%endif%}
{%if duration == "monthly"%}
<p>Year: {{from_year}}</p>
{%endif%}

</center>
</div>
</div>


<div class="row">
<div class="col-md-12">
<div id="bar-yearly"></div>
</div>
</div>




{%if parameter == "breakdown"%}

<div id="bar-grid-down"></div>
<br>
<div id="bar-plant-down"></div>


{%endif%}


<div class="row">
<div class="col-md-12 overflow-box">

{%if parameter == "pr"%}

<form class="form-inline mailbox-controls filter-form ">
FILTER RESULTS<br>
<div class="form-group">
<label>
PR
</label>
<input type="text"name="filter-value" class="form-control filter-value"/>
</div>

<div class="form-group">
<select name="filter-type" class="filter-type">
<option value="lesser">
Less Than
</option>
<option value="greater">
Greater Than
</option>
</select>
</div>
<div class="form-group">
<button class=" btn btn-primary">Filter</button>

<a href="#" class="filter-reset" > Reset</a>
</div>
</form>

{%endif%}

<table class="tg table table-bordered  bg-gray dataTable " id="dataTable">
<thead>
<tr class="top-head bg-red">

    <th class="tg-cell "></th>
    <th class="tg-cell "></th>
{%for data in readings.0.sites%}
   <th class="tg-cell top-head {% if forloop.counter|divisibleby:2 %}bg-red disabled{% else %}bg-red-active{% endif %}" {%if parameter == "pr" %}colspan="1"{%endif%}  {%if parameter == "breakdown" %}colspan="4"{%endif%}  style="text-align:center">{{data.site|upper}} {%if parameter == "revenue"%} (Tarrif - Rs. {{data.site.ppa}}){%endif%}</th>

{%endfor%}
</tr>


  <tr class="top-head bg-teal">
    <th class="tg-cell ">S.No.</th>
{%if duration == "yearly"%}
    <th class="tg-cell ">Year<br></th>
{%elif duration == "monthly"%}

    <th class="tg-cell ">Month<br></th>
{%else%}

    <th class="tg-cell ">Date<br></th>
{%endif%}
{%for data in readings.0.sites%}

{%if parameter == "breakdown"%}
    <th class="tg-cell bg-aqua">Plant Down Count</th>
    <th class="tg-cell bg-aqua">Plant Down Time(Hr)</th>
    <th class="tg-cell bg-aqua">Gen Loss(MWh)</th>
    <th class="tg-cell bg-aqua">PA (%)</th>
{%elif parameter == "pr"%}
   
 <th class="tg-cell ">PR %</th>
 
{%elif parameter == "eff"%}
<th class="tg-cell ">EFFICIENCY %</th>



{%else%}
 <th class="tg-cell ">{{parameter|upper}}
{%if parameter == "generation"%}
(MWH)
{%endif%}
{%if parameter == "radiation" %}
(MWh/m²)
{%endif%}
</th>
{%endif%}
 {%endfor%}
</tr>
</thead>
<tbody>
{%for data in readings%}
  <tr class="data-analysis">
    <td class="">{{forloop.counter}}</td>
   
{%if duration == "yearly"%}
 <td class="duration">{{data.year}}</td>
{%elif duration == "monthly"%}
 <td class="duration">{{data.month}} - {{from_year}}</td>

{%else%}

 <td class="duration">{{data.date}}</td>
{%endif%}
    {%for site in data.sites%}
{%if parameter == "generation"%}
    <td class="tg-031e generation-cell email-cell" data-site="{{site.site.id}}" title="Site: {{site.site}}, Gen.: {{site.generation}}MW, PR: {{site.pr}}%, Radiation: {{site.radiation}}MWh/m²', Plantdown: {{site.plant_down_time}} hr, Griddown: {{site.grid_down_time}} hr ">  {{site.generation}} </td>
{%endif%}
{%if parameter == "pr"%}
    <td class="tg-031e pr-cell email-cell" data-site="{{site.site.id}}"  title="Site: {{site.site}}, Gen.: {{site.generation}}MW, PR: {{site.pr}}%, Radiation: {{site.radiation}}MWh/m²', Plantdown: {{site.plant_down_time}} hr, Griddown: {{site.grid_down_time}} hr ">{{site.pr}} </td>

{%endif%}
{%if parameter == "radiation"%}
    <td class="tg-031e email-cell" data-site="{{site.site.id}}"  title="Site: {{site.site}}, Gen.: {{site.generation}}MW, PR: {{site.pr}}%, Radiation: {{site.radiation}}MWh/m²', Plantdown: {{site.plant_down_time}} hr, Griddown: {{site.grid_down_time}} hr ">{{site.radiation}} </td>
{%endif%}
{%if parameter == "breakdown"%}
    <td class="tg-031e email-cell"  data-site="{{site.site.id}}"  title="Site: {{site.site}}, Gen.: {{site.generation}}MW, PR: {{site.pr}}%, Radiation: {{site.radiation}}MWh/m²', Plantdown: {{site.plant_down_time}} hr, Griddown: {{site.grid_down_time}} hr ">{{site.plant_down_count}}</td>
    <td class="tg-031e ">{{site.plant_down_time}}</td>
    <td class="tg-031e ">{{site.genloss}}</td>
    <td class="tg-031e ">{{site.pa}}</td>
{%endif%}

{%if parameter == "eff"%}
    <td class="tg-031e pr-cell email-cell" data-site="{{site.site.id}}"  title="Site: {{site.site}}, Gen.: {{site.generation}}MW, PR: {{site.pr}}%, Radiation: {{site.radiation}}MWh/m²', Plantdown: {{site.plant_down_time}} hr, Griddown: {{site.grid_down_time}} hr ">{{site.eff}} </td>

{%endif%}


{%if parameter == "revenue"%}
    <td class="tg-031e pr-cell email-cell" data-site="{{site.site.id}}"  title="Site: {{site.site}}, Gen.: {{site.generation}}MW, PR: {{site.pr}}%, Radiation: {{site.radiation}}MWh/m²', Plantdown: {{site.plant_down_time}} hr, Griddown: {{site.grid_down_time}} hr ">{{site.revenue}} </td>

{%endif%}

{%if parameter == "cuf"%}
    <td class="tg-031e pr-cell email-cell" data-site="{{site.site.id}}"  title="Site: {{site.site}}, Gen.: {{site.generation}}MW, PR: {{site.pr}}%, Radiation: {{site.radiation}}MWh/m²', Plantdown: {{site.plant_down_time}} hr, Griddown: {{site.grid_down_time}} hr ">{{site.cuf}} </td>

{%endif%}




{%endfor%}
  </tr>
{%endfor%}

<tr class="bg-blue">
<td>
Total
</td>
<td class="bg-orange">
{%if parameter == "generation"%}
{{overall.gen}} MWh
{%endif%}
{%if parameter == "pr"%}
{{overall.pr}} %
{%endif%}
{%if parameter == "cuf"%}
{{overall.cuf}} %
{%endif%}

{%if parameter == "radiation" %}
{{overall.rad}} 
{%endif%}

{%if parameter == "breakdown"%}
Loss - {{overall.loss}} MWh
{%endif%}

{%if parameter == "revenue"%}
Rs. {{overall.rev}} 
{%endif%}


</td>
{%for row in final%}
{%if parameter == "generation"%}

<td>
{{row.gen}} MWh
</td>
{%endif%}
{%if parameter == "pr"%}
<td>
{{row.pr}} %
</td>
{%endif%}
{%if parameter == "radiation"%}
<td>
{{row.rad}}
</td>
{%endif%}
{%if parameter == "revenue"%}
<td>
{{row.rev}}
</td>
{%endif%}
{%if parameter == "cuf"%}
<td>
{{row.cuf}}
</td>
{%endif%}




{%if parameter == "breakdown"%}

<td>
{{row.plant_down_count}}
</td>
<td>
{{row.plant_down_time}}
</td>
<td>
{{row.genloss}}
</td>
<td>
{{row.pa}}
</td>

{%endif%}

{%endfor%}
</tr>

</tbody>

</table>


<a class="pull-right btn btn-danger" download="export-energymanager.xls" href="#" onclick="return ExcellentExport.excel(this, 'dataTable', 'Sheet');">Export to Excel</a>

</div>
       
</div>
         

{%if parameter == "breakdown"%}
{%include 'energysite/breakdown_all_graph.html'%}
{%endif%}


<script>


{%if parameter == "cuf"%}

$(function(){
$('#bar-yearly').highcharts({
        title: {
            text: 'CUF Comparision',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
   
{%if duration == "yearly"%}
            categories: [{%for data in readings%}{{data.year}},{%endfor%}]
{%endif%}

{%if duration == "monthly"%}
            categories: [{%for data in readings%}'{{data.month}}',{%endfor%}]
{%endif%}
{%if duration == "daywise"%}
            categories: [{%for data in readings%}'{{data.date}}',{%endfor%}]
{%endif%}



     },
        yAxis: {
            title: {
                text: 'CUF (%)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '%'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
            }
        },
 
        series: [
{%for data in readings.0.sites%}
{            name: '{{data.site}}',
            data: [
{%for data2 in readings%}
{%for site in data2.sites%}
{%if site.site.id == data.site.id%}
{{site.cuf}},
{%endif%}
{%endfor%}
{%endfor%}
]
        },
{%endfor%}
]
    });
    });

{%endif%}


{%if parameter == "pr"%}

$(function(){
$('#bar-yearly').highcharts({
        title: {
            text: 'Performance Ratio Comparision',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
   
{%if duration == "yearly"%}
            categories: [{%for data in readings%}{{data.year}},{%endfor%}]
{%endif%}

{%if duration == "monthly"%}
            categories: [{%for data in readings%}'{{data.month}}',{%endfor%}]
{%endif%}
{%if duration == "daywise"%}
            categories: [{%for data in readings%}'{{data.date}}',{%endfor%}]
{%endif%}



     },
        yAxis: {
            title: {
                text: 'Performance Ratio (%)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '%'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
            }
        },
 
        series: [
{%for data in readings.0.sites%}
{            name: '{{data.site}}',
            data: [
{%for data2 in readings%}
{%for site in data2.sites%}
{%if site.site.id == data.site.id%}
{{site.pr}},
{%endif%}
{%endfor%}
{%endfor%}
]
        },
{%endfor%}
]
    });
    });



{%endif%}

{%if parameter == "generation"%}

$(function(){
$('#bar-yearly').highcharts({
        title: {
            text: 'Power Generation Comparision',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
   
{%if duration == "yearly"%}
            categories: [{%for data in readings%}{{data.year}},{%endfor%}]
{%endif%}

{%if duration == "monthly"%}
            categories: [{%for data in readings%}'{{data.month}}',{%endfor%}]
{%endif%}
{%if duration == "daywise"%}
            categories: [{%for data in readings%}'{{data.date}}',{%endfor%}]
{%endif%}



     },
        yAxis: {
            title: {
                text: 'Generation (MWh)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'MWh'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
            }
        },
 
        series: [
{%for data in readings.0.sites%}
{            name: '{{data.site}}',
            data: [
{%for data2 in readings%}
{%for site in data2.sites%}
{%if site.site.id == data.site.id%}
{{site.generation}},
{%endif%}
{%endfor%}
{%endfor%}
]
        },
{%endfor%}
]
    });
    });



{%endif%}

{%if parameter == "radiation"%}

$(function(){
$('#bar-yearly').highcharts({
        title: {
            text: 'Radiation Comparision',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
   
{%if duration == "yearly"%}
            categories: [{%for data in readings%}{{data.year}},{%endfor%}]
{%endif%}

{%if duration == "monthly"%}
            categories: [{%for data in readings%}'{{data.month}}',{%endfor%}]
{%endif%}
{%if duration == "daywise"%}
            categories: [{%for data in readings%}'{{data.date}}',{%endfor%}]
{%endif%}



     },
        yAxis: {
            title: {
                text: 'Radiation (MWh/m²)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'MWh/m²'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },

plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
            }
        },
 
        series: [
{%for data in readings.0.sites%}
{            name: '{{data.site}}',
            data: [
{%for data2 in readings%}
{%for site in data2.sites%}
{%if site.site.id == data.site.id%}
{{site.radiation}},
{%endif%}
{%endfor%}
{%endfor%}
]
        },
{%endfor%}
]
    });
    });



{%endif%}







</script>


<script>

$(function(){

	$(".data-analysis").each(function(){

	  //$(this).css("background",color);
	      var data = [];

	  $(this).find(".tg-031e").each(function(){
	    data.push(parseFloat($(this).text()));
	    
	    


	    
	  });
	  //console.log("values-"+data);
	  //console.log("length - "+data.length);
	    
	    

	    var total = 0;
	    $.each(data,function() {
	    total += this;
	    });
	    var avg = total/data.length;
	    //console.log("avg - "+avg);
	    
	     var dev = [];
	     var totaldiff = 0.0;
	  $.each(data,function(){
	    var diff = Math.abs(avg-this);
	    totaldiff += diff;
	    dev.push(diff);
	      
	      
	  });
	  var meandev = totaldiff/dev.length;
	  //console.log("mean dev"+meandev);
	  //console.log("-----------------------------------");
	  
	  
	});

	$(".tg-031e").each(function(){
	var value = parseInt($(this).text());
	if (value == 0){
	    //$(this).css("background","#ec4851");
	}
	});
});


// color coding cells of reports etc. according to criteria
$(function(){

$(".pr-cell").each(function(){
var pr = parseInt($(this).text());
  if (pr < 78){
  $(this).css("background","red").css("color","white");

}	
});


$(".filter-form").submit(function(){

$(".pr-cell").css("background","#D2D6DE").css("color","#000");
$(".data-analysis").show();
$(".pr-cell").each(function(){
var pr = parseInt($(this).text());
var filter_value = parseInt($(".filter-value").val());
//console.log(pr);
//console.log(filter_value);

var filter_type = $(".filter-type").val();

if(filter_type == "lesser"){
  if (pr < filter_value){
  $(this).css("background","red").css("color","white");
}	
}
else{
  if (pr > filter_value){
  $(this).css("background","green").css("color","white");

}	
}
});

$.notify("Result filtered", "success"); 

return false;
});

$(".filter-reset").click(function(){

$(".pr-cell").css("background","#D2D6DE").css("color","#000");
$.notify("Filter Reset", "success"); 

return false;
});




$(".email-cell").hover(function(e){
var message = $(this).attr("title");
var site = $(this).data("site");
//alert(message);
var date = $(this).parent().find(".duration").text();
message = "Duration - "+date+","+message;
$(this).append("<a href='#' style='padding-right:4px' data-toggle='modal' data-site='"+site+"' data-message='"+message+"' data-target='#exampleModal'  class='btn btn-xs email-button'><i class='glyphicon glyphicon-envelope'></i></a>");

$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var message = button.data('message') // Extract info from data-* attributes
  var site = button.data('site') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to Site Incharge' );

  var full_text = "Hi, \n I would like to discuss following data with you - \n"+message+" \n---- Add any extra message here --- \nThanks" 
  modal.find('.modal-body textarea').val(full_text);
  modal.find('.modal-body #message-site').val(site);
$(".new-message-form").show();
});

},
function(e){
$(this).find(".email-button").hide();
}
);
});




</script>
{%endif%}
