<script>
$(function () {
    $('#breakdown-graph').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Fault Frequency'
        },
        xAxis: {
            categories: [{%for category in reportings%} '{{category.equipment}}',{%endfor%}]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Breakdown Counts'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '<br/>' +
                    'Total: ' + this.point.stackTotal;
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        series: [
	{%for month in reportings.0.report%}
	{
            name: '{{month.month|upper}}',
            data: [{%for row in reportings%}
		{%for report in row.report%}
		{%if report.month == month.month%}
		{{report.count}},
		{%endif%}
		{%endfor%}
		{%endfor%}
		]
	
        },
	{%endfor%}


	]
    });

    $('#breakdown-graph-loss').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Generation Loss'
        },
        xAxis: {
            categories: [{%for category in reportings%} '{{category.equipment}}',{%endfor%}]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Generation Loss'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '<br/>' +
                    'Total: ' + this.point.stackTotal;
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        series: [
	{%for month in reportings.0.report%}
	{
            name: '{{month.month|upper}}',
            data: [{%for row in reportings%}
		{%for report in row.report%}
		{%if report.month == month.month%}
		{{report.loss}},
		{%endif%}
		{%endfor%}
		{%endfor%}
		]
	
        },
	{%endfor%}


	]
    });

    $('#breakdown-graph-time').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Breakdown Duration'
        },
        xAxis: {
            categories: [{%for category in reportings%} '{{category.equipment}}',{%endfor%}]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Breakdown Duration'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '<br/>' +
                    'Total: ' + this.point.stackTotal;
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        series: [
	{%for month in reportings.0.report%}
	{
            name: '{{month.month|upper}}',
            data: [{%for row in reportings%}
		{%for report in row.report%}
		{%if report.month == month.month%}
		{{report.time}},
		{%endif%}
		{%endfor%}
		{%endfor%}
		]
	
        },
	{%endfor%}


	]
    });






});
</script>
