{%extends 'main/index.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{%block content%}

<!-- Content Wrapper. Contains page content -->
         <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Issue</li>
            <li class="active">Action</li>
          </ol>

        <!-- Main content -->
        <section class="content">
        <div class="row">
<div class="col-md-12"> 
           <h1>
           New Action
          </h1>
         
{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

<table class="table table-bordered table-stripped">
<tr>
<td><b>Issue No.</b></td>
<td><a href="/complaints/issue/{{complaint.id}}">{{complaint.id}}</a></td>
</tr>
<tr>
<td><b>Site</b></td>
<td>{{complaint.site}}</td>
</tr>
<tr>
<td><b>Description</b></td>
<td>{{complaint.description}}</td>
</tr>



</table>
 

        <form enctype="multipart/form-data" action="" method="post" role="form" class="col-md-12">
{% csrf_token %}

              {% bootstrap_form form %}


<input type="submit" class="btn btn-primary" value="Save" />
</form>




</div>
</div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

{%endblock%}
{%block extrajs%}
<script>
$(function(){

$("#id_target_date").datepicker();});
</script>
{%endblock%}

{%block date%}
{%endblock%}
