{%extends 'main/index.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{%block content%}

<!-- Content Wrapper. Contains page content -->
         <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Issue</li>
            <li class="active">New</li>
          </ol>

        <section class="content">
        <div class="row">
<div class="col-md-12"> 
        <br> 
{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

 
<div class="panel panel-primary">
<div class="panel-heading">
	<center>
	<h3 class="box-title">

		Welcome to new issue wizard:
	</h3>
	</center>
</div>
<div class="panel-body">
<form action="" method="post">{% csrf_token %}
<table>
    {{ form.as_table }}
</table>
<input class="submit-button btn btn-info pull-right" type="submit" value="{% trans "submit" %}"/>
</form>



</div>
</div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

{%endblock%}
{%block scripts%}
<script>
$(function(){

$("select").select2();


});


</script>
{%endblock%}


{%block extracss%}
    {%endblock%}
