{%extends 'main/index.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{%block content%}

<!-- Content Wrapper. Contains page content -->
         <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Issue</li>
            <li class="active">Close</li>
          </ol>

        <!-- Main content -->
        <section class="content">
        <div class="row">
<div class="col-md-12"> 
           <h1>
           Close this issue
          </h1>
         
{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

<table class="table table-bordered table-stripped">
<tr>
<td><b>Issue No.</b></td>
<td><a href="/complaints/issue/{{complaint.id}}">{{complaint.id}}</a></td>
</tr>
<tr>
<td><b>Site</b></td>
<td>{{complaint.site}}</td>
</tr>
<tr>
<td><b>Description</b></td>
<td>{{complaint.description}}</td>
</tr>



</table>
<br>
 {%if complaint.outage_type.title == "Maintenance"%}
{%for pm in pms%}
<br>
<a href="/pm/update_pm/{{pm.pmalert.id}}">File PM Report</a>
{%endfor%}


{%if close%}
        <form enctype="multipart/form-data" action="" method="post" role="form" class="col-md-5">
{% csrf_token %}

              {% bootstrap_form form %}


<input type="submit" class="btn btn-primary" value="Save" />
</form>
{%else%}
<br>
<span class="col-md-12 alert alert-danger">Please update Stock status before closing this issue</span>
{%endif%}
{%elif complaint.outage_type.title == "Material"%}
{%for pm in pos%}
<br>
<a class="btn btn-info pull-right" href="/stock/received/?item={{pm.po.item.id}}">Update Stock Status</a>
{%endfor%}


{%if close%}
        <form enctype="multipart/form-data" action="" method="post" role="form" class="col-md-5">
{% csrf_token %}

              {% bootstrap_form form %}


<input type="submit" class="btn btn-primary" value="Save" />
</form>
{%else%}
<br>
<span class="col-md-12 alert alert-danger">Please update PM status report before closing this issue</span>
{%endif%}



{%else%}
        <form enctype="multipart/form-data" action="" method="post" role="form" class="col-md-5">
{% csrf_token %}

              {% bootstrap_form form %}


<input type="submit" class="btn btn-primary" value="Save" />
</form>

{%endif%}

</div>
</div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

{%endblock%}
{%block extrajs%}
<script>
$(function(){

$("#id_target_date").datepicker();});
</script>
{%endblock%}

{%block date%}
{%endblock%}
