{%extends 'main/index.html'%}
{%block content%}
<div class="row">
<div class="col-md-12">
         
{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

						<div class="gray data-block">
		<header>
								<h2><span class="elusive icon-calendar"></span> Calendar</h2>

								<!-- Tab navigation -->
								<ul class="data-header-actions">
			
			<li class="chk-all">
                                 <input class=" mail-group-checkbox" type="checkbox">
                                 <div class="btn-group">
                                     <a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
                                         All
                                         <i class="fa fa-angle-down "></i>
                                     </a>
                                     <ul class="dropdown-menu">
                                         <li><a class="select-none" href="#"> None</a></li>
                                         <li><a class="select-read" href="#"> Read</a></li>
                                         <li><a class="select-unread" href="#"> Unread</a></li>
                                     </ul>
                                 </div>
                            <div class="btn-group hidden-phone">
                                 <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
                                     Action
                                     <i class="fa fa-angle-down "></i>
                                 </a>
                                 <ul class="dropdown-menu">
                                     <li><a href="#" class="mark-read"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                                     <li><a href="#" class="mark-unread"><i class="fa fa-trash-o"></i> Mark as Unread</a></li>
                                 </ul>
                             </div>
                             <div class="btn-group">
                                 <a data-toggle="dropdown" href="#" class="btn mini blue">
                                     Filter
                                     <i class="fa fa-angle-down "></i>
                                 </a>
                                 <ul class="dropdown-menu">
                                     <li><a href="/complaints?type=my"><i class="fa fa-pencil"></i> Assigned to You</a></li>
                                     <li><a href="/complaints/?type=urgent"><i class="fa fa-ban"></i> Urgent</a></li>
                                     <li><a href="/complaints/?type=delayed"><i class="fa fa-clock"></i> Delayed</a></li>
                                 </ul>
                             </div>

                             </li>


								</ul>
								<!-- /Tab navigation -->

							</header>

						

                                
                        </div>
                     </div>
                      <div class="inbox-body">
                         <table class="table table-inbox table-hover">
                            <tbody>
			{%for alert in alerts%}
                              <tr {%if not alert.is_read%} class="unread"{%else%} class="read" {%endif%}>
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox" value="{{alert.id}}">
                                  </td>
                                  <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                  <td class="view-message  dont-show">
 {{alert.site.name}}
</td>
                                  <td class="view-message "> <a href="/complaints/issue/{{alert.id}}">#{{alert.id}} - {{alert}}
<span class="label label-primary label-sm" >{{alert.outage_type}}</span>
{%if alert.status.title == "open"%}
<span class="label label-danger label-sm" >{{alert.status}}</span>
{%else%}

<span class="label label-success label-sm" >{{alert.status}}</span>
{%endif%}
</a>
</td>
                                  <td class="view-message  inbox-small-cells"><i class="fa fa-user"></i>{{alert.complaint_by}}</td>
                                  <td class="view-message  text-right">{{alert.created}}</td>
                              </tr>
		{%empty%}
		<tr>
<td colspan="6">
No issues!

</td>
</tr>
			{%endfor%}
                         </tbody>
                          </table>
                         <div class="mail-option">
                             <ul class="unstyled inbox-pagination">
                                 <li><span>{{ alerts.number }} of {{ alerts.paginator.num_pages }}</span></li>

        {% if alerts.has_previous %}
				 <li>

                                     <a href="?page={{ alerts.previous_page_number }}" class="np-button"><i class="fa fa-angle-left  pagination-left"></i></a>
                                 </li>

{%endif%}

        {% if alerts.has_next %}
                                 <li>
                                     <a class="np-btn" href="?page={{ alerts.next_page_number }}"><i class="fa fa-angle-right pagination-right"></i></a>
                                 </li>

{%endif%}
                             </ul>
                         </div>
 

                      </div>
                  </aside>
              </div>

</div>
</div>
</div>
</div>


{%endblock%}

{%block scripts%}

<script>
$(function(){

$(".mail-group-checkbox").change(function(){
var checkBoxes = $(".mail-checkbox");
checkBoxes.prop("checked", !checkBoxes.prop("checked"));

});

$(".select-none").click(function(){
var checkBoxes = $(".mail-checkbox");
checkBoxes.prop("checked", "");


});
$(".select-unread").click(function(){
var checkBoxes = $(".unread").find(".mail-checkbox");
checkBoxes.prop("checked", "checked");


});

$(".select-read").click(function(){
var checkBoxes = $(".read").find(".mail-checkbox");
checkBoxes.prop("checked", "checked");


});



});
</script>
{%endblock%}
