{%extends 'main/index.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% load comments i18n %}

{% load threadedcomments_tags %}

{%block content%}
          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/complaints/">Issues</a></li>
            <li class="active">PM</li>
          </ol>

 <br>
          <h1>
<i class="fa fa-user"></i>
   Issue: <span class="">#{{complaint.id}} </span>
          </h1>

<br>
<p class="bg-orange"> <b>Created on:</b> {{complaint.created}}</p>
       <!-- Main content -->
        <section class="content">
        <div class="row">
<div class="col-md-12 "> 
         
{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

<h3><i class="fa fa-user"></i> Please select the PM related to this issue:

</h3>
<hr>

<div  class="panel panel-info">
    <div class="panel-body no-padding">
         <form enctype="multipart/form-data" action="" method="post" role="form" class="col-md-4">
{% csrf_token %}

              {% bootstrap_form form %}


<input type="submit" class="btn btn-primary" value="Open Issue" />
</form>


 

    </div><!-- /.box-body -->
  </div>




      <table class="table table-striped bring-up nth-2-center" id="layout-skins-list">
<tr>
<td><b>Status</b></td>
<td><span class="{%if complaint.status.title == "close" or complaint.status.title == "completed"%}label label-success {%else%} label label-danger {%endif%}">{{complaint.status}}</span> 
{%if complaint.status.title == "completed" %}
<a href="/complaints/resolve/{{complaint.id}}/" class="btn pull-right btn-danger">REOPEN</a>
{%else%}
<a href="/complaints/resolve/{{complaint.id}}/" class="btn pull-right btn-danger">CLOSE NOW</a>
{%endif%}
</td>
</tr>


<tr>
<td><b>Complaint No.</b></td>
<td>{{complaint.id}}</td>
</tr>
<tr>
<td><b>Site</b></td>
<td>{{complaint.site}}</td>
</tr>
<tr>
<td><b>Description</b></td>
<td>{{complaint.description}}</td>
</tr>
<tr>
<td><b>Date of Issue Filed</b></td>
<td>{{complaint.date_of_complaint}}</td>
</tr>
<tr>
<td><b>Outage Start Time</b></td>
<td>{{complaint.outage_start}}</td>
</tr>

{%if complaint.outage_end%}
<tr>
<td><b>Outage End Time</b></td>
<td>{{complaint.outage_end}}</td>
</tr>
<tr>
<td><b>Gen Loss (KWh)</b></td>
<td>{{complaint.genloss}}</td>
</tr>


{%endif%}

</table>


</div>
</div>

<div class="modal fade" id="dashboard-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title box-title" style="color:#000" id="myModalLabel">Details</h4>
      </div>
      <div class="modal-body">
Nothing here!

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

{%endblock%}
{%block scripts%}
<script>
$(function(){
$("#id_comment").attr("rows",5);
$("#id_comment").attr("cols",150);
$("#id_honeypot").hide();
$("#id_target_date").datepicker();

});
</script>
{%endblock%}

{%block date%}
{%endblock%}
