  
{%extends 'main/index.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{%block sidemenu%}
{%include 'partials/issuetracker-menu.html'%}
{%endblock%}

{%block content%}    
           

 
                   <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>

            <li class="active">Issues</li>
          </ol>

        <section class="content">
  

<br>
<div class="panel panel-default">
                <div class="panel-heading with-border accent-color">
                  <h3 class="box-title">Search Issues</h3>
</div>	
<div class="panel-body">
{% if messages %}
<div class="alert alert-info" role="alert">
    {% for message in messages %}
   {{ message }}
    {% endfor %}
</ul>
</div>
{% endif %}




               <form action="" method="post" class="mailbox-controls form form-inline" role="form">{%csrf_token%}
    {% bootstrap_form form %}
<br>
<br>
                    <button class="btn btn-primary next-first btn-raised">Search</button>

                </form>
</div>
</div>
<div class="panel panel-default">
<div class="panel-body">
{%include 'issues/alerts_tabs.html'%} 
</div>
</div>
</div>

           </section> 
{%endblock%}
{%block scripts%}
<script>
$(function(){
$("select").select2();
});
</script>
{%endblock%}
{%block extracss%}
<style type="text/css">
.help-block{
display:none;
}

.form-group{
width:auto !important;
}
.form-inline .control-label{
padding:16px;
}

</style>

{%endblock%}


