{%extends 'main/index.html'%}
{%load bootstrap3%}
{%load staticfiles%}
{%block title%} Analysis | AkshyaPower {%endblock%}



{%block content%}

          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Issue Reports</li>
          </ol>
        <section class="content">
         
         
          <div class="row hidden-print">
            <div class="col-md-12">
              <div class="panel panel-default ">
                <div class="panel-heading ">
                    <h3 class="box-title">Reports</h3>

                </div><!-- /.box-header -->
                <div class="panel-body">
                  
<br>
{% if messages %}
          <div class="row">
            <div class="col-xs-12 table-responsive">
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>

            

</div><!-- /.col -->
</div><!-- /.row -->

{% endif %}
<div class="row">
<div class="col-md-12 small">
  <form class="form form-inline" action="" method="post">{%csrf_token%}

              {% bootstrap_form form %}
<input type="hidden" name="parameter" value="breakdown"/>

<br>
<div class="form-group">

              <button type="submit" class="btn btn-raised btn-primary form-button">Go</button>
</div>
        </form>       
</div>
</div>
</div>
</div>
</div>
</div>


       <div class="row ajax-content">

{%include 'issues/analysis-rest.html'%}

</div>


        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->




{%endblock%}

{%block scripts%}
{%include "issues/plantwise.html.js"%}
{%endblock%}

{%block extracss%}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:bold;padding:25px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-s6z2{text-align:center}
.tg .tg-cell{
font-weight:bold;
}
.help-block{
display:none;
}

.form-group{
width:auto !important;
}
.form-inline .control-label{
padding:16px;
}

</style>

{%endblock%}

