       <div>
            <div class="col-md-12 ">
              <div class=" panel panel-default">
                <div class="panel-heading with-border">
<h3 class="box-title">
Breakdown Analysis 
</h3>
{%if criteria == "equipmentwise"%}
<form class="pull-right">
<select class="table-type">
<option value ="count">Frequency</option>
<option value ="loss">Loss</option>
<option value ="time">Hours</option>
</select>
</form>

       {%endif%}
         </div><!-- /.box-header -->
<div class="col-md-12">
<div id="breakdown-graph" ></div>
<div id="breakdown-graph-time" ></div>
<div id="breakdown-graph-loss" ></div>
</div>

                <div class="panel-body ">
<div class=" overflow-box">
<table class="table bg-gray breakdown-table" id="dataTable" style="margin-bottom:50px">
<thead>
    <tr class="">
        <th class="bg-blue" rowspan="3">{%if duration == "monthly"%} Month {%elif duration == "yearly"%}Year {%else%} Date {%endif%} <br></th>
        <th rowspan="3" class="bg-orange">Total - 
<a href="#" class="count" data-toggle="modal" data-target="#all" >{{total}}</a>
<a href="#" class="loss "  data-toggle="modal" data-target="#all" >{{loss}}</a>
<a href="#" class="time " data-toggle="modal" data-target="#all" >{{time}}</a>


<div class="modal fade" id="all" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title box-title" style="color:#000" id="myModalLabel">Breakdown Log</h4>
      </div>
      <div class="modal-body">
<table class="tg table table-bordered bg-gray dataTable ">

  <tr class="top-head bg-teal">
    <td class="tg-cell tg-031e">S.No.</td>
    <td class="tg-cell tg-031e">Site<br></td>
    <td class="tg-cell tg-031e">Equipment<br></td>

    <td class="tg-cell tg-031e">Sub Category<br></td>
    <td class="tg-cell tg-031e">Date<br></td>

    <td class="tg-cell tg-031e">From Time<br></td>


    <td class="tg-cell tg-031e">To Time</td>
    <td class="tg-cell tg-031e">Action Taken</td>
    <td class="tg-cell tg-031e">Present Status</td>
</tr>

    
{%for alert in all%}
<tr>
<td class="tg-031e">{{forloop.counter}}</td>
    <td class="tg-031e">{{alert.site}}</td>
    <td class="tg-031e">{{alert.description}}</td>
    <td class="tg-031e">{{alert.sub_description}}</td>
    <td class="tg-031e">{{alert.outage_start.date}}</td>
    <td class="tg-031e">{{alert.outage_start}}</td>
    <td class="tg-031e">{{alert.outage_end}}</td>
    <td class="tg-031e">{{alert.action_taken}}</td>
    <td class="tg-031e">{{alert.present_status}}</td>
  </tr>
{%empty%}
<tr>
<td class="tg-031e" colspan="8">No Data Available</td>
  </tr>

{%endfor%}


</table>



      </div>
    </div>
  </div>
</div>






<br></th>
{% for data in reports.0.reports%}

        <th class="{%if forloop.counter|divisibleby:"2"%} bg-purple {%else%} bg-blue {%endif%}" colspan="{{data.colspan}}">{{data.site|upper}}</th>

{%endfor%}
    </tr>

    <tr class="bg-aqua">
{% for row in reports.0.reports%}

{%for data2 in row.data%}
        <th  class="{%if forloop.counter|divisibleby:"2"%} bg-teal {%else%} bg-teal-active {%endif%}"   colspan="{{data2.main|length}}">{{data2.equipment|upper}}</th>
{%endfor%}

{%endfor%}

    </tr>
    <tr class="bg-aqua-active">

{% for row in reports.0.reports%}
{%for main in row.data%}
{%for category in main.main%}
	
        <th>{{category.category}}<br></th>

		
{%endfor%}
{%endfor%}
{%endfor%}

    </tr>
</tr>
</thead>
<tbody>

{%for row in reports%}

    <tr>

<td  class="{%if forloop.counter|divisibleby:"2"%}bg-blue {%else%} bg-blue-active {%endif%}" style="padding:10px" >
{{row.date|upper}} <br></td>

<td  class="{%if forloop.counter|divisibleby:"2"%}bg-teal {%else%} bg-teal-active {%endif%}"  >
<a href="#" class=" count" data-toggle="modal" data-target="#date-{{forloop.counter}}" >{{row.total}}</a>
<a class="loss " data-toggle="modal" data-target="#date-{{forloop.counter}}" >{{row.loss}}</a>
<a class="time" data-toggle="modal" data-target="#date-{{forloop.counter}}" >{{row.time}}</a>


<div class="modal fade" id="date-{{forloop.counter}}" tabindex="-1" >
  <div class="modal-dialog"  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title box-title" style="color:#000" id="myModalLabel">Breakdown Log</h4>
      </div>
      <div class="modal-body">
<table class="tg table table-bordered bg-gray dataTable ">

  <tr class="top-head bg-teal">
    <td class="tg-cell tg-031e">S.No.</td>
    <td class="tg-cell tg-031e">Site<br></td>
    <td class="tg-cell tg-031e">Equipment<br></td>

    <td class="tg-cell tg-031e">Sub Category<br></td>
    <td class="tg-cell tg-031e">Date<br></td>

    <td class="tg-cell tg-031e">From Time<br></td>


    <td class="tg-cell tg-031e">To Time</td>
    <td class="tg-cell tg-031e">Action Taken</td>
    <td class="tg-cell tg-031e">Present Status</td>
</tr>

    
{%for alert in row.total_list%}
<tr>
<td class="tg-031e">{{forloop.counter}}</td>
    <td class="tg-031e">{{alert.dgr.site}}</td>
    <td class="tg-031e">{{alert.equipment}}</td>
    <td class="tg-031e">{{alert.sub_category}}</td>
    <td class="tg-031e">{{alert.dgr.date}}</td>
    <td class="tg-031e">{{alert.from_time}}</td>
    <td class="tg-031e">{{alert.to_time}}</td>
    <td class="tg-031e">{{alert.action_taken}}</td>
    <td class="tg-031e">{{alert.present_status}}</td>
  </tr>
{%empty%}
<tr>
<td class="tg-031e" colspan="8">No Data Available</td>
  </tr>

{%endfor%}


</table>



      </div>
    </div>
  </div>
</div>





</td>
{% for data in row.reports%}


{%endfor%}

{% for row in row.reports%}

{%for main in row.data%}
{%for category in main.main%}
        <td class="{{category.class}}" style="padding:4px">
<a href="#" class="count "  data-toggle="modal" data-target="#single-{{category.category}}-{{category.site}}-{{forloop.counter}}" >{{category.count}}</a>
<a href="#" class="loss " data-toggle="modal" data-target="#single-{{category.category}}-{{category.site}}-{{forloop.counter}}" >{{category.loss}}</a>
<a href="#" class="time"  data-toggle="modal" data-target="#single-{{category.category}}-{{category.site}}-{{forloop.counter}}" >{{category.time}}</a>


<div class="modal fade" id="single-{{category.category}}-{{category.site}}-{{forloop.counter}}" tabindex="-1" >
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title box-title" style="color:#000" id="myModalLabel">Breakdown Log</h4>
      </div>
      <div class="modal-body">
<table class="tg table table-bordered bg-gray dataTable ">

  <tr class="top-head bg-teal">
    <td class="tg-cell tg-031e">S.No.</td>
    <td class="tg-cell tg-031e">Site<br></td>
    <td class="tg-cell tg-031e">Equipment<br></td>

    <td class="tg-cell tg-031e">Sub Category<br></td>
    <td class="tg-cell tg-031e">Date<br></td>

    <td class="tg-cell tg-031e">From Time<br></td>


    <td class="tg-cell tg-031e">To Time</td>
    <td class="tg-cell tg-031e">Action Taken</td>
    <td class="tg-cell tg-031e">Present Status</td>
</tr>

    
{%for alert in category.breakdowns%}
<tr>
<td class="tg-031e">{{forloop.counter}}</td>
    <td class="tg-031e">{{alert.dgr.site}}</td>
    <td class="tg-031e">{{alert.equipment}}</td>
    <td class="tg-031e">{{alert.sub_category}}</td>
    <td class="tg-031e">{{alert.dgr.date}}</td>
    <td class="tg-031e">{{alert.from_time}}</td>
    <td class="tg-031e">{{alert.to_time}}</td>
    <td class="tg-031e">{{alert.action_taken}}</td>
    <td class="tg-031e">{{alert.present_status}}</td>
  </tr>
{%empty%}
<tr>
<td class="tg-031e" colspan="8">No Data Available</td>
  </tr>

{%endfor%}


</table>



      </div>
    </div>
  </div>
</div>





<br></td>
{%endfor%}
{%endfor%}
{%endfor%}

    </tr>
{%endfor%}

<tr class="bg-red">
<td class="">
</td>
<td class="" style="padding:10px;">
Sub Category Total
</td>

{%for total in totals%}
{%for category in total%}
<td class="">
<a href="#" class="count " data-toggle="modal" data-target="#category-{{category.category}}-{{category.site}}-{{forloop.counter}}" >{{category.count}}</a>
<a href="#" class="loss "  data-toggle="modal" data-target="#category-{{category.category}}-{{category.site}}-{{forloop.counter}}" >{{category.loss}}</a>
<a href="#" class="time"  data-toggle="modal" data-target="#category-{{category.category}}-{{category.site}}-{{forloop.counter}}" >{{category.time}}</a>


<div class="modal fade" id="category-{{category.category}}-{{category.site}}-{{forloop.counter}}" tabindex="-1" >
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title box-title" style="color:#000" id="myModalLabel">Breakdown Log</h4>
      </div>
      <div class="modal-body">
<table class="tg table table-bordered bg-gray dataTable ">

  <tr class="top-head bg-teal">
    <td class="tg-cell tg-031e">S.No.</td>
    <td class="tg-cell tg-031e">Site<br></td>
    <td class="tg-cell tg-031e">Equipment<br></td>

    <td class="tg-cell tg-031e">Sub Category<br></td>
    <td class="tg-cell tg-031e">Date<br></td>

    <td class="tg-cell tg-031e">From Time<br></td>


    <td class="tg-cell tg-031e">To Time</td>
    <td class="tg-cell tg-031e">Action Taken</td>
    <td class="tg-cell tg-031e">Present Status</td>
</tr>

    
{%for alert in category.breakdowns%}
<tr>
<td class="tg-031e">{{forloop.counter}}</td>
    <td class="tg-031e">{{alert.dgr.site}}</td>
    <td class="tg-031e">{{alert.equipment}}</td>
    <td class="tg-031e">{{alert.sub_category}}</td>
    <td class="tg-031e">{{alert.dgr.date}}</td>
    <td class="tg-031e">{{alert.from_time}}</td>
    <td class="tg-031e">{{alert.to_time}}</td>
    <td class="tg-031e">{{alert.action_taken}}</td>
    <td class="tg-031e">{{alert.present_status}}</td>
  </tr>
{%empty%}
<tr>
<td class="tg-031e" colspan="8">No Data Available</td>
  </tr>

{%endfor%}


</table>



      </div>
    </div>
  </div>
</div>




</td>
{%endfor%}
{%endfor%}
</tr>
<tr class="bg-teal">
<td class="">
</td>
<td class="" style="padding:10px; font-size:14px; color:#000">

Equipment Total
</td>

{%for total in totals2%}
{%for category in total%}
<td  class="{%if forloop.counter|divisibleby:"2"%}bg-teal {%else%} bg-teal-active {%endif%}"    colspan="{{category.colspan}}">

<a href="#" class="count"  data-toggle="modal" data-target="#totals2-{{category.category}}-{{category.site}}-{{forloop.counter}}" >{{category.count}}</a>
<a href="#" class="loss" data-toggle="modal" data-target="#totals2-{{category.category}}-{{category.site}}-{{forloop.counter}}" >{{category.loss}}</a>
<a href="#" class="time "  data-toggle="modal" data-target="#totals2-{{category.category}}-{{category.site}}-{{forloop.counter}}" >{{category.time}}</a>



<div class="modal fade" id="totals2-{{category.category}}-{{category.site}}-{{forloop.counter}}" tabindex="-1" >
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title box-title" style="color:#000" id="myModalLabel">Breakdown Log</h4>
      </div>
      <div class="modal-body">
<table class="tg table table-bordered bg-gray dataTable ">

  <tr class="top-head bg-teal">
    <td class="tg-cell tg-031e">S.No.</td>
    <td class="tg-cell tg-031e">Site<br></td>
    <td class="tg-cell tg-031e">Equipment<br></td>

    <td class="tg-cell tg-031e">Sub Category<br></td>
    <td class="tg-cell tg-031e">Date<br></td>

    <td class="tg-cell tg-031e">From Time<br></td>


    <td class="tg-cell tg-031e">To Time</td>
    <td class="tg-cell tg-031e">Action Taken</td>
    <td class="tg-cell tg-031e">Present Status</td>
</tr>

    
{%for alert in category.breakdowns%}
<tr>
<td class="tg-031e">{{forloop.counter}}</td>
    <td class="tg-031e">{{alert.dgr.site}}</td>
    <td class="tg-031e">{{alert.equipment}}</td>
    <td class="tg-031e">{{alert.sub_category}}</td>
    <td class="tg-031e">{{alert.dgr.date}}</td>
    <td class="tg-031e">{{alert.from_time}}</td>
    <td class="tg-031e">{{alert.to_time}}</td>
    <td class="tg-031e">{{alert.action_taken}}</td>
    <td class="tg-031e">{{alert.present_status}}</td>
  </tr>
{%empty%}
<tr>
<td class="tg-031e" colspan="8">No Data Available</td>
  </tr>

{%endfor%}


</table>

      </div>
    </div>
  </div>
</div>





</td>
{%endfor%}
{%endfor%}
</tr>


</tbody>

</table>
</div>



</div>
       
</div>
         
<a class="btn-raised pull-right btn btn-info" download="export-energymanager.xls" href="#" onclick="return ExcellentExport.excel(this, 'dataTable', 'Sheet');">Export to Excel</a>

<script>
$(function(){

    $('.modal').on('shown.bs.modal', function () {
            $(".modal-backdrop").hide()
            $(".modal-dialog").width("auto")
            $('.pages').animate({ scrollTop: 0 }, 'slow');
    });

var type = $(".table-type").val();

if(type=="count"){
$(".time,.loss").hide();
$(".count").show();
$("#breakdown-graph-time").hide();
$("#breakdown-graph-loss").hide();
$("#breakdown-graph").show();
}
if(type=="time"){
$(".count,.loss").hide();
$(".time").show();
$("#breakdown-graph-time").show();
$("#breakdown-graph-loss").hide();
$("#breakdown-graph").hide();


}
if(type=="loss"){
$(".time,.count").hide();
$(".loss").show();
$("#breakdown-graph-time").hide();
$("#breakdown-graph-loss").show();
$("#breakdown-graph").hide();


}



$(".table-type").change(function(){

var type = $(this).val();
if(type=="count"){
$(".time,.loss").hide();
$(".count").show();
$("#breakdown-graph-time").hide();
$("#breakdown-graph-loss").hide();
$("#breakdown-graph").show();


}
if(type=="time"){
$(".count,.loss").hide();
$(".time").show();
$("#breakdown-graph-time").show();
$("#breakdown-graph-loss").hide();
$("#breakdown-graph").hide();



}
if(type=="loss"){
$(".time,.count").hide();
$(".loss").show();
$("#breakdown-graph-time").hide();
$("#breakdown-graph-loss").show();
$("#breakdown-graph").hide();




}



});
});
</script>

{%if duration == "monthly"%}
{%include 'issues/breakdown_graph.html'%}
{%endif%}
