
    <div>
            <div class="col-md-12 ">
              <div class="panel panel-default">
                <div class="panel-heading with-border">
<h3 class="box-title">
Issues Reports
</h3>
                </div><!-- /.box-header -->
                <div class="panel-body">
                  
<div class="bg-navy disabled col-md-12">
<center>
<p>From: {{from_date}}</p>
<p>To: {{to_date}}</p>
</center>
</div>




<table class="tg table bg-gray table-bordered table-hover dataTable " id="dataTable">
<thead>
  <tr class="top-head bg-aqua-active">
    <th class="tg-cell tg-031e">S.No.</th>
{%if duration == "yearly"%}
    <th class="tg-cell tg-031e">Year<br></th>
{%elif duration == "monthly"%}

    <th class="tg-cell tg-031e">Month<br></th>
{%else%}

    <th class="tg-cell tg-031e">Date<br></th>
{%endif%}


    <th class="tg-cell tg-031e">Site</th>
    <th class="tg-cell tg-031e">Category</th>
    <th class="tg-cell tg-031e">Reason</th>
    <th class="tg-cell tg-031e">Sub Reason</th>
    <th class="tg-cell tg-031e">From </th>
    <th class="tg-cell tg-031e">To</th>
    <th class="tg-cell tg-031e">Total Time</th>
    <th class="tg-cell tg-031e">Gen. Loss</th>
</tr>
</thead>
<tbody>

{%for data in readings%}

<tr>
<td>
{{forloop.counter}}
</td>
    <td class="tg-031e">{{data.query.outage_start}}</td>
    <td class="tg-031e">{{data.query.site}}</td>
    <td class="tg-031e">{{data.query.outage_type}}</td>
    <td class="tg-031e">{{data.query.description}}</td>
    <td class="tg-031e">{{data.query.sub_description}}</td>
    <td class="tg-031e">{{data.query.outage_start}}</td>
    <td class="tg-031e">{{data.query.outage_end}}</td>
    <td class="tg-031e">{{data.query.total_time}}</td>
    <td class="tg-031e">{{data.query.genloss}} kwh</td>
</tr>


{%endfor%}

<tr class="bg-teal">
 <td class="tg-031e">Total - {{meta.total}}</td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e">{{meta.total_time}} </td>
    <td class="tg-031e">{{meta.total_loss}} kwh</td>




  </tr>
</tbody>

</table>

</div>
       
</div>
         
<a class="pull-right btn-raised btn btn-info" download="export-energymanager.xls" href="#" onclick="return ExcellentExport.excel(this, 'dataTable', 'Sheet');">Export to Excel</a>


