{% load bootstrap3 %}
{% load staticfiles %}


        <form enctype="multipart/form-data" action="/complaints/issue/{{issue.id}}/set_target_date/" method="post" role="form" class="col-md-12">
{% csrf_token %}

              {% bootstrap_form form %}


<input type="submit" class="btn btn-primary" value="Assign" />
</form>


<script>
$(function(){
$("#id_target_date").datepicker();
});
</script>


