{%extends 'main/index.html'%}
{% load bootstrap3 %}
{% load staticfiles %}


{%block content%}

<!-- Content Wrapper. Contains page content -->
         <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Issue</li>
            <li class="active">New</li>
          </ol>

        <section class="content">
        <div class="row">
<div class="col-md-12"> 
        <br> 
{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

 
<div class="panel panel-default">
<div class="panel-heading">
	<h3 class="box-title">
           New Issue
	</h3>
</div>
<div class="panel-body">
        <form enctype="multipart/form-data" action="" method="post" role="form" class="col-md-4">
{% csrf_token %}

              {% bootstrap_form form %}


<input type="submit" class="btn btn-primary" value="Open Issue" />
</form>



</div>
</div>



</div>
</div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

{%endblock%}
{%block scripts%}
<script>
$(function(){

$("select").select2();


$("#id_outage_type").change(function(){

if($(this).val() == 5){
}

});

});


</script>
{%endblock%}


{%block extracss%}
    {%endblock%}
