{%extends 'main/index.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% load comments i18n %}

{% load threadedcomments_tags %}

{%block content%}
          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
{%if not user.usercompany.is_client%}
            <li><a href="/complaints/">Issues</a></li>
	    {%endif%}
	    <li class="active">Details</li>
          </ol>

 <br>

<br>
       <!-- Main content -->
        <section class="content">
        <div class="row">
<div class="col-md-12 "> 
         
{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

<div class="">


<div class="inbox-head">
	{%if user.usercompany.is_client%}
	Expected time left to resolve: <b>{{complaint.target_date}}</b>
	{%else%}
	{%if not complaint.target_date%}
	<span class=" alert alert-danger">Target date not set! Please set a target date for this issue</span>
	{%endif%}
	{%endif%}
<h3><i class="glyphicon glyphicon-list-alt"></i>
   Issue: <span class="">#{{complaint.id}} </span>
</h3>

<div class="col-xs-6 col-sm-3">
										<div class="panel pricing-table pricing-table-blue">
											<div class="panel-heading">
												<h3>Category</h3>
											</div>
											<div class="panel-body">
												<strong>{{complaint.outage_type}}</strong>
											</div>
										</div>
									</div>

<div class="col-xs-6 col-sm-3">
										<div class="panel pricing-table pricing-table-blue">
											<div class="panel-heading">
												<h3>Type</h3>
											</div>
											<div class="panel-body">
												<strong>{{complaint.description}}</strong>
											</div>
										</div>
									</div>


<div class="col-xs-6 col-sm-3">
										<div class="panel pricing-table pricing-table-blue">
											<div class="panel-heading">
												<h3>Description</h3>
											</div>
											<div class="panel-body">
												<strong>{{complaint.sub_description}}</strong>
											</div>
										</div>
									</div>

<div class="col-xs-6 col-sm-3">
										<div class="panel pricing-table pricing-table-red">
											<div class="panel-heading">
												<h3>Target Date</h3>
											</div>
											<div class="panel-body">
												<strong>{{complaint.target_date}}</strong>
											</div>
										</div>
									</div>


<p class="pull-right"> <b>Created on:</b> {{complaint.created}}</p>
                      </div>

      <table class="no-padding table table-striped table table-inbox table-hover">
<tr>
<td><b>Status</b></td>
<td><span class="{%if complaint.status.title == "close" or complaint.status.title == "completed"%}label label-success {%else%} label label-danger {%endif%}">{{complaint.status}}</span> 

{%if not user.usercompany.is_client%}
{%if not complaint.status.title == "pending" %}
<a class="btn btn-default pull-right" href="/complaints/update_issue/{{complaint.id}}/"> EDIT</a>
{%endif%}
{%endif%}

{%if complaint.status.title == "completed" or complaint.status.title == "close" %}

{%if not user.usercompany.is_client%}
<a class="btn btn-info pull-right" data-toggle="modal" data-target="#reopen-data" href="#"> REOPEN</a>
{%endif%}
{%else%}
{%if not user.usercompany.is_client%}
{%if complaint.status.title == "pending" %}


<a style="margin-bottom:10px" href="/complaints/issue/{{complaint.id}}/approved/" class="btn pull-right btn-success"> <i class="glyphicon glyphicon-remove-circle"></i> &nbsp;APPROVE</a>



<a style="margin-bottom:10px" href="/complaints/resolve/{{complaint.id}}/" class="btn pull-right btn-danger"> <i class="glyphicon glyphicon-remove-circle"></i> &nbsp;REJECT</a>

{%else%}
<a style="margin-bottom:10px" href="/complaints/resolve/{{complaint.id}}/" class="btn pull-right btn-danger"> <i class="glyphicon glyphicon-remove-circle"></i> &nbsp;CLOSE NOW</a>
{%endif%}
{%endif%}
{%endif%}
</td>
</tr>


<tr>
<td><b>Issue No.</b></td>
<td>#{{complaint.id}}</td>
</tr>
<tr>
<td><b>Priority</b></td>
<td><span class="label {%if complaint.priority.title == "normal"%}label-default{%else%} label-warning{%endif%}"><i class="glyphicon glyphicon-warning-sign"></i>&nbsp;{{complaint.priority}}</label></td>
</tr>


<tr>
<td><b>Site</b></td>
<td>{{complaint.site}}</td>
</tr>
<tr>
<td><b>Category</b></td>
<td>{{complaint.outage_type}}</td>
</tr>

{%if complaint.outage_type.title == "Material"%}
<tr>
<td><b>PO</b></td>
<td>
{%for pos in po%}
<a href="/stock/po/{{pos.po.id}}">#{{pos.po.id}} - {{pos.po.item}}</a>
</td>
</tr>
<tr>
	<td><b>Quantity Required: </b>
	</td><td>{{pos.po.quantity}}</td>
</tr>
{%endfor%}
{%endif%}


{%if complaint.outage_type.title == "preventive maintenance"%}
<tr>
<td><b>PM</b></td>
<td>
{%for pm in pms%}
<a href="/pm/alert/{{pm.pmalert.id}}">#{{pm.pmalert.id}}</a>
{%endfor%}
</td>
</tr>
{%endif%}


<tr>
<td><b>Issue Type</b></td>
<td>{{complaint.description}}</td>
</tr>
<tr>
<td><b>Description</b></td>
<td>{{complaint.sub_description}}</td>
</tr>
<tr>
<td><b>Details</b></td>
<td>{{complaint.comment}}</td>
</tr>


<tr>
<td><b>Date of Issue Filed</b></td>
<td>{{complaint.date_of_complaint}}</td>
</tr>
<tr>
<td><b>Outage Start Time</b></td>
<td>{{complaint.outage_start}}</td>
</tr>

{%if complaint.outage_end%}
<tr>
<td><b>Outage End Time</b></td>
<td>{{complaint.outage_end}}</td>
</tr>
<tr>
<td><b>Gen Loss (KWh)</b></td>
<td>{{complaint.genloss}}</td>
</tr>


{%endif%}

<tr>
<td><b>Assigned To</b></td>
<td>{%if complaint.assigned_to %} {{complaint.assigned_to}}{{complaint.assigned_to.usersite.role}} {%else%}<span style="color:red">Not Assigned</a>{%endif%} 


{%if complaint.status.title == "open" %}
{%if not user.usercompany.is_client%}
<a class="btn btn-info pull-right" data-toggle="modal" data-target="#dashboard-data" href="#" data-url="/complaints/issue/{{complaint.id}}/assign/"> Change</a>
{%endif%}
{%endif%}
</td>
</tr>

<tr>
<td><b>Target Date</b></td>
<td>{%if complaint.target_date %} {{complaint.target_date}} {%else%}Not Assigned{%endif%} 

{%if complaint.status.title == "open" %}
{%if not user.usercompany.is_client%}
<a class="btn btn-info pull-right" data-toggle="modal" data-target="#target-date" href="#" data-url="/complaints/issue/{{complaint.id}}/assign/"> Change</a>
{%endif%}
{%endif%}
</td>
</tr>



</table>

<div  class="panel panel-default">
<div class="panel-heading">
<h3 style="float:left;"><i class="glyphicon glyphicon-arrow-right"></i> Actions Taken
</h3>

{%if not user.usercompany.is_client%}
{%if complaint.status.title == "open" %}
<a class="btn  btn-default pull-right" href="/complaints/create_action/{{complaint.id}}/"><i class="glyphicon glyphicon-plus"></i>&nbsp;New Action</a>
{%endif%}
{%endif%}
</div>


    <div class="panel-body no-padding">
      <table class="no-padding table table-striped bring-up nth-2-center" >
        <thead>
          <tr>
            <th style="width: 210px;">Action</th>
            <th style="width: 210px;">Work Status</th>
            <th>User</th>
            <th>Date/Time</th>
          </tr>
        </thead>
        <tbody>
{%for action in actions%}
          <tr>
            <td><code>{{action}}</code></td>
            <td><code>{{action.work_status}}</code></td>
            <td><a class="btn btn-primary btn-xs" data-skin="skin-blue" href="#"><i class="fa fa-user"></i>&nbsp;{{action.user}}</a></td>
            <td><span class="small">{{action.created|timesince}} ago</span></td>
          </tr>
{%empty%}
<tr>
<td colspan="4">No actions taken yet</td>
</tr>
{%endfor%}
        </tbody>
      </table>
 {%if complaint.outage_type.title == "preventive maintenance"%}
{%for pm in pms%}
<br>
{%if pm.pmalert.status == "completed"%}

<a href="/pm/update_pm/{{pm.pmalert.id}}">See PM Report</a>
{%else%}
{%if not user.usercompany.is_client%}
<a href="/pm/update_pm/{{pm.pmalert.id}}">File PM Report</a>

{%endif%}
{%endif%}
{%endfor%}
{%endif%}


    </div><!-- /.box-body -->
  </div>

<div  class="panel panel-primary">
<div class="panel-heading">

<h3><i class="glyphicon glyphicon-arrow-right"></i>  Resolution</h3>
    
</div>
<div class="panel-body no-padding">
      <table class="no-padding table table-striped bring-up nth-2-center" id="layout-skins-list">
        <thead>
          <tr>
            <th style="width: 210px;">Resolution</th>
            <th>Details</th>
            <th>User</th>
            <th>Date/Time</th>
          </tr>
        </thead>
        <tbody>
{%for action in resolutions%}
          <tr>
            <td><code>{{action.resolution}}</code></td>
            <td><code>{{action.details}}</code></td>
            <td><a class="btn btn-primary btn-xs" data-skin="skin-blue" href="#"><i class="fa fa-user"></i>&nbsp;{{action.user}}</a></td>
            <td><span class="small">{{action.created|timesince}} ago</span></td>
          </tr>
{%empty%}
<tr>
<td colspan="4">No resolutions made yet</td>
</tr>
{%endfor%}
                </tbody>
      </table>
    </div><!-- /.box-body -->
  </div>




<div class="panel panel-primary">
<div class="panel-heading">


<h3> <i class="glyphicon glyphicon-arrow-right"></i>  Activity Log </h3>
</div>
    <div class="panel-body no-padding">
<div style="max-height:300px;overflow:auto;">
      <table class="no-padding table table-striped bring-up nth-2-center" id="layout-skins-list">
        <thead>
          <tr>
            <th>Activity</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
{%for activity in logs%}
          <tr>
            <td><code>{{activity}}</code></td>
            <td> <span class="pull-right small" data-skin="skin-blue" >&nbsp;{{activity.created|timesince}} ago</span></td>
          </tr>
{%endfor%}

        </tbody>
      </table>
    </div><!-- /.box-body -->
    </div><!-- /.box-body -->
  </div>



<div class="panel panel-primary">
<div class="panel-heading">
<h3><i class="glyphicon glyphicon-arrow-right"></i>  Remarks</h3>
</div>
<div class="panel-body">
{% render_comment_list for complaint %} 

{% if user.is_authenticated %}
    {% get_comment_form for complaint as form %}
    <form action="{% comment_form_target %}" class="form"  method="POST">
    {% csrf_token %}
  

<div class="form-group"><label for="id_note" class="control-label">Remarks</label>
<br>
 {% for field in form %}
        {% if field.is_hidden %}
            <div>{{ field }}</div>
        {% endif %}
    {% endfor %}
{{form.comment}}<span class="help-block">Enter any remarks or comment you have
</span></div>

<br>
<br>
    <input type="submit" class="btn btn-info" value="Add Remark" id="id_submit" />
    </form>
{% else %}
    <p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
{% endif %}



</div>
</div>
</div>
</div>


<div class="modal fade" id="reopen-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title box-title" style="color:#000" id="myModalLabel">Details</h4>
      </div>
      <div class="modal-body">
<h3>Please share reason for re-opening the issue</h3>
        <form enctype="multipart/form-data" action="/complaints/issue/{{complaint.id}}/reopen/" method="post" role="form">
{% csrf_token %}

              {% bootstrap_form reopen_form %}


<input type="submit" class="btn btn-primary" value="Reopen" />
</form>


      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="dashboard-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title box-title" style="color:#000" id="myModalLabel">Details</h4>
      </div>
      <div class="modal-body">

        <form enctype="multipart/form-data" action="/complaints/issue/{{complaint.id}}/assign/" method="post" role="form" >
{% csrf_token %}

              {% bootstrap_form assignform %}


<input type="submit" class="btn btn-primary" value="Save" />
</form>


      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


 </div>
</div>



        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
<div class="modal fade" id="target-date" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title box-title" style="color:#000" id="myModalLabel">Details</h4>
      </div>
      <div class="modal-body">

        <form enctype="multipart/form-data" action="/complaints/issue/{{complaint.id}}/set_target_date/" method="post" role="form" >
{% csrf_token %}

              {% bootstrap_form target_form %}


<input type="submit" class="btn btn-primary" value="Save" />
</form>


      </div>
      <div class="modal-footer">
      </div>
    </div>


 
{%endblock%}
{%block scripts%}
<script>
$(function(){
$("#id_target_date").datetimepicker();

$("#id_honeypot").hide();
  var options = { 
        success:       showResponse,  // post-submit callback 
 
        // other available options: 
        //url:       url         // override for form's 'action' attribute 
        //type:      type        // 'get' or 'post', override for form's 'method' attribute 
        //dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
        resetForm: true        // reset the form after successful submit 
 
        // $.ajax options can be used here too, for example: 
        //timeout:   3000 
    }; 
 

$("form").ajaxForm(options);

});
// post-submit callback 
function showResponse(responseText, statusText, xhr, $form)  { 
    // for normal html responses, the first argument to the success callback 
    // is the XMLHttpRequest object's responseText property 
 
    // if the ajaxForm method was passed an Options Object with the dataType 
    // property set to 'xml' then the first argument to the success callback 
    // is the XMLHttpRequest object's responseXML property 
 
    // if the ajaxForm method was passed an Options Object with the dataType 
    // property set to 'json' then the first argument to the success callback 
    // is the json data object returned by the server 

location.reload();
} 
</script>
{%endblock%}

{%block date%}
{%endblock%}

{%block extracss%}
<style>
#id_comment{
width:400px;
height:100px;
}
</style>
{%endblock%}
