.box-title, .panel-heading h1{
color:#fff;
padding:17px;
font-size:18px;
}

.bg-red td{
background:#bdc3c7 !important;
}

.form-inline .form-group{
margin-top:15px;
}

.label-issue{
background:#81e2ba
}
