 
<h3>Item: {{item}}  

<a class="pull-right btn btn-default" download="export-energymanager.xls" href="#" onclick="return ExcellentExport.excel(this, 'dataTable', 'Sheet');">Export to Excel</a>
</h3>
      <div class="table-responsive">
                    <table class="table no-margin bg-gray stock-table table-bordered" id="dataTable">
                      <thead>
<tr class="hidden">
<td>Item:</td>
<td>{{data.item}}</td>
</tr>
                        <tr class="bg-blue">

                          <th>Site</th>
                          <th>Available Qty.</th>

                        </tr>
                      </thead>
                      <tbody>
{%for data in results %}
                        <tr>
			  <td>{{data.site}}</td>
			  <td>{{data.quantity}}</td>

                        </tr>

{%empty%}

<tr>
			<td colspan="2">No items available</td>
</tr>
{%endfor%}
{%if total%}
<tr class="bg-teal-active">
<td>Total:</td>
<td><b>{{total}}</b></td>
</tr>
{%endif%}

                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->



