  
{%extends 'main/index.html'%}
{% load bootstrap3 %}
{% load staticfiles %}

{%block sidemenu%}
{%include 'partials/stock-menu.html'%}
{%endblock%}
{%block content%}    
           

         <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Stock Admin</li>
          </ol>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
<br>
{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

 
              <!-- general form elements -->
              <div class="panel panel-primary ">
                <div class="panel-heading accent-color">
<h3 class="box-title">Stock Reports</h3>
                </div><!-- /.box-header -->
<div class="panel-body"> 
<form class="form-inline form" action="" method="post">{%csrf_token%}
{%bootstrap_form form%}
<br>
<br>
<button class="pull-right btn-raised btn btn-primary form-button">Search</button>
</form>
           
<div class="ajax-content"> 
<br>
<br>
<div class="inbox-head">
<h3 styles="float:left">
	<hr>
<i class="glyphicon glyphicon-th"></i>&nbsp;Closing Stock : {{date.date}} 

</h3> 

<a class="pull-right btn-raised btn btn-info" download="export-energymanager.xls" href="#" onclick="return ExcellentExport.excel(this, 'dataTable', 'Sheet');">Export to Excel</a>
</div>
      <div >
<br>
<br>
<br>
                    <table class="no-padding table no-margin bg-gray table-bordered" id="dataTable">
                      <thead>
<tr class="hidden">
<td>Closing Stock: </td>
<td>{{date.date}}</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
                        <tr class="light-primary-color">
                          <th>S.No</th>
                          <th>Item Description</th>
                          <th>Part Code</th>
                          <th>Specification</th>
                          <th>Opening Stock</th>
                          <th>Received</th>
                          <th>Consumption</th>
                          <th>Transfer</th>
                          <th>Per Site Stock</th>
                          <th>Closing Stock</th>

                        </tr>
                      </thead>
                      <tbody>
			{%for data in data%}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{data.item.material_description}}</td>
                          <td>{{data.item.part_code}}</td>
                          <td>{{data.item.specifications}}</td>
                          <td>{{data.opening}}<small> {{data.item.unit_of_measurement}}</small></td>
			  <td>{{data.rec}} <a class="table-link small muted" href="/stock/received/?item={{data.item.id}}">Update</a> </td>
                          <td>{{data.consumed}} <a class="table-link small muted" href="/stock/issued/?item={{data.item.id}}">Update</a></td>
			  <td>{{data.issued}}  <a class="table-link small muted" href="/stock/issued/?item={{data.item.id}}">Update</a> </td>
			  <td>{%for site in data.sitewise%}
				 {{site.site}} : {{site.quantity}}<br>
				{%endfor%}
				</td>
			  <td>{{data.closing}}</td>


                        </tr>
			{%empty%}
			<tr>
			<td colspan="12">No items available</td>
			</tr>
                       {%endfor%}
                      </tbody>
                    </table>

                  </div><!-- /.table-responsive -->

</div>

</div><!-- /.box -->


 











          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

             {%endblock%} 

{%block scripts%}
<script> 
$(function(){

    $("select").select2({
    width: "100px",
    placeholder: "Select"
    });


$(".field-from-date,.field-to-date").datepicker();
$(".field-hidden").parent().hide();

var type = $("#id_report_type").val();
if (type == "aval" ){
	$(".field-from-date").removeAttr("required").parent().hide();
	$(".field-to-date").removeAttr("required").parent().hide();
	$(".field-site").removeAttr("required").parent().hide();
}
else{
	$(".field-from-date").attr("required","required",).parent().show();
	$(".field-to-date").attr("required","required").parent().show();
	$(".field-site").attr("required","required").parent().show();

}
$("#id_report_type").change(function(){


var type = $(this).val();
if (type == "aval" ){
	$(".field-from-date").removeAttr("required").parent().hide();
	$(".field-to-date").removeAttr("required").parent().hide();
	$(".field-site").removeAttr("required").parent().hide();
}
else{
	$(".field-from-date").attr("required","required",).parent().show();
	$(".field-to-date").attr("required","required").parent().show();
	$(".field-site").attr("required","required").parent().show();

}


});




$('form').ajaxForm({ 
        // target identifies the element(s) to update with the server response 
        target: '.ajax-content', 
	beforeSubmit: showRequest, 
        // success identifies the function to invoke when the server response 
        // has been received; here we apply a fade-in effect to the new content 
        success: function() { 
            $('.search-results').fadeIn('slow'); 
	    $(".form-button").text("Search");

	   //$.notify("Report loaded", "success"); 
        } 
    }); 





});

// pre-submit callback 
function showRequest(formData, jqForm, options) { 
	$(".form-button").text("Loading..");
    return true; 
} 

</script>



{%endblock%}

{%block extracss%}
<style type="text/css">
.help-block{
display:none;
}

.form-group{
}
.form-inline .control-label{
padding:16px;
}

</style>

{%endblock%}
