 
{%if data.site%}           
<h3>Site: {{data.site}}  
{%else%}

<h3>Item: {{data.item}}  
{%endif%}

<a class="pull-right btn btn-default" download="export-energymanager.xls" href="#" onclick="return ExcellentExport.excel(this, 'dataTable', 'Sheet');">Export to Excel</a>
</h3>
<p> From : {{from}} - To : {{to}}</p>
      <div class="table-responsive">
                    <table class="table no-margin bg-gray stock-table table-bordered" id="dataTable">
                      <thead>
<tr class="hidden">
<td>Site:</td>
<td>{{data.site}}</td>
<td>Item:</td>
<td>{{data.item}}</td>
<td>From: {{from}}</td>
<td>To: {{to}}</td>
<td></td>
</tr>
                        <tr class="bg-teal-active">
                          <th>Item Description</th>
                          <th>Part Code</th>
                          <th>Specification</th>
                          <th>Remarks</th>
                          <th>Unit</th>
                          <th>Opening</th>
                          <th>Consumed</th>
                          <th>Transfer</th>
                          <th>Received</th>
                          <th>Closing Stock</th>

                        </tr>
                      </thead>
                      <tbody>
{%if data %}
                        <tr>
                          <td>{{data.item}}</td>
                          <td>{{data.item.part_code}}</td>
                          <td>{{data.item.specifications}}</td>
                          <td>{{data.item.remarks}}</td>
			  <td>{{data.item.unit_of_measurement}}</td>
                          <td>{{data.opening}}</td>
                          <td>{{data.consumed}}</td>
                          <td>{{data.issued}}</td>
                          <td>{{data.rec}}</td>
			  <td>{{data.closing}}</td>

                        </tr>
{%else%}

<tr>
			<td colspan="9">No items available</td>
</tr>
{%endif%}
                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->



