           
{%if site%}

<h3>{{site}}  
{%else%} 
<h3>All Sites 
{%endif%}

<a class="pull-right btn btn-default" download="export-energymanager.xls" href="#" onclick="return ExcellentExport.excel(this, 'dataTable', 'Sheet');">Export to Excel</a>
</h3>
<p>From : {{from}} - To : {{to}}</p>
      <div class="table-responsive">
                    <table class="table no-margin bg-gray stock-table table-bordered" id="dataTable">
                      <thead>
<tr class="hidden">
<td>
Site:
</td>
<td>
{%if site%}
{{site}}
{%else%}
All Sites
{%endif%}
</td>
<td>From:</td>
<td>{{from}}</td>
<td>To: </td>
<td>{{to}}</td>
<td></td>
</tr>
                    <tr class="bg-teal-active">
                          <th>S.No</th>
                          <th>Item Description</th>
                          <th>Part Code</th>
                          <th>Specification</th>
                          <th>Remarks</th>
                          <th>Unit</th>
                          <th>Opening Stock</th>
                          <th>Consumption</th>
                          <th>Transfer</th>
                          <th>Received</th>
                          <th>Closing Stock</th>

                        </tr>
                      </thead>
                      <tbody>
			{%for data in reports%}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{data.item}}</td>
                          <td>{{data.item.part_code}}</td>
                          <td>{{data.item.specifications}}</td>
                          <td>{{data.item.remarks}}</td>
			  <td>{{data.item.unit_of_measurement}}</td>
                          <td>{{data.opening}}</td>
                          <td>{{data.consumed}}</td>
			  <td>{{data.issued}}</td>
			  <td>{{data.rec}}</td>
			  <td>{{data.closing}}</td>


                        </tr>
			{%empty%}
			<tr>
			<td colspan="10">No items available</td>
			</tr>
                       {%endfor%}
                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->



