  
            
<h3>{{type}} Report 

<a class="pull-right btn btn-default" download="export-energymanager.xls" href="#" onclick="return ExcellentExport.excel(this, 'dataTable', 'Sheet');">Export to Excel</a>
 </h3>
<p>From : {{from}} To: {{to}}</p> 


{%if type == "Inward"%}
<div class="table-responsive table">
                    <table class="table no-margin stock-table table-bordered bg-gray" id="dataTable">
                      <thead>
<tr class="hidden">
<td>Report: </td>
<td>{{type}} </td>
<td>From: </td>
<td>{{from}} </td>
<td>To: </td>
<td>{{to}} </td>
<td> </td>
<td> </td>
<td> </td>

</tr>

                        <tr class="bg-purple">
                          <th>S.No</th>
                          <th>Item Description</th>
                          <th>Specification</th>
                          <th>Date</th>
                          <th>Invoice no.</th>
                          <th>PO No.</th>
                          <th>Transfer Type</th>
                          <th>From Site</th>
                          <th>Remarks</th>
                          <th>Quantity</th>
                          <th>Download</th>

                        </tr>
                      </thead>
                      <tbody>
			{%for data in data%}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{data.item}}</td>
                          <td>{{data.item.specifications}}</td>
                          <td>{{data.created}}</td>
                          <td>{{data.invoice_no}}</td>
                          <td>{{data.purchase_order_no}}</td>
                          <td>{{data.transfer_type}}</td>
                          <td>{{data.from_site}}</td>
                          <td>{{data.remarks}}</td>
			  <td>{{data.quantity}}</td>
			  <td><a href="/stock/rec/{{data.id}}/pdf/">Receiving</a></td>


                        </tr>
			{%empty%}
			<tr>
			<td>No items available</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
</tr>
                       {%endfor%}
                      </tbody>
                    </table>
</div> 


{%endif%}

{%if type == "Outward"%}

      <div class="table-responsive table">
                    <table class="table no-margin table-bordered bg-gray" id="dataTable">
                      <thead>
<tr class="hidden">
<td>Report: </td>
<td>{{type}} </td>
<td>From: </td>
<td>{{from}} </td>
<td>To: </td>
<td>{{to}} </td>
<td> </td>
<td> </td>
<td> </td>

</tr>



                        <tr class="bg-purple">
                          <th>S.No</th>
                          <th>Item Description</th>
                          <th>Specification</th>
                          <th>Issued Date</th>
                          <th>Transfer Type</th>
                          <th>Issued To</th>
                          <th>Quantity</th>
                          <th>Download</th>

                        </tr>
                      </thead>
                      <tbody>
			{%for data in issued%}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{data.item}}</td>
                          <td>{{data.item.specifications}}</td>
                          <td>{{data.created}}</td>
                          <td>{{data.transfer_type}}</td>
                          <td>{{data.to_site}}</td>
			  <td>{{data.quantity}}</td>
			  <td><a href="/stock/issued/{{data.id}}/pdf/">Gate Pass</a></td>


                        </tr>
			{%empty%}
			<tr>
			<td colspan="8">No items available</td>
			</tr>
                       {%endfor%}
                      </tbody>
                    </table>
 

</div>

{%endif%}
