<html>

<body>
<center>
<h1>{{company.name|upper}}
<h2>Site : {{issued.site.name}}</h2>
<hr>
<h2>GATE PASS</h2>
</center>
<table>
<tr>
<td>
Date:
</td>
<td>
{{issued.created}}
</td>
</tr>
<tr>
<td>
Item:
</td>
<td>
{{issued.item|upper}}
</td>
</tr>
<tr>
<td>
Specifications:
</td>
<td>
{{issued.specifications|upper}}
</td>
</tr>
<tr>
<td>
Issued To:
</td>
<td>
{{issued.issue_to|upper}}
</td>
</tr>
<tr>
<td>
Quantity:
</td>
<td>
{{issued.quantity}}
</td>
</tr>
<tr>
<td>
Remarks:
</td>
<td>
{{issued.Remarks}}
</td>
</tr>


</table>

<hr>
<h3>
Authorized Signatory
</h3>
</body>
</html>
