  
{%extends 'main/index.html'%}
{% load bootstrap3 %}


{%block sidemenu%}
{%include 'partials/stock-menu.html'%}
{%endblock%}

{%block content%}    
           

 <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Item Received 
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Item Received</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

 
              <!-- general form elements -->
              <div class="panel panel-primary">
                <div class="panel-heading">
<h3 class="box-title">New receiving entry</h3>

 

                </div><!-- /.box-header -->
                <!-- form start -->
                <form action="" method="post" role="form">{%csrf_token%}
                  <div class="panel-body ">
    {% bootstrap_form form %}

                    <button class="btn btn-raised btn-primary next-first">SAVE</button>

                  </div><!-- /.box-body -->

                  <div class="box-footer">
                  </div>
                </form>
              </div><!-- /.box -->

















          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

             {%endblock%} 

{%block dashboardgraphs%}
{%endblock%}
{%block extrajs%}
 
{%endblock%}
