  
{%extends 'main/index.html'%}
{% load bootstrap3 %}
{%block sidemenu%}
{%include 'partials/stock-menu.html'%}
{%endblock%}

{%block content%}    
           

 <!-- Content Wrapper. Contains page content -->
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Item Issued</li>
          </ol>
        <section class="content">

{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

 
              <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="box-title">Stock item consumption record</h3>



                </div><!-- /.box-header -->
		
                  <div class="panel-body ">
		<form action=""  method="post" role="form">{%csrf_token%}
    {% bootstrap_form form %}

                    <button class="btn btn-raised btn-primary next-first">SAVE</button>

                  </div><!-- /.box-body -->

                  <div class="box-footer">
                  </div>
                </form>
              </div><!-- /.box -->


 










          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

             {%endblock%} 

{%block dashboardgraphs%}
{%endblock%}
{%block scripts%}
 <script>
$(function(){

	$("#id_to_site").parent().hide();
$("#id_transfer_type").change(function(){
var transfer_type = $(this).val();
if(transfer_type == "inter_site_sale" | transfer_type == "inter_site_return")
{
	$("#id_to_site").parent().show();
}
else{

	$("#id_to_site").parent().hide();
}
});


});
</script>
{%endblock%}
