{%extends 'main/index.html'%}
{% load bootstrap3 %}

{%block sidemenu%}
{%include 'partials/stock-menu.html'%}
{%endblock%}


{%block content%}
<!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
          New Item 
          </h1>
  
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Stock </li>
          </ol>

        <!-- Main content -->
        <section class="content">
 {% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

 
              <!-- general form elements -->
              <div class="panel panel-primary ">
                <div class="panel-heading"><h3 class="box-title">Enter details of new stock item</h3>

 
                </div><!-- /.box-header -->
 
<div class="panel-body">
        <form action="" method="post" role="form">
{% csrf_token %}

              {% bootstrap_form form %}

<input type="submit" class="btn-raised btn btn-primary" value="Save" />
</form>


</div>
</div>
</div>
</section>
{%endblock%}


{%block scripts%}

<script>

$(function(){
	$('#id_material_description').typeahead({
        ajax: '/stock/item_names/',
		valueField: 'material_description',
        	displayField: 'material_description',
			
			

       });     
		});

	</script>

{%endblock%}
