  
{%extends 'main/index.html'%}
{% load bootstrap3 %}

{%block sidemenu%}
{%include 'partials/stock-menu.html'%}
{%endblock%}

{%block content%}    
           

 <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Raise Requirement 
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Item Requirements Request</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->

{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

 
              <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="box-title">Raise a Request</h3>

                </div><!-- /.box-header -->
                <!-- form start -->
                <form action="" method="post" role="form">{%csrf_token%}
                  <div class="panel-body ">
    {% bootstrap_form form %}
<div id="id_item_form" class="mailbox-options">
<h3>Item Details</h3>
    {% bootstrap_form itemform %}
</div>
                    <button class="btn-raised btn btn-primary next-first">SUBMIT</button>

                  </div><!-- /.box-body -->

                  <div class="box-footer">
                  </div>
                </form>
              </div><!-- /.box -->


 










          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

             {%endblock%} 

{%block scripts%}
<script>
$(function(){
var checked = $("#id_new_item").prop("checked");
if(checked){
$("#id_item").removeAttr("required").parent().slideUp();
$("#id_item_form").slideDown();

}
else{
$("#id_item").attr("required","required").parent().slideDown();
$("#id_item_form").slideUp();

$("#id_material_description").removeAttr("required");
$("#id_part_code").removeAttr("required");
$("#id_specifications").removeAttr("required");
$("#id_unit_of_measurement").removeAttr("required");
$("#id_remarks").removeAttr("required");
}


$("#id_new_item").change(function(){

var checked = $(this).prop("checked");
if(checked){
$("#id_item").removeAttr("required").parent().slideUp();
$("#id_item_form").slideDown();

}
else{
$("#id_item").attr("required","required").parent().slideDown();
$("#id_item_form").slideUp();
$("#id_material_description").removeAttr("required");
$("#id_part_code").removeAttr("required");
$("#id_specifications").removeAttr("required");
$("#id_unit_of_measurement").removeAttr("required");
$("#id_remarks").removeAttr("required");


}


});




});
</script> 
{%endblock%}
