  
            
<h3>PR Request Status 

<a class="pull-right btn btn-default" download="export-energymanager.xls" href="#" onclick="return ExcellentExport.excel(this, 'dataTable', 'Sheet');">Export to Excel</a>
 </h3>
<p>From : {{from}} To: {{to}}</p> 


      <div class="table-responsive table">
                    <table class="table no-margin" id="dataTable">
                      <thead>
<tr class="hidden">
<td>Report: </td>
<td>{{type}} </td>
<td>From: </td>
<td>{{from}} </td>
<td>To: </td>
<td>{{to}} </td>
<td> </td>
<td> </td>
<td> </td>

</tr>



                        <tr class="bg-purple">
                          <th>S.No</th>
                          <th>Ticket</th>
                          <th>Item Description</th>
                          <th>For Site</th>
                          <th>Request Date</th>
                          <th>Quantity</th>
                          <th>Requested By</th>
                          <th>Status</th>
		{%if usercompany.is_stock_admin%}
                          <th>Action</th>
{%endif%}

                        </tr>
                      </thead>
                      <tbody>
			{%for data in data%}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>#{{data.id}}</td>
                          <td>{{data.item}}</td>
                          <td>{{data.for_site}}</td>
                          <td>{{data.created}}</td>
                          <td>{{data.quantity}}</td>
			  <td>{{data.requested_by}}</td>
			  <td>{{data.status}}</td>

		{%if usercompany.is_stock_admin%}
<td>
<a href="/stock/po/{{data.id}}/">Take Action</a>
</td>
{%endif%}

                        </tr>
			{%empty%}
			<tr>
			<td colspan="8">No items available</td>
			</tr>
                       {%endfor%}
                      </tbody>
                    </table>
 

</div>

