  
{%extends 'main/index.html'%}
{% load bootstrap3 %}
{%block content%}    
                   <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Requirement Request</li>
          </ol>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
<br>
{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

 
              <div class="panel panel-default">
                <div class="panel-heading">
  <h1>
           Purchase Request: Take Action 
            <small>{{site}} </small>
          </h1>
        
       </div><!-- /.box-header -->
                <!-- form start -->
                <form action="" method="post" role="form">{%csrf_token%}
                  <div class="panel-body ">
<table class="table bg-teal">
<tr>
<td class="bg-teal-active">Ticket ID</td><td>#{{po.id}}</td>
</tr>
<tr>
<td class="bg-teal-active">Site</td><td><a href="/site/{{po.for_site.id}}/">{{po.for_site}}</a></td>
</tr>

<tr>
<td class="bg-teal-active">Item</td><td>{{po.item}}</td>
</tr>
<tr>
<td class="bg-teal-active">Quantity</td><td>{{po.quantity}}</td>
</tr>
<tr>
<tr>
<td class="bg-teal-active">Date</td><td>{{po.created}}</td>
</tr>
<tr>
<td class="bg-teal-active">Current Status</td><td>{{po.status}}</td>
</tr>
<tr>
<td class="bg-teal-active">Request By</td><td>{{po.requested_by.first_name}}</td>
</tr>





</table>

{%if usercompany.is_stock_admin%}

    {% bootstrap_form form %}

                    <button class="btn btn-primary next-first">SAVE</button>
{%endif%}
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                  </div>
                </form>
              </div><!-- /.box -->






          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

             {%endblock%} 

{%block dashboardgraphs%}
{%endblock%}
{%block extrajs%}
 
{%endblock%}
