  
{%extends 'dashboard.html'%}
{% load bootstrap3 %}
{%block page%}    
            <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
           PO: Take Action 
            <small>{{site}} </small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">PO Request</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-8">
              <!-- general form elements -->

{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

 
              <div class="box box-primary ">
                <div class="box-header">
                </div><!-- /.box-header -->
                <!-- form start -->
                <form action="" method="post" role="form">{%csrf_token%}
                  <div class="box-body ">
<table class="table bg-teal">
<tr>
<td class="bg-teal-active">Ticket ID</td><td>#{{po.id}}</td>
</tr>
<tr>
<td class="bg-teal-active">Site</td><td><a href="/site/{{po.for_site.id}}/">{{po.for_site}}</a></td>
</tr>

<tr>
<td class="bg-teal-active">Invoice</td><td>{{po.invoice_no}}</td>
</tr>
<tr>
<td class="bg-teal-active">Invoice Date</td><td>{{po.invoice_date}}</td>
</tr>
<tr>
<tr>
<td class="bg-teal-active">Payment Status</td><td>{{po.payment_status}}</td>
</tr>
<tr>
<td class="bg-teal-active">Created By</td><td>{{po.requested_by.first_name}}</td>
</tr>





</table>

{%if usercompany.is_stock_admin%}

    {% bootstrap_form form %}

                    <button class="btn btn-primary next-first">SAVE</button>
{%endif%}
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                  </div>
                </form>
              </div><!-- /.box -->






          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

             {%endblock%} 

{%block dashboardgraphs%}
{%endblock%}
{%block extrajs%}
 
{%endblock%}
