  
{%extends 'base.html'%}
{% load bootstrap3 %}
{%block content%}    
           

 <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Create Purchase Order 
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">PO</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->

{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

 
              <div class="box box-primary ">
                <div class="box-header"><h3 class="box-title">Purchase Order</h3>

<div class="btn-group pull-right">
<a href="/stock/closing/" class="btn btn-default">Reports</a>
<a href="/stock/" class="btn btn-default">Add Item</a>
<a href="/stock/issued" class="btn btn-default ">Outward</a>
<a href="/stock/received/" class="btn btn-default">Inward</a>
<a href="/stock/po/" class="btn btn-default">Raise PR</a>
<a href="/stock/purchase_order/" class="btn btn-info disabled">Create PO</a>


</div>


                </div><!-- /.box-header -->
                <!-- form start -->
                <form action="" method="post" role="form">{%csrf_token%}
                  <div class="box-body ">
    {% bootstrap_form form %}

                    <button class="btn btn-primary next-first">SUBMIT</button>

                  </div><!-- /.box-body -->

                  <div class="box-footer">
                  </div>
                </form>
              </div><!-- /.box -->


 










          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

             {%endblock%} 

{%block dashboardgraphs%}
{%endblock%}
{%block extrajs%}
 
{%endblock%}
