<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="screen" />
	<script src="{% static "jquery-2.2.4.js" %}" type="text/javascript"></script>
	<script src="{% static "channels/js/websocketbridge.js" %}" type="text/javascript"></script>
	{% block extra_head %}{% endblock %}
</head>
<body>
	<header>
		<h1>{% block header_text %}{% endblock %}</h1>
		{% if user.is_authenticated %}
			<a href="/accounts/logout/">Logout</a>
		{% endif %}
	</header>
	<section>
		{% block content %}
		{% endblock %}
	</section>
	{% block extra_body %}{% endblock %}
</body>
</html>
