{%load staticfiles%}
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>O&M Portal | AkshyaPower</title>
		<meta name="description" content="">
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- FullCalendar Styles -->
		<link rel='stylesheet' type='text/css' href='{%static "css/plugins/fullcalendar/fullcalendar.css"%}'>

		<!-- PrettyCheckable Styles -->
		<link rel='stylesheet' type='text/css' href='{%static "css/plugins/prettycheckable/prettyCheckable.css"%}'>

		<!-- Styles -->
		<link rel="stylesheet" href="{%static "css/bootstrap.css"%}">
		<link rel="stylesheet" href="{%static "css/sangoma-green.css"%}">
		<link rel="stylesheet" href="{%static "css/style.css"%}">
		<link rel="stylesheet" href="{%static "select2/select2.css"%}">
		<link rel="stylesheet" href="{%static "bootstrap-datetimepicker.css"%}">
		<!-- JS Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="{%static "js/bootstrap/bootstrap.min.js"%}"></script>
		<script src="{%static "js/libs/modernizr.js"%}"></script>
		<script src="{%static "moment.min.js"%}"></script>
		<script src="{%static "bootstrap-datetimepicker.js"%}"></script>
		<link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
			<link rel="stylesheet" type="text/css" href="{%static "datatables/datatables.css"%}"/>
 
	<script type="text/javascript" src="{%static "datatables/datatables.min.js"%}"></script>


		{%block extracss%}
		{%endblock%}
	
	</head>
	<body class="lost-password">
		
		<!-- Main page container -->
		<section class="container" role="main">

			<div class="row" style="margin-top:18px;">
				<div class="col-sm-12">

					<!-- Header -->
					<h1>Client Dashboard
					
					<img src="{%static "img/aks.png"%}" style="float:right; height:50px"/>	
					</h1>

					<!-- /Header -->

					<!-- Form -->
					<form method="post" action="">{%csrf_token%}
						<p>Please enter your ticket ID to check the status</p>
						<div class="form-group">
							<label>Ticket #ID</label>
							<input class="form-control" style="width:21%" name="ticket" type="text" placeholder="Ticket ID">
						</div>
						<button class="btn btn-primary" type="submit">Submit</button>
						<a class="btn btn-info pull-right" href="/complaints/create_issue/">new ticket</a>
					</form>
					<!-- /Form -->

<div style="    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px; margin-top:20px;">
									
								<h3>Your Tickets</h3>

								<!-- Striped rows table with hovers -->
								<div class="table-responsive">
 <table class="table table-inbox table-hover">
				 <thead>
					 <tr>
						 <th>
						 </th>
						 <th>#</th>
						 <th>Status</th>
						 <th>
							 Site</th>
						 <th>Issue Details</th>
						 <th>Assigned To</th>
						 <th>Filed on</th>
						 <th>Target Date</th>

					 </tr>
				 </thead>
                            <tbody>
			{%for alert in alerts%}
                              <tr {%if not alert.is_read%} class="unread"{%else%} class="read" {%endif%}>
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox" value="{{alert.id}}">
                                  </td>
				  <td 
					  
					  >
					  <span data-toggle="popover" title="Device: {{alert.device}}" data-content="And here's some amazing content. It's very engaging. Right?"> <a href="/complaints/issue/{{alert.id}}/">{{alert.id}}</a></span>
				  </td>
				  <td>
				  {%if alert.status.title == "open"%}
				  {%if alert.escalate%}
				  <span class="label label-warning">Escalated</span>
				  {%else%}
				  <a class="escalate " href="/complaints/issue/escalate/?id={{alert.id}}">escalate</a>
				  {%endif%}
				  <span class="label label-danger label-sm" >{{alert.status}}</span>
{%elif alert.status.title == "pending"%}

<span class="label label-warning label-sm" >{{alert.status}}</span>


{%elif alert.status.title == "close"%}
<span class="label label-success label-sm" >{{alert.status}}</span>
{%else%}

<span class="label label-default label-sm" >{{alert.status}}</span>
{%endif%}
</td>

				  <td class="view-message  dont-show">
					  <a href="/site/site/{{alert.site.id}}/info/"> {{alert.site.name}}</a>
</td>
<td class="view-message "> 
						  <p>{{alert.comment}}</p>



<span style="font-size:10px;">	<b>Category:</b> {{alert.outage_type}} > {{alert.description}} > {{alert.sub_description}}</span>
</td>
<td class="view-message  inbox-small-cells">
	{%if alert.assigned_to%}
	<i class="fa fa-user"></i><a href="/user/{{alert.assigned_to.id}}/">{{alert.assigned_to}}</a> {%if alert.assigned_to == request.user%} <small><span style="color:blue">(you)</small></span>{%endif%}
	<br>	<small>role: {{alert.assigned_to.usercompany.role}}</small>
	{%else%}
	None
	{%endif%}
</td>
                                  <td class="view-message  text-right">{{alert.created}}</td>
				  <td class="view-message ">{%if alert.target_date %} {{alert.target_date}} {%else%} <span style="color:red">Not set</span> {%endif%}</td>
                              </tr>
		{%empty%}
		<tr>
<td colspan="6">
No issues!

</td>
</tr>
			{%endfor%}
                         </tbody>
                          </table>
                          		

								</div>
								<!-- /Striped rows table with hovers -->
								



				</div>
			</div>
			</div>
			
		</section>
		<!-- /Main page container -->

		<!-- Bootstrap scripts -->
		<script src="js/bootstrap/bootstrap.min.js"></script>
		{%block scripts%}
	<script>
		$(function(){

    $('.table-inbox').DataTable();

$(".escalate").click(function(){
var url = $(this).attr("href");
	$.get(url,function(response){
alert(response.message);
	});
	return false;

});
		});
	</script>
	{%endblock%}
	</body>
</html>
