{%load staticfiles%}
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>O&M Portal | AkshyaPower</title>
		<meta name="description" content="">
		<meta name="author" content="Walking Pixels | www.walkingpixels.com">
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- FullCalendar Styles -->
		<link rel='stylesheet' type='text/css' href='{%static "css/plugins/fullcalendar/fullcalendar.css"%}'>

		<!-- PrettyCheckable Styles -->
		<link rel='stylesheet' type='text/css' href='{%static "css/plugins/prettycheckable/prettyCheckable.css"%}'>

		<!-- Styles -->
		<link rel="stylesheet" href="{%static "css/sangoma-green.css"%}">
		<link rel="stylesheet" href="{%static "css/style.css"%}">
		<link rel="stylesheet" href="{%static "select2/select2.css"%}">
		<link rel="stylesheet" href="{%static "bootstrap-datetimepicker.css"%}">
		<!-- JS Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="{%static "js/bootstrap/bootstrap.min.js"%}"></script>
		<script src="{%static "js/libs/modernizr.js"%}"></script>
		<script src="{%static "moment.min.js"%}"></script>
		<script src="{%static "bootstrap-datetimepicker.js"%}"></script>
		<link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
		{%block extracss%}
		{%endblock%}
		
		<script>
			$(document).ready(function(){
				
				// Tooltips
				$('[title]').tooltip();
				
			});
		</script>
		
	</head>
	<body>
		
		<!-- Full height wrapper -->
		<div id="wrapper">

			<!-- Main page header -->
			<header id="header" class="container">

				<div class="col-md-12" id="header-inner">
				<h1>
					<!-- Main page logo -->
					<img src="{%static "img/aks.png"%}" style="height:50px"/>	
					
				</h1>
				
				<!-- User profile -->
				<div class="user-profile">
					<figure>

						<!-- User profile avatar -->

						<!-- User profile info -->
						<figcaption>
							<strong><a href="user-profile.html">John Pixel</a></strong>
							<ul>
								<li><a href="#" title="Message inbox">inbox</a></li>
								<li><a href="#" title="Account settings">settings</a></li>
								<li><a href="login.html" title="Logout">logout</a></li>
							</ul>
						</figcaption>
						<!-- /User profile info -->

					</figure>
				</div>
				</div>
				<!-- /User profile -->

				<!-- Main navigation -->
				<nav class="main-navigation navbar navbar-default" role="navigation">

					<!-- Collapse navigation for mobile -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navigation-collapse">
							<span class="elusive icon-th-list"></span> Tables
						</button>
					</div>
					<!-- /Collapse navigation for mobile -->

					<!-- Navigation -->
					<div class="main-navigation-collapse collapse navbar-collapse">

						<!-- Navigation items -->
						<ul class="nav navbar-nav">

							<li>
								<a href="/"><span class="elusive icon-home"></span> Dashboard</a>
							</li>


						</ul>
						<!-- /Navigation items -->

						<!-- Navigation form -->
						<form class="navbar-form navbar-right" method="post" action="/client/dashboard/" role="search">{%csrf_token%}
							<div class="form-group">
								<input type="text" name="ticket" class="form-control" placeholder="Type ticket id here to search&hellip;">
							</div>
							<button type="submit" class="btn btn-default"><span class="elusive icon-search"></span></button>
						</form>
						<!-- /Navigation form -->

					</div>
					<!-- /Navigation -->

				</nav>
				<!-- /Main navigation -->

			</header>
			<!-- /Main page header -->

			<!-- Main page container -->
			<section class="container" role="main">

				<!-- Grid row -->
				<div class="row">
					
					<!-- Data block -->
					<article class="col-sm-12">
						<div class="data-block">
							<header>
								<h2><span class="elusive icon-folder-open"></span> Inbox</h2>
							</header>
							<section>

								<h3>Open Tickets</h3>
								<p>For a very basic table style use class <code>.table</code>. Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive</code> to make them scroll horizontally up to small devices (under 768px).</p>

								<!-- Basic table with hovers -->
								<div class="table-responsive">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Year</th>
												<th>Apples</th>
												<th>Bananas</th>
												<th>Mosquitoes killed</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1983</td>
												<td>4 562 tons</td>
												<td>3 564 tons</td>
												<td>9 tons</td>
												<td class="toolbar">
													<div class="btn-group">
														<button class="btn btn-primary btn-sm"><span class="elusive icon-download-alt"></span></button>
														<button class="btn btn-primary btn-sm"><span class="elusive icon-wrench"></span></button>
														<button class="btn btn-primary btn-sm"><span class="elusive icon-remove"></span></button>
													</div>
												</td>
											</tr>
											<tr>
												<td>1993</td>
												<td>8 931 tons</td>
												<td>5 132 tons</td>
												<td>7 tons</td>
												<td class="toolbar">
													<div class="btn-group">
														<button class="btn btn-primary btn-sm"><span class="elusive icon-download-alt"></span></button>
														<button class="btn btn-primary btn-sm"><span class="elusive icon-wrench"></span></button>
														<button class="btn btn-primary btn-sm"><span class="elusive icon-remove"></span></button>
													</div>
												</td>
											</tr>
											<tr>
												<td>2003</td>
												<td>46 tons</td>
												<td>163 tons</td>
												<td>135 tons</td>
												<td class="toolbar toolbar-btn-link">
													<div class="btn-group">
														<button class="btn btn-link"><span class="elusive icon-plus"></span></button>
														<button class="btn btn-link"><span class="elusive icon-tag"></span></button>
														<button class="btn btn-link"><span class="elusive icon-edit"></span></button>
														<button class="btn btn-link"><span class="elusive icon-share-alt"></span></button>
													</div>
												</td>
											</tr>
											<tr>
												<td>2013</td>
												<td>3 562 tons</td>
												<td>963 tons</td>
												<td>7 821 tons</td>
												<td class="toolbar toolbar-btn-link">
													<div class="btn-group">
														<button class="btn btn-link"><span class="elusive icon-plus"></span></button>
														<button class="btn btn-link"><span class="elusive icon-tag"></span></button>
														<button class="btn btn-link"><span class="elusive icon-edit"></span></button>
														<button class="btn btn-link"><span class="elusive icon-share-alt"></span></button>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- /Basic table with hovers -->
								
								<h3>Recently Closed Tickets</h3>
								<p>If you got too much data and want to increase readability use classes <code>.table .table-striped</code> to add zebra stripe style.</p>

								<!-- Striped rows table with hovers -->
								<div class="table-responsive">
									<table class="table table-striped table-hover">
										<thead>
											<tr>
												<th>ID</th>
												<th>Assigned to</th>
												<th>Due</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#16 513</td>
												<td><a href="#">Tommy Tornstone</a></td>
												<td><time>12.04. 2015</time></td>
												<td><span class="label label-success">open</span></td>
											</tr>
											<tr>
												<td>#16 512</td>
												<td><a href="#">Remi Redstone</a></td>
												<td><time>09.04. 2015</time></td>
												<td><span class="label label-danger">closed</span></td>
											</tr>
											<tr>
												<td>#16 511</td>
												<td><a href="#">Gabi Gabstone</a></td>
												<td><time>10.04. 2015</time></td>
												<td><span class="label label-danger">closed</span></td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- /Striped rows table with hovers -->
								

							</section>
						</div>
					</article>
					<!-- /Data block -->

				</div>
				<!-- /Grid row -->

				<!-- Grid row -->
				<div class="row">

					<!-- Data block -->
					<article class="col-sm-12">
						<div class="data-block">
							<section>

								<h3>Pending Tickets</h3>
								<p>Following tickets are still pending to be approved by concerned person.</p>

								<!-- Condensed table with hovers -->
								<div class="table-responsive">
									<table class="table table-condensed table-hover">
										<thead>
											<tr>
												<th>#</th>
												<th>A</th>
												<th>B</th>
												<th>C</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Test No. 213</td>
												<td>79 mg</td>
												<td>75 mg</td>
												<td>92 mg</td>
											</tr>
											<tr>
												<td>Test No. 212</td>
												<td>98 mg</td>
												<td>123 mg</td>
												<td>47 mg</td>
											</tr>
											<tr>
												<td>Test No. 211</td>
												<td>-</td>
												<td>-</td>
												<td>879 mg</td>
											</tr>
										</tbody>
									</table>
								</div>

							</section>
						</div>
					</article>
					<!-- /Data block -->

				</div>
				<!-- /Grid row -->


							</section>
						</div>
					</article>
					<!-- /Data block -->

				</div>
				<!-- /Grid row -->

											
			</section>
			<!-- /Main page container -->
			
		</div>
		<!-- /Full height wrapper -->

		<!-- Main page footer -->
		<footer id="footer">
			<div class="container">

				<!-- Footer info -->
				<p>Built with love on <a href="http://getbootstrap.com/">Twitter Bootstrap</a> by <a href="http://www.walkingpixels.com">Walking Pixels</a></p>

				<!-- Footer nav -->
				<ul>
					<li><a href="http://support.walkingpixels.com/">Support</a></li>
					<li><a href="http://getbootstrap.com/getting-started/">Documentation</a></li>
					<li><a href="http://parallaq.com/">API</a></li>
				</ul>
				<!-- /Footer nav -->

				<!-- Footer back to top -->
				<a href="#top" class="btn btn-back-to-top" title="Back to top"><span class="elusive icon-arrow-up"></span></a>

			</div>
		</footer>
		<!-- /Main page footer -->

		<!-- Bootstrap scripts -->
		<script src="js/bootstrap/bootstrap.min.js"></script>

		<!-- jQuery DataTable -->
		<script src="js/plugins/dataTables/jquery.datatables.min.js"></script>

		<script>

			/* Default class modification */
			$.extend( $.fn.dataTableExt.oStdClasses, {
				"sWrapper": "dataTables_wrapper form-inline"
			} );
			
			/* API method to get paging information */
			$.fn.dataTableExt.oApi.fnPagingInfo = function ( oSettings )
			{
				return {
					"iStart":         oSettings._iDisplayStart,
					"iEnd":           oSettings.fnDisplayEnd(),
					"iLength":        oSettings._iDisplayLength,
					"iTotal":         oSettings.fnRecordsTotal(),
					"iFilteredTotal": oSettings.fnRecordsDisplay(),
					"iPage":          Math.ceil( oSettings._iDisplayStart / oSettings._iDisplayLength ),
					"iTotalPages":    Math.ceil( oSettings.fnRecordsDisplay() / oSettings._iDisplayLength )
				};
			}
			
			/* Sangoma style pagination control */
			$.extend( $.fn.dataTableExt.oPagination, {
				"sangoma": {
					"fnInit": function( oSettings, nPaging, fnDraw ) {
						var oLang = oSettings.oLanguage.oPaginate;
						var fnClickHandler = function ( e ) {
							e.preventDefault();
							if ( oSettings.oApi._fnPageChange(oSettings, e.data.action) ) {
								fnDraw( oSettings );
							}
						};
						
						$(nPaging).addClass('pagination-right').append(
							'<ul class="pagination">'+
								'<li class="prev disabled"><a href="#">&larr; '+oLang.sPrevious+'</a></li>'+
								'<li class="next disabled"><a href="#">'+oLang.sNext+' &rarr; </a></li>'+
							'</ul>'
						);
						var els = $('a', nPaging);
						$(els[0]).bind( 'click.DT', { action: "previous" }, fnClickHandler );
						$(els[1]).bind( 'click.DT', { action: "next" }, fnClickHandler );
					},
					
					"fnUpdate": function ( oSettings, fnDraw ) {
						var iListLength = 5;
						var oPaging = oSettings.oInstance.fnPagingInfo();
						var an = oSettings.aanFeatures.p;
						var i, j, sClass, iStart, iEnd, iHalf=Math.floor(iListLength/2);
						
						if ( oPaging.iTotalPages < iListLength) {
							iStart = 1;
							iEnd = oPaging.iTotalPages;
						}
						else if ( oPaging.iPage <= iHalf ) {
							iStart = 1;
							iEnd = iListLength;
						} else if ( oPaging.iPage >= (oPaging.iTotalPages-iHalf) ) {
							iStart = oPaging.iTotalPages - iListLength + 1;
							iEnd = oPaging.iTotalPages;
						} else {
							iStart = oPaging.iPage - iHalf + 1;
							iEnd = iStart + iListLength - 1;
						}
						
						for ( i=0, iLen=an.length ; i<iLen ; i++ ) {
							// Remove the middle elements
							$('li:gt(0)', an[i]).filter(':not(:last)').remove();
							
							// Add the new list items and their event handlers
							for ( j=iStart ; j<=iEnd ; j++ ) {
								sClass = (j==oPaging.iPage+1) ? 'class="active"' : '';
								$('<li '+sClass+'><a href="#">'+j+'</a></li>')
									.insertBefore( $('li:last', an[i])[0] )
									.bind('click', function (e) {
										e.preventDefault();
										oSettings._iDisplayStart = (parseInt($('a', this).text(),10)-1) * oPaging.iLength;
										fnDraw( oSettings );
									} );
							}
							
							// Add / remove disabled classes from the static elements
							if ( oPaging.iPage === 0 ) {
								$('li:first', an[i]).addClass('disabled');
							} else {
								$('li:first', an[i]).removeClass('disabled');
							}
							
							if ( oPaging.iPage === oPaging.iTotalPages-1 || oPaging.iTotalPages === 0 ) {
								$('li:last', an[i]).addClass('disabled');
							} else {
								$('li:last', an[i]).removeClass('disabled');
							}
						}
					}
				}
			});
			
			/* Table #example */
			$(document).ready(function() {
				$('.datatable').dataTable( {
					"sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
					"sPaginationType": "sangoma",
					"oLanguage": {
						"sLengthMenu": "_MENU_ records per page"
					}
				});
			});
		</script>

	</body>
</html>
