{%extends 'main/index.html'%}

{%load bootstrap3%}

{%block content%}
							<!-- Grid row -->
				<div class="row">
					
					<!-- Multi-level scaffolding example -->
					<div class="col-sm-8">

						<!-- Grid row -->
					<div class="row">

							<!-- Widget block -->
							<div class="col-sm-3 col-xs-6">
								<a class="data-block widget-block" href="/complaints/create_issue/">
									<span class="widget-icon elusive icon-file-new-alt"></span>
									<strong>New Issue</strong>
								</a>
							</div>
							<!-- /Widget block -->

							<!-- Widget block -->
							<div class="col-sm-3 col-xs-6">
								<a class="data-block widget-block" href="/pm/alerts/">
									<span class="widget-icon elusive icon-wrench-alt"></span>
									<strong>Maintenance</strong>
								</a>
							</div>
							<!-- /Widget block -->

							<!-- Widget block -->
							<div class="col-sm-3 col-xs-6">
								<a class="data-block widget-block" href="/complaints/reports/">
									<span class="widget-icon elusive icon-search-alt"></span>
									<strong>Search</strong>
								</a>
							</div>
							<!-- /Widget block -->

							<!-- Widget block -->
							<div class="col-sm-3 col-xs-6">
								<a class="data-block widget-block" href="/user/{{request.user.id}}/">
									<span class="widget-icon elusive icon-cog-alt"></span>
									<strong>Settings</strong>
								</a>
							</div>
							<!-- /Widget block -->

						</div>
						<!-- /Grid row -->

						<!-- Grid row -->
						<div class="row">

							<!-- Data block -->
							<div class="col-sm-12">
								<div class="gray data-block col-sm-12">
									<section>
																		<ul class="data-header-actions" style="padding-left:0">
									<div class="gray data-block">
		<header>
								<h2><span class="elusive icon-calendar"></span> Issues</h2>

								<!-- Tab navigation -->
								 <ul class="data-header-actions" style="padding-left:0px">
			 <div class="btn-group">
			 <div class="btn-group">
                                     <a data-toggle="dropdown" href="#" class="btn btn-default all" aria-expanded="false">
                                         Select
      <span class="caret"></span>
                                     </a>
                                     <ul class="dropdown-menu">
                                         <li><a class="select-none" href="#"> None</a></li>
                                         <li><a class="select-read" href="#"> Read</a></li>
                                         <li><a class="select-unread" href="#"> Unread</a></li>
                                     </ul>
			 </div>

			 <div class="btn-group">
                      <a data-toggle="dropdown" href="#" class="btn btn-default" aria-expanded="false">
                                     Action
      <span class="caret"></span>
                                 </a>
                                 <ul class="dropdown-menu">
                                     <li><a href="#" class="mark-read"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                                     <li><a href="#" class="mark-unread"><i class="fa fa-trash-o"></i> Mark as Unread</a></li>
                                 </ul>
			 </div>
			 <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filter
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
                                     <li><a href="/?type=my"><i class="fa fa-pencil"></i> Assigned to You</a></li>
                                     <li><a href="/?type=urgent"><i class="fa fa-ban"></i> Urgent</a></li>
                                     <li><a href="/?type=delayed"><i class="fa fa-clock"></i> Delayed</a></li>
    
    
    </ul>
  </div>
  </div>
</div>
   
    
    

		</header>	
					<!-- Alert -->
				{%for message in messages%}
				<div class="alert alert-danger alert-dismissable fade in">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true" title="Close alert">&times;</button>
					<strong>Alert!</strong> {{message}}
				</div>
				{%endfor%}
				<!-- /Alert -->


		
		<div class="inbox-body">
                         <table class="table table-inbox table-hover">
				 <thead>
					 <tr>
						 <th>
						 </th>
						 <th>#</th>
						 <th>Status</th>
						 <th>
							 Site</th>
						 <th>Issue Details</th>
						 <th>Assigned To</th>
						 <th>Filed on</th>
						 <th>Target Date</th>

					 </tr>
				 </thead>
                            <tbody>
			{%for alert in alerts%}
                              <tr {%if not alert.is_read%} class="unread"{%else%} class="read" {%endif%}>
                                  <td class="inbox-small-cells">
                                      <input type="checkbox" class="mail-checkbox" value="{{alert.id}}">
                                  </td>
				  <td 
					  
					  >
					  <span data-toggle="popover" title="Device: {{alert.device}}" data-content="And here's some amazing content. It's very engaging. Right?"> <a href="/complaints/issue/{{alert.id}}/">{{alert.id}}</a></span>
				  </td>
				  <td>
				  {%if alert.status.title == "open"%}
<span class="label label-danger label-sm" >{{alert.status}}</span>
{%elif alert.status.title == "pending"%}

<span class="label label-warning label-sm" >{{alert.status}}</span>
{%elif alert.status.title == "close"%}
<span class="label label-success label-sm" >{{alert.status}}</span>
{%else%}

<span class="label label-default label-sm" >{{alert.status}}</span>
{%endif%}
</td>

				  <td class="view-message  dont-show">
					  <a href="/site/site/{{alert.site.id}}/info/"> {{alert.site.name}}</a>
</td>
<td class="view-message "> 
						  <p>{{alert.comment}}</p>



<span style="font-size:10px;">	<b>Category:</b> {{alert.outage_type}} > {{alert.description}} > {{alert.sub_description}}</span>
</td>
<td class="view-message  inbox-small-cells">
	{%if alert.assigned_to%}
	<i class="fa fa-user"></i><a href="/user/{{alert.assigned_to.id}}/">{{alert.assigned_to}}</a> {%if alert.assigned_to == request.user%} <small><span style="color:blue">(you)</small></span>{%endif%}
	<br>	<small>role: {{alert.assigned_to.usercompany.role}}</small>
	{%else%}
	None
	{%endif%}
</td>
                                  <td class="view-message  text-right">{{alert.created}}</td>
				  <td class="view-message ">{%if alert.target_date %} {{alert.target_date}} {%else%} <span style="color:red">Not set</span> {%endif%}</td>
                              </tr>
		{%empty%}
		<tr>
<td colspan="6">
No issues!

</td>
</tr>
			{%endfor%}
                         </tbody>
                          </table>
                          		


										</div>
									</section>

									<br>
									<h3>Activity Feed</h3>
									<div role="tabpanel" class="panel">
               <!-- Nav tabs-->
               <ul role="tablist" class="nav nav-tabs nav-justified">
                  <li role="presentation" class="active">
                     <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                        <em class="fa fa-clock-o fa-fw"></em>Today's Activities</a>
                  </li>
                  <li role="presentation">
                     <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                        <em class="fa fa-money fa-fw"></em>This week's Activities</a>
                  </li>
               </ul>
               <!-- Tab panes-->
               <div class="tab-content p0">
                  <div id="home" role="tabpanel" class="tab-pane active">
                     <!-- START list group-->
                     <div class="list-group mb0">
			     {%for action in actions%}
			     <a href="#" class="list-group-item">
				     <span class="label label-purple pull-right" style="color:#999">{{action.created}}</span>
			   <em class="fa fa-fw fa-calendar mr"></em>#{{action.complaint.id}} {{action}} by<b> {{action.user}}</b></a>
			     {%endfor%}                  
		     </div>
                     <!-- END list group-->
                     <div class="panel-footer text-right"><a href="#" class="btn btn-default btn-sm">View All Activity </a>
                     </div>
                  </div>
                  <div id="profile" role="tabpanel" class="tab-pane">
                 <!-- START list group-->
                     <div class="list-group mb0">
			     {%for action in week_actions%}
			     <a href="#" class="list-group-item">
				     <span class="label label-purple pull-right" style="color:#999">{{action.created}}</span>
			   <em class="fa fa-fw fa-calendar mr"></em>#{{action.complaint.id}} {{action}} by<b> {{action.user}}</b></a>
			     {%endfor%}                  
		     </div>
                     <!-- END list group-->
                     <div class="panel-footer text-right"><a href="#" class="btn btn-default btn-sm">View All Transactions</a>
                     </div>
                  </div>
               </div>
            </div>
								</div>
							</div>
							<!-- /Data block -->

						</div>
						<!-- /Grid row -->

					</div>
					<!-- /Multi-level scaffolding example -->

					<!-- Data block with TODO list widget -->
					<div class="col-sm-4">

						<div class="panel b">
                     <div class="panel-body bb">
                        <p>Overvall progress</p>
                        <div class="table-grid table-grid-align-middle mv">
                           <div class="col">
                              <div class="progress progress-xs m0">
				      <div style="width:{{stats.issue_per}}%" class="progress-bar progress-bar-info">{{stats.issue_per}}%</div>
                              </div>
                           </div>
                           <div class="hidden-xs col wd-xxs text-right">
				   <div class="text-bold text-muted">{{stats.issue_per}}% Issues Closed</div>
                           </div>
                        </div>
                     </div>
                     <div class="panel-body">
                        <h4>Category Wise Metrics</h4>
                        <div class="row text-center">
				{%for category in categories%} 
			<div class="col-xs-3 col-md-6 col-lg-3">
                              <div class="inline mv">
				      <div data-sparkline="" values="{{category.count}},{{stats.total_issues}}" data-type="pie" data-height="50" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#23b7e5&quot;]" class="sparkline"></div>
                              </div>
			      <p class="mt-lg"><small><a href="/complaints/search/?outage={{category.category.id}}">{{category.category}}</a></small></p>
                           </div>
			   {%endfor%}
                          
			                          </div>
                     </div>
                     <table class="table bb">
                        <tbody>
                           <tr>
                              <td>
                                 <strong>Pending Issues</strong>
                              </td>
			      <td>{{stats.pending_issues}}</td>
                           </tr>
                           <tr>
                              <td>
                                 <strong>Open Issues</strong>
                              </td>
			      <td>{{stats.open_issues}}</td>
                           </tr>
                           <tr>
                              <td>
                                 <strong>Rejected</strong>
                              </td>
			      <td>{{stats.rejected_issues}}</td>
                           </tr>
                           <tr>
                              <td>
                                 <strong>Delayed</strong>
                              </td>
			      <td>{{stats.delayed_issues}}</td>
                           </tr>
                           <tr>
                              <td>
                                 <strong>Closed This Week</strong>
                              </td>
                              <td>
				      {{stats.closed_week}}
			      </td>
                           </tr>
                           <tr>
                              <td>
                                 <strong>Recently closed</strong>
                              </td>
                              <td>
                                 <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 120px;"><div data-height="120" data-scrollable="" class="list-group" style="overflow: hidden; width: auto; height: 120px;">
                                    <table class="table table-bordered bg-transparent">
                                       <tbody>
					       {%for issue in recently_closed%}
                                          <tr>
						  <td><a href="/complaints/issue/{{issue.id}}/" class="text-muted">#:{{issue.id}}</a>
                                             </td>
					  </tr>{%empty%}
					  no issues closed this week!
					  {%endfor%}
				       </tbody>
                                    </table>
                                 </div><div class="slimScrollBar" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 74.6114px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <strong>Last closed on</strong>
                              </td>
			      <td>{{stats.last_closed.created}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>

					
				</div>
				<!-- /Grid row -->

				<!-- Grid row -->
				<div class="row">
					


					
				</div>
				<!-- /Grid row -->



			</section>
			<!-- /Main page container -->
	

{%endblock%}


{%block scripts%}
<script>

$(function(){

/* initialize the calendar
         -----------------------------------------------------------------*/
        $('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
          },
          buttonText: {
            today: 'today',
            month: 'month',
            week: 'week',
            day: 'day'
          },
	 defaultView: 'basicWeek',
          //Random default events
          events: [
        {%for event in events%}  
	  {
              title: 'Issue: {{event.site}} - {{event.description}}',
	     {%if event.target_date%}
              start: new Date({{event.target_date.year}},{{event.target_date.month}}-1, {{event.target_date.day}}),
	     {%else%}

              start: new Date({{event.date_of_complaint.year}},{{event.date_of_complaint.month}}-1, {{event.date_of_complaint.day}}),
		{%endif%}
	{%if today > event.target_date%}
	     tags: '{{event.outage_type}}',
	     delay_tags: 'delayed',
{%else%}

	     tags: '{{event.outage_type}}',
{%endif%}
              url: '/complaints/issue/{{event.id}}/',
	{%if event.status == "completed"%}

	      //backgroundColor: "#00a65a", //Success (green)
              //borderColor: "#00a65a", //Success (green)
	{%else%}
              //backgroundColor: "#f56954", //red
              //borderColor: "#f56954", //red
	{%endif%}
            },
	{%endfor%}
         ],
                  });

      });
</script>

<script>
$(function(){
$('form').ajaxForm({ 
        // target identifies the element(s) to update with the server response 
        target: '.ajax-content', 
	beforeSubmit: showRequest, 
        // success identifies the function to invoke when the server response 
        // has been received; here we apply a fade-in effect to the new content 
        success: function() { 
            $('.ajax-content').fadeIn('slow'); 
	    $(".form-button").text("Filter");
	    $.notify("Filtered", "success"); 
        } 
    }); 



});

// pre-submit callback 
function showRequest(formData, jqForm, options) { 
	$(".form-button").text("Loading..");
    return true; 
} 

</script>

<script>
$(function(){

$(".mail-group-checkbox").change(function(){
var checkBoxes = $(".mail-checkbox");
checkBoxes.prop("checked", !checkBoxes.prop("checked"));

return false;
});

$(".select-none").click(function(){
var checkBoxes = $(".mail-checkbox");
checkBoxes.prop("checked", "");

return false;

});
$(".select-unread").click(function(){
var checkBoxes = $(".unread").find(".mail-checkbox");
checkBoxes.prop("checked", "checked");

return false;

});

$(".select-read").click(function(){
var checkBoxes = $(".read").find(".mail-checkbox");
checkBoxes.prop("checked", "checked");
return false;

});

    $('.table-inbox').DataTable();
$(".sparkline").sparkline('html', {type: 'pie',});

});
</script>

{%endblock%}
