{%extends 'main/index.html'%}

{%load bootstrap3%}
{%load static%}
{%block title%}Manager Dashboard | AkshyaPower O&M Portal{%endblock%}
{%block extracss%}
{%endblock%}

{%block content%}

				<!-- Grid row -->
				<div class="row">

					<!-- Widget block -->
					<div class="col-sm-3 col-xs-6">
						<a class="data-block widget-block widget-text" href="/inbox/?role=incharge&type=open">
							<span>{{stats.open_issues}}</span>
							<strong class="widget-label">Open Issues</strong>
						</a>
					</div>
					<!-- /Widget block -->

					
					<!-- Widget block -->
					<div class="col-sm-3 col-xs-6">
						<a class="data-block widget-block widget-text" href="/inbox/?role=incharge&type=closed">
							<span>{{stats.closed}}</span>
							<strong class="widget-label">Closed Issues</strong>
						</a>
					</div>
					<!-- /Widget block -->
			<!-- Widget block -->
					<div class="col-sm-3 col-xs-6">
						<a class="data-block widget-block widget-text" href="/pm/alerts?tab=pending">
							<span>{{stats.pending_pm}}</span>
							<strong class="widget-label">Pending PM</strong>
						</a>
					</div>
					<!-- /Widget block -->


<!-- Widget block -->
					<div class="col-sm-3 col-xs-6">
						<a class="data-block widget-block widget-text" href="/pm/alerts/?tab=completed">
							<span>{{stats.completed_pm}}</span>
							<strong class="widget-label">Completed PM (MTD)</strong>
						</a>
					</div>
					<!-- /Widget block -->

				</div>
				<!-- /Grid row -->

				<!-- Grid row -->
				<div class="row">

{%if escalated%}
					<!-- Widget block -->
					<div class="col-sm-12">
						<div class="data-block widget-block">
							<h4>Issue escalation request from client</h4>
							<ul>
								{%for data in escalated%}
								<li>
									<a href="/complaints/issue/{{data.complaint.id}}/">#{{data.complaint.id}} </a>for site {{data.complaint.site.name}} ~ {{data.created|timesince}} ago
								</li>
								{%endfor%}
							</ul>
						</div>
					</div>
					<!-- /Widget block -->
{%endif%}
					
					<!-- Data block -->
					<article class="col-sm-12">
						<div class="data-block">
							<header>
								<h2>Client wise issues list</h2>
							</header>
							<section>
	
					<!-- Alert -->
				{%for message in messages%}
				<div class="alert alert-warning alert-dismissable fade in">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true" title="Close alert">&times;</button>
					<strong>Hey!</strong> {{message}}
				</div>
				{%endfor%}
				<!-- /Alert -->


								<table class="table table-striped table-condensed table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Open Issues</th>
											<th>Closed Issues</th>
											<th>Pending PM</th>
											<th>Completed PM</th>
										</tr>
									</thead>
									<tbody>
										{%for report in reports%}
										<tr>
											<td>{{forloop.counter}}</td>
											<td><a href="/inbox?role=incharge&site={{report.site.id}}">{{report.site.name}}</a></td>
											<td><a href="/inbox?role=incharge&site={{report.site.id}}&type=open">{{report.open}}</a></td>
											<td><a href="/inbox?role=incharge&site={{report.site.id}}&type=closed">{{report.closed}}</a></td>
											<td><a href="/pm/alerts/?tab=pending&site={{report.site.id}}">{{report.pending_pm}}</a></td>
											<td><a href="/pm/alerts/?tabe=completed&site={{report.site.id}}">{{report.completed_pm}}</a></td>
										</tr>
										{%endfor%}
										<tr>
											<td colspan="5"><strong>Open:</strong></td>
											<td><strong>{{stats.open_issues}}</strong></td>
										</tr>
										<tr>
											<td colspan="5"><strong>Pending:</strong></td>
											<td><strong>{{stats.pending_issues}}</strong></td>
										</tr>
										<tr>
											<td colspan="5"><strong>Closed:</strong></td>
											<td><strong>{{stats.closed}}</strong></td>
										</tr>

										<tr>
											<td colspan="5"><strong>Total:</strong></td>
											<td><strong>{{stats.total_issues}}</strong></td>
										</tr>

									</tbody>
								</table>
							</section>
						</div>
					</article>
					<!-- /Data block -->

				
				</div>
				<!-- /Grid row -->

	
{%endblock%}

{%block scripts%}

		<script src="{%static "js/plugins/sparkline/jquery.sparkline.min.js"%}"></script>
		<script>
			$(document).ready(function() {
			
				// Sample line chart
				$('.sparkline.pie').sparkline('html', {
					type: 'pie',
					height: '48px',
					width: '48px'
				});
				
				// Sample bar chart
				$('.sparkline.bar').sparkline([17, 23, 18, 14, 18, 19, 13], {
					type: 'bar',
					height: '45px',
					barWidth: '10px',
					barColor: '#7f8c8d',
					tooltipValueLookups: {
					names: {
						0: 'Monday',
						1: 'Tuesday',
						2: 'Wednesday',
						3: 'Thursday',
						4: 'Friday',
						5: 'Saturday',
						6: 'Sunday'
						}
					}
				});
				
			});
		</script>

		{%endblock%}	
