{%extends 'main/index.html'%}
{%load staticfiles%}
{%load bootstrap3%}
{%block content%}
			<div class="row">
					
					<!-- Data block -->
					<!-- Data block -->
					<article class="col-sm-12">
						<div class="data-block">
							<header>
								<h2>User profile settings</h2>
							</header>
							<section>
								<div class="row">
									<div class="col-sm-6">
										<form class="form-horizontal" method="post" action="" role="form">{%csrf_token%}
											<div class="form-group">
												<label class="col-sm-3 control-label">Username</label>
												<div class="col-sm-5">
													<p class="form-control-static">{{user.username}}</p>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Role</label>
												<div class="col-sm-5">
													<p class="form-control-static">{{user.usercompany.role|upper}}</p>
												</div>
											</div>

											
											<div class="form-group">
												<label class="col-sm-3 control-label">Profile avatar</label>
												<div class="col-sm-9">
													<div class="fileupload fileupload-new" data-provides="fileupload">
														<div class="fileupload-preview fileupload-small thumbnail"><img src="{%static "img/sample_content/upload-50x50.png"%}"></div>
														<div>
															<span class="btn btn-default btn-file">
																<span class="fileupload-new">Select image</span>
																<span class="fileupload-exists">Change</span>
																<input type="file" />
															</span>
															<a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
														</div>
													</div>
													{%if user == request.user%}
											<h3>Change User Information: </h3>	
											{%bootstrap_form form%}
											<div class="form-group">
												<div class="col-sm-offset-3 col-sm-10">
													<button class="btn btn-lg btn-primary" type="submit">Save changes</button>
												</div>
											</div>
											{%endif%}
										</form>
									</div>
								</div>
							</section>
							<footer>
							</footer>
						</div>
					</article>
					<!-- /Data block -->

				</div>
				<!-- /Grid row -->
				{%endblock%}
