{%load staticfiles%}
<li class="dropdown menu-merge"><a href="#" data-toggle="dropdown" class="dropdown-toggle fs16 fw400 flexbox align-items-center"><span class="pl25 text-dark-jungle-green letter-spacing025">Admin

<span class="badge">{{alert_counts}}</span>
</span> <span class="caret caret-tp pr25"></span>
<!--<div class="avatar-container hidden-xs"><img src="{%static "theme/1.jpg"%}" alt="avatar"></div>--></a>
<ul role="menu" class="dropdown-menu list-group dropdown-persist w250">

<li class="list-group-item"><a href="/admin/"><span class="fa fa-user pr5"></span> Admin</a></li>
<li class="dropdown-footer"><a href="/accounts/logout/"><span class="fa fa-power-off pr5"></span> Logout</a></li>
</ul>
</li>

