{%load staticfiles%}
<footer id="content-footer" class="affix">
<div class="row">
<div class="col-xs-6"><span class="footer-legal">&copy; 2024 Geekybuddha Technologies Pvt. Ltd.</span></div>
</div>
</footer>
</section>


<script
  src="{%static "jquery-ui.js"%}"
  integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI="
  crossorigin="anonymous"></script>

<script src="{%static "bootstrap.min.js"%}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
<script type="text/javascript" src="{%static "highcharts.js"%}"></script>
<script src="{%static "exporting.js"%}"></script>
<script src="{%static "export-csv.js"%}"></script>

<script type="text/javascript" src="{%static "moment.min.js"%}"></script>
<script type="text/javascript" src="{%static "daterangepicker.js"%}"></script>
 
<script src="{%static "theme/utility.js"%}"></script>
<script src="{%static "theme/main.js"%}"></script>
 
<script src="{%static "theme/widgets.js"%}"></script>
<script src="{%static "jquery.form.js"%}"></script>
<script src="{%static "js.cookie.js"%}"></script>
<script src="{%static "jquery.table2excel.js"%}"></script>
<script src="{%static "skycons.js"%}"></script>
<script src="{%static "FileSaver.min.js"%}"></script>
<script src="{%static "percircle.js"%}"></script>
<script src="{%static "leaflet.js"%}"></script>
<script src="{%static "tableexport.min.js"%}"></script>
<script src="{%static "jquery.timeago.js"%}"></script>
<script src="{%static "jquery.session.js"%}"></script>
<script src="{%static "fullcalendar/fullcalendar.js"%}"></script>
<script src="{%static "smart-selects/admin/js/chainedfk.js"%}"></script>
<script src="{%static "smart-selects/admin/js/chainedm2m.js"%}"></script>
<script src="{%static "smart-selects/admin/js/bindfields.js"%}"></script>
<script src="{%static "select2/select2.js"%}"></script>
<script src="{%static "excellentexport.js"%}"></script>
<script src="{%static "bootstrap-typeahead.js"%}"></script>

<script src="{%static "scripts.js"%}"></script>
<script>
Highcharts.createElement('link', {
	href: 'https://fonts.googleapis.com/css?family=Dosis:400,600',
	rel: 'stylesheet',
	type: 'text/css'
}, null, document.getElementsByTagName('head')[0]);

Highcharts.theme = {
  colors: ["#f1c40f", "#2ecc71", "#9b59b6", "#e74c3c", "#34495e", "#3498db", "#1abc9c", "#f39c12", "#d35400"],	
chart: {
		backgroundColor: null,
		style: {
			fontFamily: 'Dosis, sans-serif'
		}
	},
	title: {
		style: {
			fontSize: '16px',
			fontWeight: 'bold',
			textTransform: 'uppercase'
		}
	},
	tooltip: {
		borderWidth: 0,
		backgroundColor: 'rgba(219,219,216,0.8)',
		shadow: false
	},
	legend: {
		itemStyle: {
			fontWeight: 'bold',
			fontSize: '13px'
		}
	},
	xAxis: {
		gridLineWidth: 1,
		labels: {
			style: {
				fontSize: '12px'
			}
		}
	},
	yAxis: {
		minorTickInterval: 'auto',
		title: {
			style: {
				textTransform: 'uppercase'
			}
		},
		labels: {
			style: {
				fontSize: '12px'
			}
		}
	},
	plotOptions: {
		candlestick: {
			lineColor: '#404048'
		}
	},


	// General
	background2: '#F0F0EA'

};

// Apply the theme
Highcharts.setOptions(Highcharts.theme);    

</script>
{%block script%}
{%endblock%}

</body>
</html>
