{%load staticfiles%}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
 
<title>AkshyaPower: Realtime</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
<link rel="stylesheet" type="text/css" href="{%static "theme/fullcalendar.css"%}">
<link rel="stylesheet" type="text/css" href="{%static "theme/admin-forms.css"%}">
<link rel="stylesheet" type="text/css" href="{%static "theme/css.css"%}">
<link rel="stylesheet" type="text/css" href="{%static "theme/theme.css"%}">
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />

<!--{%include 'main/partials/include-css.html'%}-->
 
</head>
<body style="min-height: 860px;" class="dashboard-page sb-l-o sb-r-c onload-check">
 
 



 
<div id="main">
 
 
 
<header class="navbar navbar1 navbar-shadow flexbox align-items-center undefined header-light navbar-fixed-top">
    <div class="navbar-branding dark header-light"><a href="/" class="navbar-brand"><img src="{%static "theme/akshya.png"%}" style="vertical-align:middle"><span style="padding-left:5px; margin-top:10px">AkshyaPower</span></a><span id="toggle_sidemenu_l" class="fa fa-align-left"></span></div>

<ul class="nav navbar-nav navbar-left veil reveal-lg-flex">
<li class="flexbox align-items-center">
    <h3>    Real Time Monitoring and Analysis </h3>
</li>
<li>
<a href="#">
<span title="Click to change date" id="dashboard_date">{{date}}<i class="fa  fa-chevron-down"></i></span>
</a></h3></li>
</ul>

<ul class="nav navbar-nav navbar-right">
<li>
<!--<a href="" style="padding-top:40px"><i class="fa fa-refresh"></i></a>-->
</li>
</li>
{%include 'main/partials/dropdown.html'%}
</ul>
</header>
 
 
