{%load staticfiles%}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
 
<title>AkshyaPower: Realtime</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
{%include 'main/partials/include-css.html'%} 

</head>
<body style="min-height: 860px;" class="dashboard-page sb-l-o sb-r-c onload-check">
 
<div id="main">
 
 
 
<header class="navbar navbar1 navbar-shadow flexbox align-items-center undefined header-light navbar-fixed-top">
    <div class="navbar-branding dark header-light"><a href="/" class="navbar-brand"><img src="{%static "theme/akshya.png"%}" style="vertical-align:middle"><span style="padding-left:5px; margin-top:10px">AkshyaPower</span></a><span id="toggle_sidemenu_l" class="fa fa-align-left"></span></div>
<ul class="nav navbar-nav navbar-left veil reveal-lg-flex">
<li class="flexbox align-items-center">
    <h3>    Real Time Monitoring and Analysis </h3>
</li>
</ul>
<ul class="nav navbar-nav navbar-right">
<!--<li class="p5 flexbox align-items-center pl25 br-l">
</li>-->
</li>

{%include 'main/partials/dropdown.html'%}
</ul>
</header>
 
 
<aside id="sidebar_left" class="nano nano-light affix sidebar-default has-scrollbar">
 
<div style="margin-right: -16px;" tabindex="0" class="sidebar-left-content nano-content">
 

<div class="sidebar-widget search-widget hidden">
<div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span>
<input id="sidebar-search" placeholder="Search..." class="form-control" type="text">
</div>
</div>

<ul class="nav sidebar-menu">
<li class="sidebar-label"></li>
<li id="sites" class="sidebar-menu-item" data-item="sites"><a href="/sites/"><span class="glyphicon glyphicon-home"></span><span class="sidebar-title">Sites</span></a>
</li>

<li id="users" data-item="users"><a href="/users/"><span class="fa fa-flash"></span>Users</a>
<li id="server-settings" data-item="server-settings"><a href="/server_settings/"><span class="fa fa-flash"></span>Server Settings</a>
</li>


</ul>

<div class="sidebar-toggle-mini"><a href="#"><span class="fa fa-sign-out"></span></a></div>
</div>
<div class="nano-pane"><div style="height: 510px; transform: translate(0px, 0px);" class="nano-slider"></div></div></aside>
 
<section id="content_wrapper">
 

 
