
{%load staticfiles%}
<link rel="stylesheet" type="text/css" href="{%static "fullcalendar/fullcalendar.css"%}">
<link rel="stylesheet" type="text/css" href="{%static "theme/admin-forms.css"%}">
<link rel="stylesheet" type="text/css" href="{%static "theme/css.css"%}">
<link rel="stylesheet" type="text/css" href="{%static "theme/theme.css"%}">
<link rel="stylesheet" type="text/css" href="{%static "theme/style.css"%}">
<link rel="stylesheet" type="text/css" href="{%static "percircle.css"%}">
<link rel="stylesheet" type="text/css" href="{%static "daterangepicker.css"%}" />
<link rel="stylesheet" type="text/css" href="{%static "sunny.css"%}" />
<link rel="stylesheet" type="text/css" href="{%static "dashboard.css"%}" />
<link rel="stylesheet" type="text/css" href="{%static "select2/select2.css"%}" />
<script
  src="{%static "jquery-2.2.4.js"%}"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="{%static "datetimewidget/css/datetimepicker.css"%}" />
<script src="{%static "datetimewidget/js/bootstrap-datetimepicker.js"%}"></script>
<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->

<style>
.message-view {
    padding: 20px;
}
.panel-heading{
}

.pr-tables{
font-size:13px;
padding:0px;
}
.pr-tables>tbody>tr>td{
padding:10px;
font-size:20px;
}

.string-name{
font-size:9px
}

.device-name{
color:blue;
font-size:10px
}
* ---------- LIVE-CHAT ---------- */

#live-chat {
	bottom: 0;
	font-size: 12px;
	right: 24px;
	position: fixed;
	width: 300px;
}

#live-chat header {
	background: #293239;
	border-radius: 5px 5px 0 0;
	color: #fff;
	cursor: pointer;
	padding: 16px 24px;
}

#live-chat h4:before {
	background: #1a8a34;
	border-radius: 50%;
	content: "";
	display: inline-block;
	height: 8px;
	margin: 0 8px 0 0;
	width: 8px;
}

#live-chat h4 {
	font-size: 12px;
}

#live-chat h5 {
	font-size: 10px;
}

#live-chat form {
	padding: 24px;
}

#live-chat input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
	outline: none;
	width: 234px;
}

.chat-message-counter {
	background: #e62727;
	border: 1px solid #fff;
	border-radius: 50%;
	display: none;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	left: 0;
	line-height: 28px;
	margin: -15px 0 0 -15px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 28px;
}

.chat-close {
	background: #1b2126;
	border-radius: 50%;
	color: #fff;
	display: block;
	float: right;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	margin: 2px 0 0 0;
	text-align: center;
	width: 16px;
}

.chat {
	background: #fff;
}

.chat-history {
	height: 252px;
	padding: 8px 24px;
	overflow-y: scroll;
}

.chat-message {
	margin: 16px 0;
}

.chat-message img {
	border-radius: 50%;
	float: left;
}

.chat-message-content {
	margin-left: 56px;
}

.chat-time {
	float: right;
	font-size: 10px;
}

.chat-feedback {
	font-style: italic;	
	margin: 0 0 0 80px;
}

.smb-current{
color:#999;
font-size:13px;
}
 .pulse {  animation: 2s ease 0s normal none infinite running pulse;
    background: green none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    cursor: pointer;
    display: block;
    float: left;
    height: 10px;
    margin: 4px;
    width: 10px;
}

 .pulse-red { 
	background:red !important;
}


.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

</style>

