<ul class="nav sidebar-menu">
<li class="sidebar-label"></li>
<li class="active sidebar-menu-item"><a href="/"><span class="glyphicon glyphicon-home"></span><span class="sidebar-title">Home</span></a>
</li>
</ul>
