<ul class="nav sidebar-menu">
<li class="sidebar-label"></li>
<li class="active sidebar-menu-item"><a href="/"><span class="glyphicon glyphicon-home"></span><span class="sidebar-title">Dashboard</span></a>
</li>
<li class="sidebar-menu-item"><a href="#" class="accordion-toggle" id="data-issues-menu"><span class="fa fa-plus-square-o"></span><span class="sidebar-title">Issues</span></a>
<ul class="nav sub-nav">
<li data-item="inbox"><a href="/complaints/"><span class="fa fa-inbox"></span>inbox</a></li>
<li data-item="open-issues"><a href="/complaints/search/"><span class="fa fa-search"></span>search </a></li>
<li data-item="genloss"><a href="/complaints/reports/"><span class="fa fa-bar-chart"></span>reports</a></li>
<li data-item="create-issue"><a href="/complaints/create_issue/"><span class="fa fa-plus-circle"></span>new</a></li>
</ul>
</li>

<li class="sidebar-menu-item"><a href="#" class="accordion-toggle" id="data-analysis-menu"><span class="fa fa-plus-square-o"></span><span class="sidebar-title"> Maintenance</span></a>
<ul class="nav sub-nav">
<li data-item="energy-generation"><a href="/pm/alerts/"><span class="fa fa-flash"></span>alerts</a></li>
<li data-item="power"><a href="/pm/schedules/"><span class="fa fa-calendar"></span>calendar</a></li>
<li data-item="insolation"><a href="/pm/create/"><span class="fa fa-plus"></span>new schedule</a></li>
<li data-item="report"><a href="/pm/reports/?type=pm"><span class="fa fa-bar-chart"></span>reports</a></li>
</ul>
</li>


<li class="sidebar-menu-item"><a href="#" class="accordion-toggle" id="data-stock-menu"><span class="fa fa-plus-square-o"></span><span class="sidebar-title">Stock</span></a>
<ul class="nav sub-nav">
<li data-item="stock-closing"><a href="/stock/closing/"><span class="fa fa-bars"></span>summary</a></li>
<li data-item="stock-po"><a href="/stock/po/"><span class="fa fa-file"></span>new po </a></li>
<li data-item="stock-new"><a href="/stock/new/"><span class="fa fa-copy"></span>new item</a></li>
<li data-item="stock-issued"><a href="/stock/issued/"><span class="fa fa-arrow-right"></span>new outward</a></li>
<li data-item="stock-rec"><a href="/stock/received/"><span class="fa fa-arrow-left"></span>new inward</a></li>

</ul>
</li>





</ul>

