  <!-- Custom Tabs -->
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#tab_1" aria-expanded="true">Today</a></li>
                  <li class=""><a data-toggle="tab" href="#tab_2" aria-expanded="false">Upcoming</a></li>
                  <li class=""><a data-toggle="tab" href="#tab_3" aria-expanded="false">Due</a></li>
                  <li class=""><a data-toggle="tab" href="#tab_4" aria-expanded="false">Completed</a></li>
                </ul>
                <div class="tab-content">
                  <div id="tab_1" class="tab-pane active">
                           <table class="table table-striped bg-gray">
                  <tr class="bg-red">
                    <td>Due Date</td>
                    <td>Site</td>
                    <td>Equipment</td>
                    <td>Section</td>
                    <td>Details</td>
                    <td>Procedure</td>
                    <td>Update Check List</td>
                    <td>Status</td>
                    <td>Check Lists</td>
                    <td>Due Check List</td>
                    <td>Action</td>

                  </tr>

{%for pm in today%}
                  <tr class="bg-gray">
			  <td><a href="/pm/alert/{{pm.id}}/">{{pm.due_date}}</a></td>
                    <td>{{pm.site}}</td>
                    <td>{{pm.equipment}}</td>
                    <td> {{pm.pmschedule.block}}</td>
                    <td>{{pm.pmschedule.details}}</td>
           <td><a href="{{pm.pmschedule.procedure.url}}">Download</a></td>
                    <td><a href="/pm/checklist/{{pm.id}}/">Update Checklist</a></td>
                    <td>{{pm.status|upper}}</td>
                    <td>{{pm.checklist_items}}</td>
                    <td>{{pm.due_checklist_items}}</td>
                    <td><a href="/pm/update_pm/{{pm.id}}/">Update</a></td>


                  </tr>
{%empty%}
<tr>
<td colspan="9">
Sorry, No PM Scheduled
</td>
</tr>

                  {%endfor%}
              </table>
          </div><!-- /.tab-pane -->
                  <div id="tab_2" class="tab-pane">
                           <table class="table table-striped bg-gray">
                  <tr class="bg-red">
                    <td>Due Date</td>
                    <td>Site</td>
                    <td>Equipment</td>
                    <td>Section</td>
                    <td>Details</td>
                    <td>Procedure</td>
                    <td>Update Check List</td>
                    <td>Status</td>
                    <td>Check Lists</td>
                    <td>Due Check List</td>
                    <td>Action</td>

                  </tr>

{%for pm in upcoming%}
                  <tr class="bg-gray">
			  <td><a href="/pm/alert/{{pm.id}}/">{{pm.due_date}}</a></td>
                    <td>{{pm.site}}</td>
                    <td>{{pm.equipment}}</td>
                    <td> {{pm.pmschedule.block}}</td>
                    <td>{{pm.pmschedule.details}}</td>
           <td><a href="{{pm.pmschedule.procedure.url}}">Download</a></td>
                    <td><a href="/pm/checklist/{{pm.id}}/">Update Checklist</a></td>
                    <td>{{pm.status|upper}}</td>
                    <td>{{pm.checklist_items}}</td>
                    <td>{{pm.due_checklist_items}}</td>
                    <td><a href="/pm/update_pm/{{pm.id}}/">Update</a></td>


                  </tr>
{%empty%}
<tr>
<td colspan="9">
Sorry, No PM Scheduled
</td>
</tr>

                  {%endfor%}
              </table>
                  </div><!-- /.tab-pane -->
            
      <div id="tab_3" class="tab-pane">
                           <table class="table table-striped bg-gray">
                  <tr class="bg-red">
                    <td>Due Date</td>
                    <td>Site</td>
                    <td>Equipment</td>
                    <td>Section</td>
                    <td>Details</td>
                    <td>Procedure</td>
                    <td>Update Check List</td>
                    <td>Status</td>
                    <td>Check Lists</td>
                    <td>Due Check List</td>
                    <td>Action</td>

                  </tr>

{%for pm in due%}
                  <tr class="bg-gray">
			  <td><a href="/pm/alert/{{pm.id}}/">{{pm.due_date}}</a></td>
                    <td>{{pm.site}}</td>
                    <td>{{pm.equipment}}</td>
                    <td> {{pm.pmschedule.block}}</td>
                    <td>{{pm.pmschedule.details}}</td>
           <td><a href="{{pm.pmschedule.procedure.url}}">Download</a></td>
                    <td><a href="/pm/checklist/{{pm.id}}/">Update Checklist</a></td>
                    <td>{{pm.status|upper}}</td>
                    <td>{{pm.checklist_items}}</td>
                    <td>{{pm.due_checklist_items}}</td>
                    <td><a href="/pm/update_pm/{{pm.id}}/">Update</a></td>


                  </tr>
{%empty%}
<tr>
<td colspan="9">
Sorry, No PM Scheduled
</td>
</tr>

                  {%endfor%}
              </table>
                  </div><!-- /.tab-pane -->
             
 <div id="tab_4" class="tab-pane">
                           <table class="table table-striped bg-gray">
                  <tr class="bg-red">
                    <td>Due Date</td>
                    <td>Site</td>
                    <td>Equipment</td>
                    <td>Section</td>
                    <td>Details</td>
                    <td>Procedure</td>
                    <td>Update Check List</td>
                    <td>Status</td>
                    <td>Check Lists</td>
                    <td>Due Check List</td>
                    <td>Action</td>

                  </tr>

{%for pm in completed%}
                  <tr class="bg-gray">
			  <td><a href="/pm/alert/{{pm.id}}/">{{pm.due_date}}</a></td>
                    <td>{{pm.site}}</td>
                    <td>{{pm.equipment}}</td>
                    <td> {{pm.pmschedule.block}}</td>
                    <td>{{pm.pmschedule.details}}</td>
           <td><a href="{{pm.pmschedule.procedure.url}}">Download</a></td>
                    <td><a href="/pm/pm_checklist/{{pm.id}}/">View Checklist</a></td>
                    <td>{{pm.status|upper}}</td>
                    <td>{{pm.checklist_items}}</td>
                    <td>{{pm.due_checklist_items}}</td>
                    <td><a href="/pm/update_pm/{{pm.id}}/">Update</a></td>


                  </tr>
{%empty%}
<tr>
<td colspan="9">
Sorry, No PM Scheduled
</td>
</tr>

                  {%endfor%}
              </table>
                                 </div><!-- /.tab-pane -->
             

    </div><!-- /.tab-content -->
      
    </div><!-- /.tab-content -->
              </div><!-- nav-tabs-custom -->
 

