  
{%extends 'main/index.html'%}
{% load bootstrap3 %}
{%block content%}    
         <div class="col-md-12"> 
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">PM Report</li>
          </ol>
</div>
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->

{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

 
              <div class="panel panel-default ">
                <div class="panel-heading">
 <h1>
           Please update check list items -  
            <small>{{site}} </small>
          </h1>        
       </div><!-- /.box-header -->
                <!-- form start -->
<div class="panel-body"> 



<table class="table table-bordered">
<tr>
<td>Equipment</td>
<td>{{pm.equipment}}</td>
</tr>
<tr>
<td>Details</td>
<td>{{pm.pmschedule.details}}</td>
</tr>
<tr>
<td>Block </td>
<td>{{pm.block}}</td>
</tr>


<tr>
<td>Due Date</td>
<td>{{pm.due_date}}</td>
</tr>



</table> 

              <form action="" class="form form-inline" method="post" role="form" enctype="multipart/form-data">{%csrf_token%}
{{ formset.management_form }}
{%for form in formset%}
{% if form.errors %}
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">×</button>
		{% for field in form %} 
			{% if field.errors %}
			<li>{{ field.label }}: {{ field.errors|striptags }}</li>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}

{%bootstrap_form form%}
<br>
{%endfor%}
<div class="form-group">
<button class="btn btn-danger" type="submit">Submit</button>
</div>
                </form>
</div>
              </div><!-- /.box -->






          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

             {%endblock%} 

{%block scripts%}
<script>
$(function(){
$("#id_new_date").datetimepicker();
});
</script> 
{%endblock%}



{%block extracss%}
<style>
select{
max-width:200px;
}

.form-group{
width:250px;
max-width:250px;
}
.help-block{
display:none;
}
</style>
{%endblock%}
