{%extends 'main/index.html'%}
{% load bootstrap3 %}
{% load staticfiles %}


{%block content%}

<!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
           Create PM Schedule
          </h1>
          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>PM</li>
            <li class="active">Create Schedule</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
        <div class="row">
<div class="col-md-12"> 
         
{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

 
<div class="panel panel-primary">
<div class="panel-heading">
	<center>
	<h3 class="box-title">

		New Maintenance Schedule Creation Form:
	</h3>
	</center>
</div>
<div class="panel-body">

 

        <form enctype="multipart/form-data" action="" method="post" role="form" class="col-md-12">
{% csrf_token %}

              {% bootstrap_form form %}


<input type="submit" class="btn btn-raised btn-primary" value="Save" />
</form>




</div>
</div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

{%endblock%}
{%block scripts%}
<script src="{%static "smart-selects/admin/js/chainedfk.js"%}"></script>
<script>
$(function(){

$("#id_start_date").datepicker();});
</script>
{%endblock%}

{%block date%}
{%endblock%}
