  
{%extends 'main/index.html'%}
{% load bootstrap3 %}
{% load staticfiles %}



{%block content%}    
           

 
        <section class="content-header">
  
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>

            <li >PM</li>
            <li class="active">Full Schedule</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
<div class="panel">

<div class="panel-body">
{% if messages %}
<div class="alert alert-info" role="alert">
    {% for message in messages %}
   {{ message }}
    {% endfor %}
</ul>
</div>
{% endif %}




               <form action="" method="post" class="mailbox-controls form form-inline" role="form">{%csrf_token%}
    {% bootstrap_form form %}
                    <button class="btn btn-raised btn-primary next-first">View</button>
                    

                </form>
</div>
</div>
<div class="panel">
<div class="panel-body">
<table class="table table-bordered table-stripped bg-gray">
{%for data in reports%}
<tr>
<td class="bg-red">
{{data.equipment}}
</td>
</tr>
<tr>
{%for alert in data.alerts%}
<td>
</td>

<td>
    <h3>{% ifchanged alert.due_date %} {{ alert.due_date }} {% endifchanged %}</h3>
<br>
{{alert.pmschedule.details}} {%if alert.section%}{{alert.section}}{%else%} {{alert.block}}{%endif%}
</td>
</tr>
{%endfor%}

{%endfor%}
 </table>


</div>
</div>



           </section> 
</div>
{%endblock%}

{%block reports%}

{%endblock%}


{%block extracss%}
<style type="text/css">
.help-block{
display:none;
}

.form-group{
width:auto !important;
}
.form-inline .control-label{
padding:16px;
}

</style>

{%endblock%}


