{%extends 'main/index.html'%}
{%load bootstrap3%}
{%load staticfiles%}

{%block content%}


          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Reports</li>
          </ol>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="box-title">{{pm.equipment}} - User Values For Checklists</h3>
               </div><!-- /.box-header -->
                <div class="panel-body">

      

<div class="search-results col-md-12">
<table class="table table-bordered">
<th>Checklist
</th>
<th>Desired Value
</th>
<th>User Value
</th>



</tr>


{%for item in checklists%}
<tr>
<td>{{item}}</td>
<td>{{item.checklist.correct_value}}</td>
<td>{{item.user_input_value}}</td>

</tr>

{%endfor%}
</table>
</div>


          </div>
                </div>
              </div><!-- /. box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->


{%endblock%}

{%block scripts%}

<script src="{%static "reports.js"%}"></script>

{%endblock%}
