  
{%extends 'main/index.html'%}
{% load bootstrap3 %}
{%block content%}    

<form action="" method="post">{%csrf_token%}

    {% bootstrap_form form %}

                    <button class="btn btn-primary btn-raised next-first">SAVE</button>

                  </div><!-- /.box-body -->

                  <div class="box-footer">
                  </div>
                </form>
              </div><!-- /.box -->






          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

             {%endblock%} 

{%block scripts%}
<script>
$(function(){
$("#id_new_date").datetimepicker();
});
</script> 
{%endblock%}
