{%extends 'main/index.html'%}

{%load bootstrap3%}

{%block content%}
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">PM</li>
          </ol>
        <section class="content">
          <div class="row">

{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

 


<div class="col-md-12 "> 
<div class="panel panel-primary">
<div class="panel-body">
  <form class="report-form form " action="" method="post" role="form">{%csrf_token%}
              {% bootstrap_form form %}

              <button type="submit" class="btn-raised form-button btn btn-primary">Filter</button>
              <a href="/pmschedules/" class="btn-raised btn btn-link">Reset</a>
        </form>        
</div>
</div>
</div>

<div class="panel panel-primary">
<div class="panel-body">
 
<div class="ajax-content col-md-12">
<div id="calendar"></div>
</div>
</div>
</div>
{%endblock%}


{%block scripts%}
<script>

$(function(){

/* initialize the calendar
         -----------------------------------------------------------------*/
        $('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
          },
          buttonText: {
            today: 'today',
            month: 'month',
            week: 'week',
            day: 'day'
          },
          //Random default events
          events: [
        {%for event in events%}  
	  {
              title: '{{event.site}} - {%if event.pmschedule.block%} {{event.pmschedule.block}} {%endif%}{{event.equipment}} - {{event.pmschedule.details}}',
              start: new Date({{event.due_date.year}},{{event.due_date.month}}-1, {{event.due_date.day}}),

              url: '/pm/alert/{{event.id}}/',
	{%if event.status == "completed"%}

	      backgroundColor: "#00a65a", //Success (green)
              borderColor: "#00a65a", //Success (green)
	{%else%}
              backgroundColor: "#f56954", //red
              borderColor: "#f56954", //red
	{%endif%}
 
            },
	{%endfor%}
          ],
                  });

      });
</script>

<script>
$(function(){
$('form').ajaxForm({ 
        // target identifies the element(s) to update with the server response 
        target: '.ajax-content', 
	beforeSubmit: showRequest, 
        // success identifies the function to invoke when the server response 
        // has been received; here we apply a fade-in effect to the new content 
        success: function() { 
            $('.ajax-content').fadeIn('slow'); 
	    $(".form-button").text("Filter");
	    $.notify("Filtered", "success"); 
        } 
    }); 



});

// pre-submit callback 
function showRequest(formData, jqForm, options) { 
	$(".form-button").text("Loading..");
    return true; 
} 

</script>
{%endblock%}
