        
       <div class="row">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-heading with-border">
<h3 class="box-title">
PM Report
</h3>
                </div><!-- /.box-header -->
                <div class="panel-body">
                  
<div>
<div class="col-md-12 bg-maroon">
<center><h3>Preventive Maintenance Report  </h3>

<p>Site: {{report_site|upper}}</p>
{%if format == "yearly"%}
Year: {{year}}
{%endif%}
{%if format == "monthly"%}
<p>From: {{from_date}}</p>
<p>To: {{to_date}}</p>
{%endif%}
{%if format == "daily"%}
<p>Date: {{from_date}}</p>
{%endif%}



</center>
</div>
</div>


<div class="row">
<div class="col-md-12 overflow-box">

<table class="tg table bg-gray table-bordered table-hover dataTable " id="dataTable">
<thead>
 <tr class="top-head bg-blue">
    <th class="tg-cell tg-031e">S.No.</th>
    <th class="tg-cell tg-031e">Site</th>
    <th class="tg-cell tg-031e">Equipment<br></th>
    <th class="tg-cell tg-031e">Block/Section<br></th>
    <th class="tg-cell tg-031e">Type<br></th>
    <th class="tg-cell tg-031e">Due Date<br></th>
    <th class="tg-cell tg-031e">Completed on</th>
    <th class="tg-cell tg-031e">Abnormal Observations<br></th>
    <th class="tg-cell tg-031e">Corective Actions<br></th>
    <th class="tg-cell tg-031e">Preventive Actions<br></th>
    <th class="tg-cell tg-031e">Checklists<br></th>
    <th class="tg-cell tg-031e">Checklist Completed<br></th>
    <th class="tg-cell tg-031e">Spares<br></th>
    <th class="tg-cell tg-031e">Status<br></th>
    <th class="tg-cell tg-031e">Report</th>
    <th class="tg-cell tg-031e">Remark</th>
  </tr>
</thead>
<tbody>
{%for pm in reports%}

  <tr>
    <td class="tg-031e">{{forloop.counter}}</td>
    <td class="tg-031e">{{pm.site}}</td>
    <td class="tg-031e">{{pm.equipment}}</td>
    <td class="tg-031e">{%if pm.section%} {{pm.section}}{%else%}{{pm.block}}{%endif%}</td>
    <td class="tg-031e">{{pm.pmschedule.frequency}}</td>
    <td class="tg-031e">{{pm.due_date}}</td>
    <td class="tg-031e">{{pm.completed_date}}</td>
    <td class="tg-031e">{{pm.observations}}</td>
    <td class="tg-031e">{{pm.corrective_action}}</td>
    <td class="tg-031e">{{pm.prevention}}</td>
  
    <td class="tg-031e">{{pm.checklist_items}}</td>
    <td class="tg-031e">{{pm.due_checklist_items}}</td>
    <td class="tg-031e">{{pm.spares}}</td>
    <td class="tg-031e">{{pm.status}}</td>
{%if pm.reports%}
    <td class="tg-031e"><a href="{{pm.report.url}}">Download pdf</a></td>
{%else%}
    <td class="tg-031e">Not uploaded</td>
{%endif%}

    <td class="tg-031e">{{pm.remarks}}</td>
  </tr>
{%empty%}
<tr>
<td colspan="18">No PM tasks compeleted on selected dates 
</td>
</tr>
{%endfor%}
</tbody>
</table>

<a class="pull-right btn btn-default" download="export-energymanager.xls" href="#" onclick="return ExcellentExport.excel(this, 'dataTable', 'Sheet');">Export to Excel</a>
</div>
       
</div>
         
