    </div>              
    </div>              
    </div>              
    </div>              
<div class="col-md-12 bg-red-active" >
<div>
{%if not to_date%}

<center><h3>{{duration|upper}} Breakdown Report Date : {{from_date}} </h3>
{%else%}
<center><h3>{{duration|upper}} Breakdown Report From: {{from_date}} To: {{to_date}} </h3>
{%endif%}
<p>Site: {{site|upper}}</p>
</center>
</div>
</div>

<div>
<div>

<table class="tg table table-bordered table-hover  breakdown-table bg-gray dataTable " id="dataTable">
<thead>
  <tr class="bg-aqua">
    <th class="tg-cell tg-031e">S.No.</th>
    <th class="tg-cell tg-031e">Date</th>
    <th class="tg-cell tg-031e">Equipment<br></th>
    <th class="tg-cell tg-031e">Block <br></th>
    <th class="tg-cell tg-031e">Frame<br></th>
    <th class="tg-cell tg-031e">SMU No.<br></th>
    <th class="tg-cell tg-031e">AJB No. <br></th>
    <th class="tg-cell tg-031e">From <br></th>
    <th class="tg-cell tg-031e">To<br></th>
    <th class="tg-cell tg-031e">Total Time</th>
    <th class="tg-cell tg-031e">Generation Lost(MW)</th>
    <th class="tg-cell tg-031e">Plant Down % </th>
    <th class="tg-cell tg-031e">Error Code</th>
    <th class="tg-cell tg-031e">Fault Description</th>
    <th class="tg-cell tg-031e">Cause</th>
    <th class="tg-cell tg-031e">Current Status</th>
    <th class="tg-cell tg-031e">Action Taken</th>
    <th class="tg-cell tg-031e">Attended By</th>
  </tr>
</thead>
<tbody>
{%for incident in reports%}
  <tr>
    <td class="tg-031e">{{forloop.counter}}</td>
    <td class="tg-031e">{{incident.query.dgr.date}}</td>
    <td class="tg-031e">{{incident.query.inverter}}</td>
    <td class="tg-031e">{{incident.query.block}}</td>
    <td class="tg-031e">{{incident.query.frame}}</td>
    <td class="tg-031e">{{incident.query.smu_no}}</td>
    <td class="tg-031e">{{incident.query.ajb}}</td>
    <td class="tg-031e">{{incident.query.from_time}}</td>
    <td class="tg-031e">{{incident.query.to_time}}</td>
    <td class="tg-031e">{{incident.query.total_time}}</td>
    <td class="tg-031e">{{incident.genloss}}</td>
    <td class="tg-031e">{{incident.per}}</td>
    <td class="tg-031e">{{incident.query.error_code}}</td>
    <td class="tg-031e">{{incident.query.cause}}</td>
    <td class="tg-031e">{{incident.query.reason}}</td>
    <td class="tg-031e">{{incident.query.present_status}}</td>
    <td class="tg-031e">{{incident.query.action_taken}}</td>
    <td class="tg-031e">{{incident.query.attended_by}}</td>
  </tr>
{%empty%}
<tr>
<td colspan="20">No breakdown data!</td>
</tr>
{%endfor%}
</tbody>
</table>

<a class="pull-right btn btn-default" download="export-energymanager.xls" href="#" onclick="return ExcellentExport.excel(this, 'dataTable', 'Sheet');">Export to Excel</a>
</div>
       
</div>
         



