        
       <div class="row">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-heading with-border">
<h3 class="box-title">
PM Report
</h3>
                </div><!-- /.box-header -->
                <div class="panel-body">
                  
<div>
<div class="col-md-12 bg-maroon">
<center><h3>Preventive Maintenance Report  </h3>

<p>Site: {{report_site|upper}}</p>
{%if format == "yearly"%}
Year: {{year}}
{%endif%}
{%if format == "yearwise"%}
From: {{from_year}} - To: {{to_year}}
{%endif%}


{%if format == "monthly"%}
<p>From: {{from_date}}</p>
<p>To: {{to_date}}</p>
{%endif%}
{%if format == "daily"%}
<p>Date: {{from_date}}</p>
{%endif%}



</center>
</div>
</div>


<div class="row">
<div class="col-md-12">
{%for data in reports%}
<table class="tg table bg-gray table-bordered table-hover dataTable " id="dataTable-{{forloop.counter}}">
<thead>
<tr class="bg-teal-active">
<td colspan="12">
{{data.month}}
</t>
</tr> 
 <tr class="top-head bg-blue">
    <td class="tg-cell tg-031e">S.No.</td>
    <td class="tg-cell tg-031e">Site</td>
    <td class="tg-cell tg-031e">Equipment<br></td>
    <td class="tg-cell tg-031e">Block/Section<br></td>
    <td class="tg-cell tg-031e">Type<br></td>
    <td class="tg-cell tg-031e">Checklist Items<br></td>
    <td class="tg-cell tg-031e">Due Checklist<br></td>
    <td class="tg-cell tg-031e">Due Date<br></td>
    <td class="tg-cell tg-031e">Status<br></td>
    <td class="tg-cell tg-031e">Completed on</td>
    <td class="tg-cell tg-031e">Report</td>
    <td class="tg-cell tg-031e">Remark</td>
    <td class="tg-cell tg-031e">Completed by</td>
  </tr>
<thead>
<tbody>
{%for pm in data.pmalerts%}

  <tr>
    <td class="tg-031e">{{forloop.counter}}</td>
    <td class="tg-031e">{{pm.site}}</td>
    <td class="tg-031e">{{pm.equipment}}</td>
    <td class="tg-031e">{%if pm.section%} {{pm.section}}{%else%}{{pm.block}}{%endif%}</td>
    <td class="tg-031e">{{pm.pmschedule.frequency}}</td>
    <td class="tg-031e">{{pm.checklist_items}}</td>
    <td class="tg-031e">{{pm.due_checklist_items}}</td>
    
    <td class="tg-031e">{{pm.due_date}}</td>
    <td class="tg-031e">{{pm.status}}</td>
    <td class="tg-031e">{{pm.completed_date}}</td>
{%if pm.reports%}
    <td class="tg-031e"><a href="{{pm.report.url}}">Download pdf</a></td>
{%else%}
    <td class="tg-031e">Not uploaded</td>
{%endif%}

    <td class="tg-031e">{{pm.remarks}}</td>
    <td class="tg-031e">{{pm.user}}</td>
  </tr>
{%endfor%}
</tbody>
</table>
<a class="pull-right btn btn-default" download="export-energymanager.xls" href="#" onclick="return ExcellentExport.excel(this, 'dataTable-{{forloop.counter}}', 'Sheet');">Export to Excel</a>
{%empty%}
No data to display here!
{%endfor%}

</div>
       
</div>
         
