{%extends 'main/index.html'%}
{%load bootstrap3%}
{%load staticfiles%}

{%block content%}


          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Reports</li>
          </ol>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="box-title">Maintenance Reports</h3>
               </div><!-- /.box-header -->
                <div class="panel-body">

                    {%block search_form%}
  <form class="report-form form-inline form mailbox-controls " action="" method="post" role="form">{%csrf_token%}
              {% bootstrap_form form %}
<div class="form-group pull-right">
              <button type="submit" class="form-button btn btn-primary btn-raised">Generate</button>
</div>
        </form>        

{%endblock%}
      

</div> 
<div class="search-results col-md-12">
</div>


          </div>
                </div>
              </div><!-- /. box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->


{%endblock%}

{%block scripts%}

<script src="{%static "reports.js"%}"></script>

{%endblock%}
