<div class="col-md-12 ">
<div id="calendar"></div>
</div>


<script>

$(function(){

/* initialize the calendar
         -----------------------------------------------------------------*/
        $('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
          },
          buttonText: {
            today: 'today',
            month: 'month',
            week: 'week',
            day: 'day'
          },
          //Random default events
          events: [
        {%for event in events%}  
	  {
              title: '{{event.site}} - {{event.equipment}}',
              start: new Date({{event.due_date.year}},{{event.due_date.month}}-1, {{event.due_date.day}}),

              url: '/pm/alert/{{event.id}}/',
	{%if event.status == "completed"%}

	      backgroundColor: "#00a65a", //Success (green)
              borderColor: "#00a65a", //Success (green)
	{%else%}
              backgroundColor: "#f56954", //red
              borderColor: "#f56954", //red
	{%endif%}
            },
	{%endfor%}
          ],
                  });

      });
</script>
