  
{%extends 'main/index.html'%}
{% load bootstrap3 %}
{% load staticfiles %}


{%block content%}    
           

 
        <section class="content-header">
  
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>

            <li class="active">PM</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
<div class="panel panel-primary">
<div class="panel-body">
{% if messages %}
<div class="alert alert-info" role="alert">
    {% for message in messages %}
   {{ message }}
    {% endfor %}
</ul>
</div>
{% endif %}




               <form action="" method="post" class="mailbox-controls form form-inline" role="form">{%csrf_token%}
    {% bootstrap_form form %}
                    <button class="btn btn-raised btn-primary next-first">Search</button>

                </form>
</div>
</div>
<div class="panel panel-primary">
<div class="panel-heading">
<h1>Preventive Maintenance Tickets</h1>
</div>
<div class="panel-body">
{%include 'prevmain/alerts_tabs.html'%} 

</div>
</div>
           </section> 
{%endblock%}

{%block scripts%}
<script>
$(function(){
$("#id_equipment").select2();
});
</script>
{%endblock%}


{%block extracss%}
<style>
#id_equipment{
width:200px;
}

.select2-container{
width:200px;

}
</style>
{%endblock%}
