  
{%extends 'main/index.html'%}
{% load bootstrap3 %}
{%block content%}    
         <div class="col-md-12"> 
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">PM Report</li>
          </ol>
</div>
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->

{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

 
              <div class="panel panel-default ">
                <div class="panel-heading">
 <h1>
           PM: Upload Report 
            <small>{{site}} </small>
          </h1>        
       </div><!-- /.box-header -->
                <!-- form start -->
                <form action="" method="post" role="form" enctype="multipart/form-data">{%csrf_token%}
                  <div class="panel-body ">
<table class="table bg-teal">
<tr>
<td class="bg-teal-active">Schedule ID</td><td>{{pm.pmschedule.id}}</td>
</tr>
<tr>
<td class="bg-teal-active">Site</td><td><a href="/site/{{pm.site.id}}/">{{pm.site}}</a></td>
</tr>
<tr>
<td class="bg-teal-active">Equipment</td><td>{{pm.equipment}}</td>
</tr>
<tr>
<td class="bg-teal-active">Section/Block</td><td>{%if pm.section%} {{pm.section}} {%else%} {{pm.pmschedule.block}}{%endif%}</td>
</tr>
<tr>
<td class="bg-teal-active">Due Date</td><td>{{pm.due_date}}</td>
</tr>
<tr>
<td class="bg-teal-active">Status</td><td>{{pm.status}}</td>
</tr>
<tr>
<td class="bg-teal-active">Procedure</td><td><a href="{{pm.pmschedule.procedure.url}}">Download</a></td>
</tr>
<tr>
<td class="bg-teal-active">Checklist</td><td><a href="/pm/checklist/{{pm.id}}/">Update Checklist</a></td>
</tr>


</table>



    {% bootstrap_form form %}

                    <button class="btn btn-primary btn-raised next-first">SAVE</button>

                  </div><!-- /.box-body -->

                  <div class="box-footer">
                  </div>
                </form>
              </div><!-- /.box -->






          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

             {%endblock%} 

{%block scripts%}
<script>
$(function(){
$("#id_new_date").datetimepicker();
});
</script> 
{%endblock%}
