  
{%extends 'main/index.html'%}
{% load bootstrap3 %}
{%block content%}    
                    <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">PM Status</li>
          </ol>

        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements -->
<h1>
           PM: View Status 
            <small>{{site}} </small>
          </h1>

{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

 
              <div class="panel panel-default ">
                <form action="" method="post" role="form">{%csrf_token%}
                  <div class="panel-body ">
<table class="table bg-teal">
<tr>
<td class="bg-teal-active">Schedule ID</td><td>{{pm.pmschedule.id}}</td>
</tr>
<tr>
<td class="bg-teal-active">Site</td><td><a href="/site/{{pm.site.id}}/">{{pm.site}}</a></td>
</tr>
<tr>
<td class="bg-teal-active">Equipment</td><td>{{pm.equipment}}</td>
</tr>
<tr>
<td class="bg-teal-active">Location</td><td>{{pm.pmschedule.location}}</td>
</tr>
<tr>
<td class="bg-teal-active">Section/Block</td><td>      {%if pm.section%} {{pm.section}} {%else%} {{pm.pmschedule.block}}{%endif%} </td>
</tr>
<tr>
<td class="bg-teal-active">Due Date</td><td>{{pm.due_date}}</td>
</tr>
<tr>
<td class="bg-teal-active">Status</td><td>{{pm.status}}</td>
</tr>
<tr>
<td class="bg-teal-active">Completed</td><td>{{pm.completed_date}}</td>
</tr>
<tr>
<td class="bg-teal-active">Remarks</td><td>{{pm.remarks}}</td>
</tr>
<tr>
<td class="bg-teal-active">Correction</td><td>{{pm.correction}}</td>
</tr>
<tr>
<td class="bg-teal-active">Correction Action</td><td>{{pm.corrective_action}}</td>
</tr>
<tr>
<td class="bg-teal-active">Prevention</td><td>{{pm.prevention}}</td>
</tr>
{%if pm.report%}
<tr>
<td class="bg-teal-active">Report</td><td><a href="{{pm.report.url}}">Download</a></td>
</tr>
{%else%}
<tr>
<td class="bg-teal-active">Report</td><td>Report not uploaded</td>
</tr>

{%endif%}

<tr>
<td class="bg-teal-active">Updated By</td><td>{{pm.user}}</td>
</tr>












</table>

              </div><!-- /.box -->


 











          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

             {%endblock%} 

{%block dashboardgraphs%}
{%endblock%}
{%block extrajs%}
 
{%endblock%}
