
{%extends 'main/index.html'%}
{%load staticfiles%}
{%load bootstrap3%}
{%block content%}

<div class="row">	
{%if site%}
<h3 class="col-md-6"> Creating site : <b>{{site.city}}</b> </h3>
{%else%}
	<h3 class="col-md-6"> Create a new site location </h3>
{%endif%}
<span class="col-md-6">
<p class="pull-right "><a href="/">Home</a></p>
</span>
</div>
      <div class="register-box-body">
{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

        <p class="">{{display_text}}<span></span></p>
        <form action="" method="post">{%csrf_token%}
              {% bootstrap_form siteform %}


            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Next</button>
            </div><!-- /.col -->
          </div>
        </form>        

        


      </div><!-- /.form-box -->
    </div><!-- /.register-box -->
    {%endblock%}
    <!-- jQuery 2.1.3 -->
    <script src="{%static "lte/plugins/jQuery/jQuery-2.1.3.min.js"%}"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{%static "lte/bootstrap/js/bootstrap.min.js"%}" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="{%static "lte/plugins/iCheck/icheck.min.js"%}" type="text/javascript"></script>
    <script src="{%static "django-formset.min.js"%}" type="text/javascript"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
<script src="//maps.google.com/maps/api/js?sensor=false"></script>
    <script src="{%static "location_field/js/form.js"%}" type="text/javascript"></script>
    <script src="{%static "script.js"%}" type="text/javascript"></script>
  </body>
</html>
