  
{%extends 'main/index.html'%}
{% load bootstrap3 %}
{%block content%}    
           

 
 <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Site Information

          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>

            <li class="active">Site Info</li>
          </ol>
        </section>

        <div class="pad margin no-print">

        <!-- Main content -->
        <section class="invoice">
          <!-- title row -->
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
		      <i class="fa fa-globe"></i> {{site.company}}
              </h2>
            </div><!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">

              <address>
                <strong>Location: {{site.location}}.</strong><br>
		{{site.address}}<br>                
		Phone: {{site.phone}}<br/>
                Email: {{site.email}}
              </address>
            </div><!-- /.col -->
      
            <div class="col-sm-4 invoice-col">


              <b>Capacity:</b> {{site.capacity}}<br/>
              <b>Site Incharge:</b> {{site.incharge}}<br/>
              <b>Site Manager:</b> {{site.manager}}<br/>
            </div><!-- /.col -->
 <div class="col-sm-4 invoice-col">


              <b>Tilt:</b> {{tilt.type}}<br/>
              <b>Angle:</b> {{tilt.angle}}<br/>
              <b>Winter Angle:</b> {{tilt.winter_angle}}<br/>
              <b>Summer Angle:</b> {{tilt.summer_angle}}<br/>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12 table-responsive">
<h2>HT Panels</h2>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Model No.</th>
                    <th>Serial #</th>
                    <th>Make</th>

                  </tr>
                </thead>
                <tbody>
{%for ht in htpanels%}
                  <tr>
                    <td>{{ht.name}}</td>
                    <td>{{ht.model_no}}</td>
                    <td>{{ht.serial_no}}</td>
                    <td>{{ht.make}}</td>

                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12 table-responsive">
<h2>Transformers</h2>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Model No.</th>
                    <th>Serial #</th>
                    <th>Make</th>
                    <th>HT Panel</th>

                  </tr>
                </thead>
                <tbody>
{%for ht in transformers%}
                  <tr>
                    <td>{{ht.name}}</td>
                    <td>{{ht.model_no}}</td>
                    <td>{{ht.serial_no}}</td>
                    <td>{{ht.make}}</td>
                    <td>{{ht.htpanel}}</td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div><!-- /.col -->
          </div><!-- /.row -->

<!-- Table row -->
          <div class="row">
            <div class="col-xs-12 table-responsive">
<h2>Inverters</h2>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Model No.</th>
                    <th>Serial #</th>
                    <th>Make</th>
                    <th>Transformer</th>

                  </tr>
                </thead>
                <tbody>
{%for ht in inverters%}
                  <tr>
                    <td>{{ht.name}}</td>
                    <td>{{ht.model_no}}</td>
                    <td>{{ht.serial_no}}</td>
                    <td>{{ht.make}}</td>
                    <td>{{ht.transformer}}</td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div><!-- /.col -->
          </div><!-- /.row -->

<!-- Table row -->
          <div class="row">
            <div class="col-xs-12 table-responsive">
<h2>AJB</h2>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Model No.</th>
                    <th>Serial #</th>
                    <th>Make</th>
                    <th>Inverter</th>

                  </tr>
                </thead>
                <tbody>
{%for ht in ajb%}
                  <tr>
                    <td>{{ht.name}}</td>
                    <td>{{ht.model_no}}</td>
                    <td>{{ht.serial_no}}</td>
                    <td>{{ht.make}}</td>
                    <td>{{ht.transformer}}</td>
                  </tr>
{%empty%}
<p> Information not available</p>
                  {%endfor%}
                </tbody>
              </table>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <!-- this row will not appear when printing -->
        </section><!-- /.content -->
        <div class="clearfix"></div>
      </div><!-- /.content-wrapper -->
 
{%endblock%}
