
<a href="/inverter_generation/?date={{date.month}}/{{date.day}}/{{date.year}}&site={{site.id}}&download=true"
 class="btn btn-info">Download CSV</a>
{%for inverter in inv_reports%}
<div class="panel-group" role="tablist"> <div class="panel panel-default"> <div class="panel-heading" role="tab" id="collapseListGroupHeading-{{forloop.counter}}"> <h4 class="panel-title"> <a href="#collapseListGroup-{{forloop.counter}}" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup-{{forloop.counter}}">

<span {%if inverter.deviation%}style="color:red" {%endif%}>
 {{inverter.inverter}} - {{inverter.gen}} kWh 
</span>
<p><small> PR: {{inverter.pr}} % <br>
{%if inverter.message%}<span class="bg-danger"><i class="glyphicon glyphicon-warning-sign"> </i> {{inverter.message}}</span>
 <br> Deviation: {{inverter.deviation}} % {%endif%} </small></p> </a> </h4> </div> <div class="panel-collapse collapse" role="tabpanel" id="collapseListGroup-{{forloop.counter}}" aria-labelledby="collapseListGroupHeading-{{forloop.counter}}" aria-expanded="false" style="height: 0px;"> 
<ul class="list-group">
{%for cubicle in inverter.cubicles%}
 <li class="list-group-item">{{cubicle.cubicle}} - {{cubicle.gen}} kWh</li> 
{%endfor%}

</ul>  </div> </div> </div>

{%endfor%}

